  <div id="embedded-search-area" class="embedded_search search-bar home-search-embedded">
    <div id="embedded-search-header">
      <h3><span class="icon-fr2-Search"></span> <span>Search Federal Register Documents</span></h3>
    </div>
    <hr>

    <%= semantic_form_for :conditions,
      url: documents_search_path,
      html: {
        method: :get,
        id: "embedded_entry_search_form",
        class: 'documents'
      } do |f| %>

      <div id="search-input" data-controller="placeholder">
        <%= f.text_field :term,
          class: 'search-term',
          placeholder: t('search.placeholder'),
          data: {
            action: "click->placeholder#suggestions",
            suggestions_target: "nonModalInput"
          }
          %>

        <%= f.button fr_icon('Search').html_safe,
          class: 'search-submit',
          id: 'conditions_submit',
          "aria-label" => 'Search' %>
      </div>

      <span id="expected_result_count" class="search-result-count">
        <%= number_with_delimiter(Document.search_metadata(conditions: {}).count) %> documents
      </span>

      <ul>
        <li class="check_boxes optional" id="conditions_type_input">
          <fieldset>
            <legend class="label">
              <label for="conditions_type">Document Category</label>
            </legend>

            <ol>
              <%  DocumentType.document_types_for_search.each do |doc_type| %>
                <li>
                  <label for="conditions_type_<%= doc_type.identifier %>">
                    <input name="conditions[type][]" type="hidden" value="">
                    <input id="conditions_type_<%= doc_type.identifier %>"
                      name="conditions[type][]"
                      type="checkbox" value="<%= doc_type.granule_class %>">
                    <%= doc_type.display_type %>
                  </label>
                </li>
              <% end %>
            </ol>
          </fieldset>
        </li>
      </ul>
      <span id="old-doc-availability-message" class="small-right">
        <em>Note: Documents older than 1994 are not searchable but can be found by FR citation.</em>
      </span>
    <% end %>
  </div>
