  <div id="embedded-search-area" class="embedded_search search-bar home-search-embedded">
    <h3 class="with-icon">
      <span class="icon-fr2-Search"></span>
      Search Federal Register Documents Since 1994

      <span id="old-doc-availability-message" class="small-right">
        Older documents may be available in PDF format at
        <a href='https://www.govinfo.gov/app/collection/fr'>govinfo.gov</a>
      </span>
    </h3>

    <%= semantic_form_for :conditions,
      url: documents_search_path,
      html: {
        method: :get,
        id: "embedded_entry_search_form",
        class: 'documents'
      } do |f| %>

      <div id="search-input">
        <label>Find</label>
        <%= f.text_field :term,
          class: 'search-term',
          placeholder: 'Search term or citation' %>

        <%= f.button fr_icon('Search').html_safe,
          class: 'search-submit',
          id: 'conditions_submit',
          "aria-label" => 'Search' %>
      </div>

      <span id="expected_result_count" class="search-result-count">
        <span class="document-count"></span>
        <span class="loader"></span>
      </span>

      <div id="doc-type-filter" class="doc-type-filter">
        <ul>
          <%  DocumentType.document_types_for_search.each do |doc_type| %>
            <li class="doc_<%= doc_type.identifier %>"
              data-filter-doc-type="<%= doc_type.identifier %>"
              data-filter-doc-type-display="<%= doc_type.display_type %>"
              original-title="">
                <div aria-hidden="true"
                  class="icon-fr2 icon-fr2-<%= doc_type.identifier %>"></div>
            </li>
          <% end %>
        </ul>
      </div>

      <ul>
        <li class="check_boxes optional" id="conditions_type_input">
          <fieldset>
            <legend class="label">
              <label for="conditions_type">Document Category</label>
            </legend>

            <ol>
              <%  DocumentType.document_types_for_search.each do |doc_type| %>
                <li>
                  <label for="conditions_type_<%= doc_type.identifier %>">
                    <input name="conditions[type][]" type="hidden" value="">
                    <input id="conditions_type_<%= doc_type.identifier %>"
                      name="conditions[type][]"
                      type="checkbox" value="<%= doc_type.granule_class %>">
                    <%= doc_type.display_type %>
                  </label>
                </li>
              <% end %>
            </ol>
          </fieldset>
        </li>
      </ul>
    <% end %>
  </div>
