<div class="fr-2-3 with-icon-header">
  <h4 class="with-icon">
    <span class="icon-fr2 icon-fr2-Temperature"></span>
    Popular Documents
  </h4>
  <!-- <table class="fr-table-stats fr-table"> -->

  <% popular_docs = [
    ['rule',
      'Child Restraint Systems',
      354, 72, 998, 42],
    ['rule',
      'Shared Responsibility for Employers Regarding Health Coverage',
      267, 75, 628, 39],
    ['rule',
      'Uniform Administrative Requirements, Cost Principles, and Audit Requirements for Federal Awards',
      402, 81, 31, 9],
    ['proposed_rule',
      'Food Labeling: Revision of the Nutrition and Supplement Facts Labels',
      187, 56, 'NA', 18],
    ['proposed_rule',
      'Annual Update of the HHS Poverty Guidelines',
      124, 34, 323, 89],
    ['notice',
      'CLIA Program and HIPAA Privacy Rule; Patients\' Access to Test Reports',
      424, 324, 3, 'NA'],
  ] %>
  <% popular_docs.each do |doc| %>
    <div class="fr-list with-stats">
      <span class="rule_type with-tooltip-e mini icon-fr2-<%= doc[0] %>"
            data-tooltip="<%= doc[0].gsub('_', ' ').titlecase %>">
      </span>
      <a href="#" class="fr-link"><%= doc[1] %></a>
      <ul class="fr-link-stats">
        <li class="with-tooltip" data-tooltip="Number of views on FederalRegister.gov">
          <i class="icon-fr2 icon-fr2-Eye"></i>
          <%= doc[2] %>
        </li>
        <li class="with-tooltip" data-tooltip="Number of times emailed to a friend">
          <i class="icon-fr2 icon-fr2-message with-tooltip"></i>
          <%= doc[3] %>
        </li>
        <li class="with-tooltip" data-tooltip="Number of public comments on Regulations.gov">
          <i class="icon-fr2 icon-fr2-Chat with-tooltip"></i>
          <%= doc[4] %>
        </li>
        <li class="with-tooltip" data-tooltip="Number of times mentioned on Twitter">
          <i class="icon-fr2 icon-fr2-twitter with-tooltip"></i>
          <%= doc[5] %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
