<li class="result_item" data-document-number="<%= entry.document_number %>">
  <h4><%= link_to sanitize(entry.title, :tags => %w(span), :attributes => %w(class)), document_path(entry) %></h4>

  <div class="my_fr2 share">
    <ul>
      <li class="clip_for_later">
        <%# render :partial => 'documents/add_to_clipboard', :locals => {:entry => entry} %>
      </li>
    </ul>
  </div>

  <div class="result_info">
    <span class="excerpts">
      <%= entry.excerpts.html_safe %>
      <%= 
      if (search.term.blank? && entry.abstract.present?) || entry.excerpts.blank?
        sanitize entry.abstract, :tags => %w(span), :attributes => %w(class)
      else
        sanitize entry.excerpts, :tags => %w(span), :attributes => %w(class)
      end %></span>
  </div>
  <ul class="metadata">
    <li>
      <%= entry.display_type.indefinite_article.capitalize %> <span class='entry_type'><%= entry.display_type %></span>
      by <%= entry.agency_names %> on
      <%= link_to date_tag(entry.publication_date, :datetime => entry.publication_date.to_s(:iso)), documents_path(entry.publication_date) %>
    </li>
    <li class="pdf"><%= link_to 'PDF', entry.pdf_url, :class => 'button format pdf small' %></li>
  </ul>  
</li>

