<% meta_description truncate_words(
    strip_tags(@presenter.description),
    :length => 300
  ) %>

<% @presenter.feed_urls.each do |feed| %>
  <%= feed_autodiscovery documents_search_url(
      conditions: @presenter.search_conditions,
      format: :rss
    ),
    feed.public_inspection_search_possible,
    feed.description,
    search_conditions: feed.search_conditions %>
<% end %>

<% title do %>
  <%= fr_icon('Search') %>
  Suggested Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>

      <div class="page-summary">
        <div class="row">
          <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
            <h1>
              <%= @presenter.title %>
            </h1>

            <div class="search-actions">
              <p class="pull-left">
                <%= link_to documents_search_path(
                      conditions: @presenter.search_conditions,
                      order: "newest", skip_results: '1', anchor: 'advanced'
                    ),
                    class: "search" do %>
                    <%= fr_icon('Search') %>
                    Customize this search
                <% end %>
              </p>

              <p class="subscribe-wrapper pull-right">
                <%= subscribe_link(@presenter.search_conditions) %>
              </p>
            </div>

            <%= auto_link simple_format(@presenter.description) %>
            <%#= add_citation_links(auto_link(simple_format(@canned_search.description))) %>
          </div>
        </div>

        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
            <%= document_frequency_sparklines(
              'Matching Document Frequency',
              [
                @presenter.weekly_sparkline,
                @presenter.monthly_sparkline,
                @presenter.quarterly_sparkline,
              ]
            ) %>
          </div>
        </div>
      </div>

      <div class="search-results-wrapper">
        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
            <%= render partial: 'search/results_header',
              locals: {
                per_page: @presenter.per_page,
                placement: 'top',
                result_count: @presenter.documents.count,
                search_conditions: @presenter.search_conditions,
                section: @presenter.section,
                total_documents: @presenter.total_documents,
              } %>
          </div>
        </div>

        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
            <%= render partial: 'search/results',
              locals: {
                type: :official,
                documents: @presenter.documents
              }
            %>
          </div>
        </div>

        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
            <%= render partial: 'search/results_header',
              locals: {
                per_page: @presenter.per_page,
                placement: 'bottom',
                result_count: @presenter.documents.count,
                search_conditions: @presenter.search_conditions,
                section: @presenter.section,
                total_documents: @presenter.total_documents,
              } %>
          </div>
        </div>
      </div>

    </div>
  </div>

<% end %>
