<h4><%= type.capitalize %> Filter</h4>
<ul class="list-item-filter live-filter">
  <li>
    <label for="live_filter_<%= type.downcase.pluralize %>" class="hide">
      Filter <%= type.capitalize.pluralize %>
    </label>
    <input title="Filter <%= type.downcase.pluralize %>" placeholder="Filter <%= type.capitalize.pluralize %>"
      id="live-filter-<%= type.downcase.pluralize %>">
  </li>
</ul>
