<!-- B.C. TODO: Remove and replace with class-based descendant selector
called index-agency-page-summary -->
<div id="fr-index-agency-metadata" class="page_summary">
  <h1>
    <%= link_to agency_name, agency_path(agency_slug), :class => 'agency' %>
  </h1>
  <%= link_to "Return to the agency list for the #{year} FR Index", index_year_path(year), class: "return-to-index" %>

  <hr />

  <!-- B.B. TODO: Turn this into a helper and allow arbitrary conditions to be passed. -->
  <%#= render :partial => 'agencies/embedded_search', :locals => {:search => @search, :agency_year => year} %>

  <!-- B.C. TODO: Connect description/link to live API endpoint once developed. -->
  <%# if agency_year.last_published %>
    <%= link_to root_path do %>
      <span class="icon-fr2 icon-fr2-doc-pdf"></span> Stubbed: Download Approved December 2014 <%= agency_name %> Index (PDF)
    <% end %>
  <%# end %>

  <hr />

  <p>
    <% if year == Date.current.strftime("%Y")%>
    <!-- TODO: Are we sure year input is integer -->
      As of <strong>Stubbed Date<%#= agency_year.max_date.strftime("%B %e, %Y") %></strong> the
      <%= agency_name %> has published <%= pluralize total_document_count, "document" %> in <%= year %>.
    <% else %>
      In <%= year %>, the <%= agency_name %> published <%= pluralize total_document_count, "document" %>.
    <% end %>
  </p>

  <table>
    <tr>
      <th>Document Type</th>
      <th>Documents Published</th>
      <th>Subjects Covered</th>
    </tr>
    <% document_types.try(:each) do |document_type| %>
    <tr>
      <td class="type"> <%= link_to document_type.name, document_type.anchor_link %></td>
      <td class="entry-count"> <%= document_type.document_count %></td>
      <td class="subject-count"> <%= document_type.subject_count %></td>
    </tr>
    <% end %>
  </table>
</div>
