<h1 id='<%="letter-#{letter}"%>' class="agency-letter">
  <%= letter.upcase %>
  <%= link_to 'back to top', '#agency-top-nav' %>
</h1>

<ul class="parent-agency">
  <% agencies.each do |agency| %>
    <li>
      <% if agency.slug.present? %>
        <%= link_to agency.name,
          year_agency_index_path(year, agency.slug),
          id: agency.slug %>
      <% else %>
        <%= agency.name %>
      <% end %>

      <% if agency.count > 1 %>
        <span class="count-pill cj-tooltip reader-aid"
          data-tooltip='<%="Documents published in #{year}" %>'
          data-tooltip-gravity="w">
          <%= agency.count %>
        </span>
      <% end %>

      <ul class="see-references">
        <% agency.see_also_references.each do |child_agency| %>
          <li>
            <span class="see-reference">See</span>
            <%= link_to(child_agency.name, agency.slug.nil? ?
             "##{child_agency.slug}" : year_agency_index_path(year, child_agency.slug) )%>

            <% if child_agency.count > 1 && agency.slug.present?  %>
              <span class="count-pill reader-aid"
                 data-tooltip=
                 "<%="Documents published in #{year}" %>">
                 <%= child_agency.count %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
