<div class='toc-documents'>
  <h7>
    <%= link_to(subject, "#", class: "toggle",
    'data-toggle-target' => "##{documents.first.document_number}", 'data-toggle-text-node' => "" ) %>
    <%= content_tag("span", documents.size, class: "count_pill") if documents.size > 1 %>
  </h7>
  <div id="<%= documents.first.document_number %>" class="toc-metadata-wrapper">
    <% documents.group_by{|d|d.publication_date.to_date.month}.each do |month, grouped_documents| %>
      <% grouped_documents.each_with_index do |document, index| %>
        <div class="row toc-document-metadata">
            <dl class="col-xs-1 col-md-1">
            </dl>
            <dl class="col-xs-2 col-md-2">
              <% if index == 0%>
                <%= Date::MONTHNAMES[month] %>
              <% end %>
            </dl>
            <dl class="col-xs-3 col-md-3">
              <dt>Published</dt>
              <dd><%= link_to(document.publication_date, document.html_url) %></dd>
            </dl>
            <dl class="col-xs-3 col-md-3">
              <dt>FR Document</dt>
              <dd><%= link_to(document.document_number, document.html_url) %></dd>
            </dl>
            <dl class="col-xs-3 col-md-3">
              <dt>Pages</dt>
              <dd><%= link_to(document.page_range, document.pdf_url) %>
                  (<%= pluralize(document.length, "Page") %>)</dd>
              <%= fr_icon("globe") if false %>
              <% if document.regulations_dot_gov_info %>
              <%= fr_icon("alert") if document.regulations_dot_gov_info["comments_count"] > 0 %>
              <% end %>
            </dl>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
