<div class='toc-documents'>
  <div id="<%= documents.first.document_number %>" class="toc-metadata-wrapper">
    <% documents.group_by{|d|d.publication_date.to_date.month}.each do |month, grouped_documents| %>
      <% grouped_documents.each_with_index do |document, index| %>
        <div class="row toc-document-metadata">
          <div class="with-ajax-popover" data-document-title="<%=document.title%>"
               data-document-number="<%= document.document_number %>">
            <div class="<%= bootstrap_col xs: 1, md: 1 %>"></div>
            <div class="<%= bootstrap_col xs: 2, md: 2 %>">
              <% if index == 0 %>
                <%= Date::MONTHNAMES[month] %>
              <% end %>
            </div>
            <div class="<%= bootstrap_col xs: 3, md: 3 %>">
              <dl>
                <dt>Published</dt>
                <dd><%= link_to(document.publication_date, document_issue_url(document.publication_date)) %></dd>
              </dl>
            </div>
            <div class="<%= bootstrap_col xs: 4, md: 4 %>">
              <dl>
                <dt>FR Document</dt>
                <dd class="document_number">
                  <%= link_to(document.document_number, document.html_url) %>
                </dd>
              </dl>

              <dl>
                <dt class="toc-pdf">
                  <%= link_to document.pdf_url do %>
                    <%= fr_icon 'doc-pdf' %> PDF
                  <% end %>
                </dt>
                <dd>
                  <%= "Page".pluralize(document.pages) %> <%= document.page_range %>
                  <em>(<%= pluralize(document.pages, "page") %>)</em>
                </dd>
              </dl>
            </div>
            <div class="<%= bootstrap_col xs: 2, md: 2 %>">
              <%= fr_icon("globe") if false %>
              <% if document.has_comments? %>
                <span class="cj-tooltip" data-tooltip="Has received public comments">
                  <%= fr_icon("Chat") %>
                </span>
              <% end %>
              <% if document.significant %>
                <span class="cj-tooltip" data-tooltip="Has been deemed significant under EO 12866">
                  <%= fr_icon("Star") %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
