  <div class='title-bar'>
    <h1><%= presenter.name %></h1>

    <%= form_tag('', method: :get, id: "fr-index-year-select") do %>
      <%= label_tag :year, "View other years:" %>
      <%= select_tag :year,
        options_for_select(presenter.available_years, presenter.year),
        value: presenter.year %>
    <% end %>
  </div>

  <div id="agency-top-nav">
    <p>
      This index provides descriptive entries and Federal Register page numbers
      for documents published in the daily Federal Register. It includes entries,
      with select metadata for all documents published in the <%= presenter.year %>
      calendar year.
    </p>

    <p>
      Each agency below is followed by a count that represents the number of
      documents for that agency in the <%= presenter.year %> FR Index. The count
      is omitted for agencies publishing less than 2 documents in a given year.
    </p>

    <% if presenter.date_last_issue_published %>
      <p>
        This online index is current as of
        <strong><%= presenter.date_last_issue_published.to_s(:month_day_year) %></strong>.
      </p>
    <% end %>

    <% if presenter.agency_representations.present? %>
      <% if presenter.index_pdf_url %>
        <p>
          <%= link_to presenter.index_pdf_url do %>
            <span class="icon-fr2 icon-fr2-doc-pdf"></span> <%= "Download Approved #{presenter.index_pdf_month} #{presenter.year} Index (PDF)" %>
          <% end %>

          <hr />
        </p>
      <% end %>

      <hr>

      <p>
        Jump to Agencies:
        <%= presenter.agency_representations_by_first_letter.keys.map{
          |letter| (link_to(letter.upcase, "#letter-#{letter}"))
        }.join(' | ').html_safe %>
      </p>
    <% end %>
  </div>
