<div class="row">
  <div class='<%= bootstrap_col(xs: 12, md: 12) %> title-bar'>
    <h1><%= presenter.name %></h1>

    <%= form_tag('', method: :get, id: "fr-index-year-select") do %>
      <%= label_tag :year, "View other years:" %>
      <%= select_tag :year,
        options_for_select(presenter.available_years, presenter.year),
        value: presenter.year %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class='<%= bootstrap_col(xs: 12, md: 12) %>' id="agency-top-nav">
    <p>
      This index provides descriptive entries and Federal Register page numbers
      for documents published in the daily Federal Register. It includes entries,
      with select metadata for all documents published in the <%= presenter.year %>
      calendar year.
    </p>

    <p>
      Each agency below is followed by a count that represents the number of
      documents for that agency in the <%= presenter.year %> FR Index. The count
      is omitted for agency publishing less than 2 documents in a given year.
    </p>

    <% if presenter.date_last_issue_published %>
      <p>
        This online index is current as of
        <strong><%= presenter.date_last_issue_published.to_s(:month_day_year) %></strong>.
      </p>
    <% end %>

    <%# TODO: implement this - BB %>
    <%# <p> %>
      <%#= link_to '' do %>
        <%# B.B. TODO: Bob to review implementation possibilities. %>
        <%#<span class="icon-fr2 icon-fr2-doc-pdf"></span>
        Stubbed: Download Approved December 2014 Index (PDF) %>
      <%# end %>
    <%# </p> %>

    <hr>

    <p>
      Jump to Agencies:
      <%= presenter.agency_representations_by_first_letter.keys.map{
        |letter| (link_to(letter.upcase, "#letter-#{letter}"))
      }.join(' | ').html_safe %>
    </p>
  </div>
</div>
