<% header_type 'reader-aids' %>
<% page_title "#{@presenter.name} :: #{@presenter.agency_name}" %>
<% description @presenter.description %>

<%= add_handlebars_template('fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_handlebars_template('fr_index_entry_popover_content',
                            'fr-index-entry-popover-content') %>

<% title title_bar_class: "reader-aids" do %>
  <%= fr_icon('indent') %>
  <%= @presenter.name %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row fr-index">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">

      <div class="page-summary">
        <%= render partial: 'indexes/agency_year_header', locals: {
          presenter: @presenter
        } %>
      </div>

      <div class="row">
        <div class="<%= bootstrap_col xs: 12, md: 12 %> doc-toc">
          <%= fr_content_box(
            FrBox.build(
              @presenter.fr_content_box_type,
              title: @presenter.name,
              description: @presenter.description
            )
          ) do %>
            <div class="doc doc-document-issue">
              <%= render partial: 'issues/table_of_contents', locals: {
                agencies: @presenter.agency,
                document_partial: @presenter.document_partial,
                display_agency_name: false,
                fr_index: true
              } %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

<% end %>
