<% header_type 'reader-aids' %>
<% page_title @presenter.name %>
<% description @presenter.description %>

<% title title_bar_class: "reader-aids" do %>
  <%= fr_icon('indent') %>
  <%= @presenter.name %>
<% end %>


<%= bootstrap_context_wrapper do %>
  <div class="row fr-index">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">

      <%= render partial: "index_year_header", locals: {
        presenter: @presenter
      } %>

      <div class="row">
        <div class="<%= bootstrap_col xs: 12, md: 12 %> doc-toc">
          <%= fr_content_box(
            FrBox.build(
              @presenter.fr_content_box_type,
              title: @presenter.name,
              description: @presenter.description
            )
          ) do %>
              <% @presenter.agency_representations_by_first_letter.each do
                |letter, agencies| %>
                <%= render partial: "agency_by_letter",
                      locals: {
                        letter: letter,
                        agencies: agencies } %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
