<%= add_handlebars_template('fr_index_entry_popover', 'fr-index-entry-popover') %>
<%= add_handlebars_template('fr_index_entry_popover_content',
                            'fr-index-entry-popover-content') %>

<div class="title document-issue">
  <span><%= @presenter.year %> FR Index</span>
</div>

<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper">
    <div class="container fixed">

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= render partial: 'indexes/agency_year_header',
              locals: {year: @presenter.year,
                       agency_name: @presenter.agency_name,
                       agency_slug: @presenter.agency_slug,
                       document_type_counts: @presenter.document_type_counts
                      } %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 doc-toc">
          <%= fr_box "Documents", :official_toc, header: {seal: true} do %>
            <div class="doc doc-document-issue">
              <%= render partial: 'document_issues/table_of_contents', locals: {
                agencies: @presenter.agency,
                document_partial: @presenter.document_partial
              } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="clearfix" style="height: 100px;"></div>
    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
