<% page_title "Executive Order" %>

<%= title do %>
  <%= fr_icon 'documents' %>
  EO <%= sanitize(@eo_number) %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <% if @fr_archives_citation %>
    <%= render partial: 'links_to_fr_archives' %>
  <% elsif @presidential_document %>
    <div class='presidential-documents normal-link-coloration'>
      <div class="row presidential-document-wrapper">
        <%= render partial: 'shared/disposition_table_entry',
              locals: {
                presidential_document: @presidential_document,
                presenter: OpenStruct.new(type: 'executive_orders')
              } %>
      </div>
    </div> 
  <% else %>
    <p>No executive order was found with citation <b>EO <%= sanitize(@eo_number) %></b>.</p>
  <% end %>
<% end %>
