<% page_title "Federal Register Citation" %>

<%= title do %>
  <%= fr_icon 'documents' %>
  <%= @volume %> FR <%= @page %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row citation">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <% if @documents && @error.nil? %>
        <%= flash_message :success do %>
          Multiple documents found for the citation
          <span class="citation"><%= @volume %> FR <%= @page %></span>.
        <% end %>

        <ul class="fr-list">
          <% @documents.each do |document| %>
            <li>
              <h6>
                <%= simple_document_type_icon document.type,
                  icon_class: document.official? ? 'official' : 'published' %>
                <%= link_to document.title, document.html_url %>
              </h6>

              <div class="citation-details">
                <span class="agencies">
                  A <%= document.document_type.display_type %> by <%= document.agency_name_sentence %>;
                </span>

                <span class="page-range">
                  <%= pluralize_without_count(document.pages, 'Page') %> <%= document.page_range %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% if @citation.try(:pdf_url) %>
          <%= flash_message :success do %>
            A citation was locationed for
            <span class="citation"><%= @volume %> FR <%= @page %></span>.
          <% end %>
          <ul class="fr-list">
            <li>
              <h6>
                <%= link_to "#{@volume} FR #{@page} Optimized Version (#{number_to_human_size(@citation.optimized_file_size)})",
                      @citation.pdf_url %>
              </h6>
              <div class="citation-details">
                <%= link_to "Full Government Publishing Office Version (#{number_to_human_size(@citation.original_file_size)})",
                      @citation.gpo_url %>
              </div>
            </li>
          </ul>
        <% end %>

        <% if @error %>
          <%= flash_message :error do %>
            <%= @error %>
            <span class="citation"><%= @volume %> FR <%= @page %></span>.
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
