<% page_title "Federal Register Citation" %>

<%= title do %>
  <%= fr_icon 'documents' %>
  <%= @volume %> FR <%= @page %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row citation">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <% if @documents %>
        <%= flash_message :success do %>
          Multiple documents found for the citation
          <span class="citation"><%= @volume %> FR <%= @page %></span>.
        <% end %>

        <ul class="fr-list">
          <% @documents.each do |document| %>
            <li>
              <h6>
                <%= simple_document_type_icon document.type,
                  icon_class: document.official? ? 'official' : 'published' %>
                <%= link_to document.title, document.html_url %>
              </h6>

              <div class="citation-details">
                <span class="agencies">
                  A <%= document.document_type.display_type %> by <%= document.agency_name_sentence %>;
                </span>

                <span class="page-range">
                  <%= pluralize_without_count(document.pages, 'Page') %> <%= document.page_range %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% if @fr_archives_citation.pdf_url %>

          <%= flash_message :success do %>
            An issue was located for citation
            <span class="citation"><%= @volume %> FR <%= @page %></span>.
          <% end %>
          <ul class="fr-list">
            <li>
              <h6>
                <%= link_to "#{@volume} FR #{@page} Size-optimized Pages (#{number_to_human_size(@fr_archives_citation.optimized_file_size)})",
                      @fr_archives_citation.pdf_url %>
              </h6>
              <h6>
                <%= link_to "#{@volume} FR #{@page} Full Government Publishing Office Issue (#{number_to_human_size(@fr_archives_citation.original_file_size)})",
                      @fr_archives_citation.gpo_url %>
              </h6>
            </li>
          </ul>

        <% else %>

          <%= flash_message :error do %>
            No documents found with citation
            <span class="citation"><%= @volume %> FR <%= @page %></span>.
          <% end %>

        <% end %>

        <% if @fr_archives_citation.before_archives? %>
          <p>
            Older volumes may be available online at
            <a href='https://www.gpo.gov/fdsys/browse/collection.action?collectionCode=FR'>FDSys</a>
            or via a
            <a href="https://catalog.gpo.gov/fdlpdir/public.jsp" class="external">Federal Depository Library</a>.
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
