<% page_title "Federal Register Citation" %>

<%= title do %>
  <%= fr_icon 'documents' %>
  <%= @volume %> FR <%= @page %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row citation">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <% if @documents %>
        <%= flash_message :success do %>
          Multiple documents found for the citation
          <span class="citation"><%= @volume %> FR <%= @page %></span>.
        <% end %>

        <ul class="fr-list">
          <% @documents.each do |document| %>
            <li>
              <h6>
                <%= simple_document_type_icon document.type,
                  icon_class: document.official? ? 'official' : 'published' %>
                <%= link_to document.title, document.html_url %>
              </h6>

              <div class="citation-details">
                <span class="agencies">
                  A <%= document.document_type.display_type %> by <%= document.agency_name_sentence %>;
                </span>

                <span class="page-range">
                  <%= pluralize_without_count(document.pages, 'Page') %> <%= document.page_range %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% if @fr_archives_citation.pdf_url %>

          <%= flash_message :success do %>
            An issue was located for citation
            <span class="citation"><%= @volume %> FR <%= @page %></span>.
          <% end %>
          <p>
            The 1936-1994 official print volumes of the Federal Register have been
            digitalized and are available online in PDF format.
            <% if @fr_archives_citation.publication_date %>
              We found the following published on
              <%= @fr_archives_citation.publication_date.to_s(:month_day_year) %>.
            <% end %>
          </p>

          <ul class="fr-list">
            <li>
              <h6>
                <%= link_to "#{@volume} FR #{@page} :: Document View (#{number_to_human_size(@fr_archives_citation.optimized_file_size)})",
                      @fr_archives_citation.pdf_url %>
              </h6>
            </li>
            <li>
              <h6>
                <%= link_to "#{@volume} FR #{@page} :: Full Archival Issue (#{number_to_human_size(@fr_archives_citation.original_file_size)})",
                      @fr_archives_citation.gpo_url %>
              </h6>
            </li>
          </ul>

        <% else %>

          <%= flash_message :error do %>
            No documents found with citation
            <span class="citation"><%= @volume %> FR <%= @page %></span>.
          <% end %>
          <p>You may be able to find this FR citation and download the document from the Government Publishing Office's Federal Register archives on <%= link_to "govinfo.gov", 'https://www.govinfo.gov/app/collection/fr' %>.</p>

        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
