<% page_title "Federal Register Citation" %>

<%= title do %>
  <%= fr_icon 'documents' %>
  <%= @volume %> FR <%= @page %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row citation">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <% if @documents %>
        <%= flash_message :success do %>
          Multiple documents found for the citation
          <span class="citation"><%= @volume %> FR <%= @page %></span>.
        <% end %>

        <ul class="fr-list">
          <% @documents.each do |document| %>
            <li>
              <h6>
                <%= simple_document_type_icon document.type,
                  icon_class: document.official? ? 'official' : 'published' %>
                <%= link_to document.title, citation_link_with_page_number(document, @page) %>
              </h6>

              <div class="citation-details">
                <span class="agencies">
                  A <%= document.document_type.display_type %> by <%= document.agency_name_sentence %>;
                </span>

                <span class="page-range">
                  <%= pluralize_without_count(document.pages, 'Page') %> <%= document.page_range %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= render partial: 'links_to_fr_archives', locals: {include_flash_messages: true} %>
      <% end %>
    </div>
  </div>
<% end %>
