<div class="title"><span>My FR</span></div>

<div class="signup_bar">
  <h2>Resend confirmation instructions</h2>

  <p>We're sorry your confirmation email has expired. Please enter your email address below to recieve a new one.</p>

  <%= semantic_form_for resource, :as => resource_name, :url => confirmation_path(resource_name), :authenticity_token => false, :html => { :method => :post } do |f| %>
    <%= f.inputs do %>
      <%= f.input :email, :as => :email %>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Resend confirmation instructions" %>
    <% end %>
  <% end %>
</div>
