<div id="<%= html_options[:wrapper_id] %>" class="carousel-wrapper <%= html_options[:wrapper_class] %>">
  <div class='carousel-scroller'>
    <ul>
      <% highlights.each do |highlight| %>
        <% next unless highlight.photo.present? %>
        <% document = documents.select{|d|
          d.document_number == highlight.document_number
        }.first %>
        <% next if document.nil? %>
        <li>
          <div class='carousel-rounded-box'>
            <div class='text-wrapper'>
              <h2>
                <%= simple_document_type_icon document.type %>
                <%= link_to highlight.curated_title, highlight.html_url %>
              </h2>
              <p class="metadata" >
                by <%= document.agency_name_sentence %>
                on
                <%= link_to date_tag(
                    document.publication_date,
                    datetime: document.publication_date.to_s(:iso)
                  ),
                  document_issue_path(document.publication_date)
                %>
              </p>

              <% if description == "inside" %>
                <p class="summary">
                  <%= truncate_words(highlight.curated_abstract.strip, length: 500) %>
                </p>
              <% end %>
            </div>
            <div class='text-wrapper-bg'></div>

            <% if highlight.photo['credit'].present? %>
              <div class='attribution'>
                photo by:
                <%= link_to highlight.photo['credit']['name'],
                  highlight.photo['credit']['url'] %>
              </div>
              <div class='attribution-bg'></div>
            <% end %>

            <%= image_tag highlight.photo['urls'][image_size] %>
          </div>

          <% if description == "outside" %>
            <p class="summary">
              <%= truncate_words(highlight.curated_abstract.try(:strip), length: 265) %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div> <!-- carousel-scroller -->

  <% if highlights.count > 1 %>
    <div class="carousel-nav">
      <div class="prev"><%= fr_icon 'menu_arrow' %></div>
      <ul class="indicator">
        <% highlights.each_with_index do |highlight, index| %>
          <li class="<%= index == 0 ? 'active' : '' %>"
            data-carousel-page=<%= index %>>
          </li>
        <% end %>
      </ul>
      <div class="next"><%= fr_icon 'menu_arrow' %></div>
    </div>
  <% end %>

</div> <!-- carousel_wrapper -->
