<div id='carousel_wrapper' class="carousel_wrapper <%= html_options[:wrapper_class] %>">
  <div id='carousel_scroller'>
    <ul>
      <% highlights.each do |highlight| %>
        <% next unless highlight.photo.present? %>
        <% document = documents.select{|d|
          d.document_number == highlight.document_number
        }.first %>
        <li>
          <div class='carousel_rounded_box'>
            <div class='text_wrapper'>
              <h2>
                <%= link_to highlight.curated_title, highlight.html_url %>
              </h2>
              <p class="metadata" >
                <%= document.type.with_indefinite_article(true) %>
                by
                <%= document.agency_name_sentence %>
                on
                <%= link_to date_tag(
                    document.publication_date,
                    datetime: document.publication_date.to_s(:iso)
                  ),
                  document_issue_path(document.publication_date)
                %>
              </p>

              <p class="summary">
                <%= truncate_words(highlight.curated_abstract, :length => 500) %>
              </p>
            </div>
            <div class='bg'></div>

            <% if highlight.photo['credit'].present? %>
              <div class='attribution'>
                photo by:
                <%= link_to highlight.photo['credit']['name'],
                  highlight.photo['credit']['url'] %>
              </div>
              <div class='attribution bg'></div>
            <% end %>

            <%= image_tag highlight.photo['urls'][image_size] %>
          </div>
        </li>
      <% end %>
    </ul>
  </div> <!-- carousel_scroller -->

  <div id="carousel-nav">
    <div id="prev">&larr;</div>
    <ul id="indicator">
      <% highlights.each_with_index do |highlight, index| %>
        <li class="<%= index == 0 ? 'active' : '' %>"><%= index + 1 %></li>
      <% end %>
    </ul>
    <div id="next">&rarr;</div>
  </div>
  <div id="carousel-nav-bg"></div>

</div> <!-- carousel_wrapper -->
