<div class="title"> 
  <span>My Clippings</span>
</div>

<%= add_handlebars_template('add_to_folder_menu_li', 'add-to-folder-menu-li') %>

<%= content_tag(:div, flash[:notice], :class => 'flash notice')  if flash[:notice] %>
<%= content_tag(:div, flash[:error],  :class => 'flash error')   if flash[:error]  %>

<h2 class="title <%= 'clipboard' if @folder.slug == 'my-clippings' %>" data-folder-slug="<%= @folder.slug %>">
  <%= @folder.name %> 
</h2>

<%= render :partial => "clippings/folder_metadata_bar", :locals => {:folder => @folder, :clippings => @clippings} %>

<%= semantic_form_for :folder_clippings, :url => folder_clippings_path, :html => {:id => 'folder_clippings'} do |f| %>
  <div id="clipping-actions">
    <div id="doc-type-filter">
      <ul>
        <script type="text/javascript">var doc_type_filters = <%= @clippings.map{|c| c.article.granule_class}.uniq.to_json.html_safe %>;</script>
        <li class="doc_notice first" data-filter-doc-type="notice"   data-filter-doc-type-display="Notice">                <%= image_tag '/my/assets/document_icons_mini.png' %></li>
        <li class="doc_prorule"      data-filter-doc-type="prorule"  data-filter-doc-type-display="Proposed Rule">         <%= image_tag '/my/assets/document_icons_mini.png' %></li>
        <li class="doc_rule"         data-filter-doc-type="rule"     data-filter-doc-type-display="Rule">                  <%= image_tag '/my/assets/document_icons_mini.png' %></li>
        <li class="doc_presdocu"     data-filter-doc-type="presdocu" data-filter-doc-type-display="Presidential Document"> <%= image_tag '/my/assets/document_icons_mini.png' %></li>
        <li class="doc_correct last" data-filter-doc-type="correct"  data-filter-doc-type-display="Correction">            <%= image_tag '/my/assets/document_icons_mini.png' %></li>
      </ul>
    </div>
    <%= add_handlebars_template('jump_to_folder_menu', 'jump-to-folder-menu') %>
    <%= add_handlebars_template('add_to_folder_menu', 'add-to-folder-menu') %>
    <div id="remove-clipping"></div>
  </div>
  
  <%= render :partial => "clippings/not_logged_in_warning" if @clippings && @clippings.size > 0 && !user_signed_in? %>
  <%= render :partial => "clippings/new_from_cookie", :locals => {:count => current_user.new_clippings_count} if user_signed_in? && current_user.new_clippings_count && current_user.new_clippings_count > 0 %>

  <ul id="clippings">
    <% unless @clippings.blank? %>
      <% @clippings.each do |clipping| %>
        <li data-doc-id="<%= user_signed_in? ? clipping.id : clipping.document_number%>" data-doc-type="<%= clipping.article.granule_class %>">
          <div class="rule_type doc_<%= clipping.article.granule_class %> add_tipsy"><%= image_tag '/my/assets/document_icons_large.png' %></div>
          <div class="document_data">
            <div class="title"><%= link_to clipping.article.title, clipping.article.html_url %></div>
            <dl class="metadata" id="col-1">
              <dt class="pub_date">Publication Date:</dt>
              <dd><%= clipping.article.publication_date %></dd>

              <dt class="fr_citation">Citation:</dt>
              <dd><%= clipping.article.fr_citation %></dd>

              <dt class="pages">Pages:</dt>
              <dd><%= clipping.article.pages %></dd>
            </dl>
            <dl class="metadata" id="col-2">
              <%= clipping.article.agency_dt_dd %>
            </dl>
            <dl class="metadata" id="col-3">
              <%= clipping.article.docket_dt_dd %>
            </dl>
          </div>

          <div class="clipping_data">
            <dl class="metadata">
              <dt class="created_at">Clipped on:</dt>
              <dd><%= clipping.clipped_at %></dd>
            </dl> 
          </div>

          <div class="add_to_folder_pane">
            <div class="left_side"></div>
            <%= check_box_tag "folder_clippings[clipping_ids][]", clipping.id, false, :class => "clipping_id" if user_signed_in? %>
            <%= check_box_tag "folder_clippings[document_numbers][]", clipping.document_number, false, :class => "clipping_id" unless user_signed_in? %>
          </div>
        </li>
      <% end %>
    <% else %>
      <% unless user_signed_in? %> 
        <%= render :partial => "clippings/not_logged_in_no_clippings" if @clippings.size == 0 %>
      <% else %>
        <%= render :partial => "clippings/logged_in_no_clippings" if @clippings.size == 0 && @folder.slug == "my-clippings" %>
        <%= render :partial => "clippings/logged_in_no_clippings_in_folder" if @clippings.size == 0 && @folder.slug != "my-clippings" %>
      <% end %>
    <% end %>
  </ul>
<% end %>


