<div class="title">
  <span>My Clippings</span>
</div>

<%= add_handlebars_template('add_to_folder_menu_li', 'add-to-folder-menu-li') %>

<%= content_tag(:div, flash[:notice], :class => 'flash notice')  if flash[:notice] %>
<%= content_tag(:div, flash[:error],  :class => 'flash error')   if flash[:error]  %>

<h2 class="title" data-folder-slug="<%= @folder.slug %>">
  <span class="icon-fr2 <%= @folder.slug == 'my-clippings' ? 'icon-fr2-flag' : 'icon-fr2-folder' %>"></span>
  <%= @folder.name %>
    <% if @folder.id.present? %>
      <%= link_to('', :id => "delete-folder") do
            content_tag(:span, "", :class => "icon-fr2 icon-fr2-trash_can tooltip",
              :data => {:tooltip => "Delete this folder", :'tooltip-gravity' => 'e'})
          end %>
    <% end %>
</h2>

<%= render :partial => "clippings/folder_metadata_bar", :locals => {:folder => @folder, :clippings => @clippings} %>

<%= semantic_form_for :folder_clippings, :url => folder_clippings_path, :html => {:id => 'folder_clippings'} do |f| %>
  <div id="clipping-actions">
    <div id="doc-type-filter">
      <ul>
        <script type="text/javascript">var doc_type_filters = <%= @clippings.map{|c| c.article.granule_class}.uniq.compact.to_json.html_safe %>;</script>

        <%= my_fr_document_filters %>
      </ul>
    </div>
    <%= add_handlebars_template('jump_to_folder_menu', 'jump-to-folder-menu') %>
    <%= add_handlebars_template('add_to_folder_menu', 'add-to-folder-menu') %>
    <div id="remove-clipping">
      <span class="icon-fr2 icon-fr2-trash_can"></span>
    </div>
  </div>

  <%= render :partial => "clippings/not_logged_in_warning" if @clippings && @clippings.size > 0 && !user_signed_in? %>
  <%= render :partial => "clippings/new_from_cookie", :locals => {:count => current_user.new_clippings_count} if user_signed_in? && current_user.new_clippings_count && current_user.new_clippings_count > 0 %>

  <ul id="clippings">
    <% unless @clippings.blank? %>
      <% @clippings.each do |clipping| %>
        <li data-doc-id="<%= user_signed_in? ? clipping.id : clipping.document_number%>" data-doc-type="<%= clipping.article.granule_class || 'uncategorized' %>">
          <div class="rule_type doc_<%= clipping.article.granule_class || 'uncategorized' %> add_tipsy">
            <span class="icon-fr2 icon-doctype icon-fr2-<%= clipping.article.granule_class || 'uncategorized' %>"></span>
          </div>
          <div class="document_data">
            <div class="title"><%= link_to clipping.article.title, clipping.article.html_url %></div>
            <div class="<%=clipping.article.granule_class || 'uncategorized' %>_metadata_wrapper">
              <%= render :partial => "clippings/doc_types/#{clipping.article.granule_class || 'uncategorized'}", :locals => {:clipping => clipping} %>
            </div>
          </div>

          <div class="clipping_data">
            <dl class="metadata">
              <dt class="created_at">Clipped on:</dt>
              <dd><%= clipping.clipped_at %></dd>

              <% if clipping.commented_on? %>
                <dt>Comment created on:</dt>
                <dd><%= clipping.comment.commented_at %></dd>
              <% end %>
            </dl>
          </div>

          <div class="add_to_folder_pane">
            <div class="left_side"></div>
            <%= check_box_tag "folder_clippings[clipping_ids][]", clipping.id, false, :class => "clipping_id" if user_signed_in? %>
            <%= check_box_tag "folder_clippings[document_numbers][]", clipping.document_number, false, :class => "clipping_id" unless user_signed_in? %>
          </div>
        </li>
      <% end %>
    <% else %>
      <% unless user_signed_in? %>
        <%= render :partial => "clippings/not_logged_in_no_clippings" if @clippings.size == 0 %>
      <% else %>
        <%= render :partial => "clippings/logged_in_no_clippings" if @clippings.size == 0 && @folder.slug == "my-clippings" %>
        <%= render :partial => "clippings/logged_in_no_clippings_in_folder" if @clippings.size == 0 && @folder.slug != "my-clippings" %>
      <% end %>
    <% end %>
  </ul>
<% end %>


