<% page_title "MyFR :: Clippings" %>

<% title do %>
  <%= fr_icon 'flag' %>
  My Clippings
<% end %>

<%= add_handlebars_template('add_to_folder_menu_li', 'add-to-folder-menu-li') %>
<%= add_handlebars_template('delete_folder_modal', 'delete-folder-modal') %>
<%= add_javascript src: 'page_specific/clippings' %>

<%= content_tag(:div, flash[:notice], class: 'flash notice') if flash[:notice] %>
<%= content_tag(:div, flash[:error],  class: 'flash error') if flash[:error]  %>

<h2 class="title" data-folder-slug="<%= @folder.slug %>">
  <%= fr_icon(@folder.slug == 'my-clippings' ? 'flag' : 'folder') %>
  <%= @folder.name %>

  <% if @folder.id.present? %>
    <div class="folder-actions">
      <%= link_to('', :id => "delete-folder") do
        fr_icon('trash_can',
          class: 'tooltip',
          data: {
            tooltip: "Delete this folder",
            :'tooltip-gravity' => 'e'
          }
        )
      end %>
    </div>
  <% end %>
</h2>

<%= render partial: "clippings/folder_metadata_bar", locals: {
  folder: @folder,
  clippings: @clippings
} %>

<% add_javascript src: 'page_specific/clipping_filters' %>

<%= semantic_form_for :folder_clippings,
  url: folder_clippings_path,
  authenticity_token: false,
  html: {id: 'folder_clippings'} do |f| %>

  <div id="clipping-actions" class="clipping-actions">
    <div id="doc-type-filter" class="doc-type-filter">
      <ul>
        <script type="text/javascript">
          var doc_type_filters = <%= @clippings.map{|c| c.document.document_type.granule_class}.uniq.compact.to_json.html_safe %>;
        </script>

        <%= my_fr_document_filters %>
      </ul>
    </div>

    <%= add_handlebars_template('jump_to_folder_menu', 'jump-to-folder-menu') %>
    <%= add_handlebars_template('add_to_folder_menu', 'add-to-folder-menu') %>

    <div id="remove-clipping" class="remove-clipping">
      <%= fr_icon 'trash_can' %>
    </div>
  </div>

  <% if ! user_signed_in? && @clippings && @clippings.size > 0 %>
    <%= render partial: "clippings/not_logged_in_warning" %>
  <% end %>

  <% if user_signed_in? && current_user.new_clippings_count && current_user.new_clippings_count > 0 %>
    <%= render partial: "clippings/new_from_cookie", locals: {
      count: current_user.new_clippings_count
    }  %>
  <% end %>

  <ul id="clippings" class="clippings">
    <% unless @clippings.blank? %>
      <% @clippings.each do |clipping| %>
        <li class="<%= clipping.document.official? ? 'doc-official' : 'doc-published' %>"
          data-doc-id="<%= user_signed_in? ? clipping.id : clipping.document_number%>"
          data-doc-type="<%= clipping.document.document_type.identifier || 'uncategorized' %>">
          <%= document_type_icon(
            clipping.document.document_type,
            tooltip_options: {
              'tooltip-gravity' => 'w',
              'tooltip-offset' => 3
            }
          ) %>

          <div class="document_data">
            <div class="title">
              <%= link_to clipping.document.title, clipping.document.html_url %>
            </div>

            <div class="<%=clipping.document.document_type.identifier || 'uncategorized' %>_metadata_wrapper">
              <%= render partial: "clippings/doc_types/#{clipping.document.document_type.identifier || 'uncategorized'}",
                locals: {clipping: clipping} %>
            </div>
          </div>

          <div class="clipping_data">
            <dl class="metadata">
              <dt class="created_at">Clipped on:</dt>
              <dd><%= clipping.clipped_at %></dd>

              <% if clipping.commented_on? %>
                <dt>Comment created on:</dt>
                <dd><%= clipping.comment.commented_at %></dd>
              <% end %>
            </dl>
          </div>

          <div class="add_to_folder_pane">
            <div class="left_side"></div>
            <% if user_signed_in? %>
              <%= check_box_tag "folder_clippings[clipping_ids][]",
                clipping.id, false, class: "clipping_id" %>
            <% else %>
              <%= check_box_tag "folder_clippings[document_numbers][]",
                clipping.document_number, false, class: "clipping_id" %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% else %>
      <% if ! user_signed_in? && @clippings.size == 0 %>
        <%= render partial: "clippings/not_logged_in_no_clippings" %>
      <% end %>

      <% if user_signed_in? && @clippings.size == 0 %>
        <% if @folder.slug == "my-clippings" %>
          <%= render partial: "clippings/logged_in_no_clippings"  %>
        <% else %>
          <%= render partial: "clippings/logged_in_no_clippings_in_folder" %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
