<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      
    <title>Federal Register</title>
    <style type="text/css">
      <%= Rails.application.assets.find_asset('mailers/common.css') %>
      <%= Rails.application.assets.find_asset('mailers/subscription_mailer.css') %>
      <%= yield :mailer_template_css %>
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
      
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
        <tr>
          <td align="center" valign="top">
            
            <table border="0" cellpadding="0" cellspacing="0" width="720" id="templateContainer">
              <tr>
                <td align="center" valign="top">

                  <!-- // Begin Template Header \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="720" id="templateHeader">
                    <tr>
                      <td class="headerContent">
                        <img src="<%= mailer_asset_url('email_header.png') %>" style="max-width:720px;" id="headerImage campaign-icon" />
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Header \\ -->
                </td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Body \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="700" id="templateBody">
                    <tr>
                      <!-- // Begin Sidebar \\  -->
                      <td valign="top" width="200" id="templateSidebar">

                        <table border="0" cellpadding="0" cellspacing="0" width="200">
                          <tr>
                            <td valign="top" class="sidebarContent">

                              <!-- // Begin Module: Top Image with Content \\ -->
                              <%= render  :partial => 'fr_mailer/simple_left_column', 
                                          :locals => { :table_class => "highlight top",
                                                       :highlight => @highlights.first }
                              %>

                              <%= render  :partial => 'fr_mailer/simple_left_column', 
                                          :locals => { :table_class => "highlight bottom",
                                                       :highlight => @highlights.last }
                              %>
                              <!-- // End Module: Top Image with Content \\ -->
                              
                            </td>
                          </tr>
                          <tr class="social">
                            <td valign="middle">
                              <div>
                                <a href="https://twitter.com/FedRegister">Follow Federal Register on Twitter</a>
                              </div>
                              <div>
                                <a href="https://www.facebook.com/FederalRegister">Like Federal Register on Facebook</a>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <!-- // End Sidebar \\ -->

                      <td valign="top">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top" class="bodyContent">

                              <!-- // Begin Module: Standard Content \\ -->
                              <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                <tr>
                                  <td valign="top">
                                    <div id="main-content">
                                      <%= yield %>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <!-- // End Module: Standard Content \\ -->
                                                            
                            </td>
                          </tr>
                        </table>
                      </td>

                      
                    </tr>
                  </table>
                  <!-- // End Template Body \\ -->

                </td>
              </tr>

              <tr>
                <td align="center" valign="top">

                  <!-- // Begin Template Footer \\ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="650" id="templateFooter">
                    <tr>
                      <td valign="top" class="footerContent">
                        
                        <!-- // Begin Module: Standard Footer \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tr>
                            <td valign="middle" width="350" id="disclaimer">
                              <div>
                                <center>
                                  <h3 style="color:#999999;font-size:13px;margin:5px 0;">Privacy</h3>
                                  <p style="color:#AAAAAA;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:10px;">
                                    FederalRegister.gov uses your email address 
                                    to enable you to receive email notifications according to your preferences. We retain only the 
                                    personally identifiable information minimally necessary to operate the subscription service. We 
                                    do not retain any information about third parties who receive "email a friend" notifications through 
                                    the subscription service. For more information, please read our 
                                    <a href="https://www.federalregister.gov/policy/privacy">Privacy and Security Policy</a>.
                                  </p>

                                  <h3 style="color:#999999;font-size:13px;margin:5px 0;">Legal Status</h3>
                                  <p style="color:#AAAAAA;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:10px;">
                                    The documents received via our email subscriptions service originate from FederalRegister.gov, 
                                    which displays an unofficial "Web 2.0" version of the daily Federal Register. The official electronic 
                                    version in PDF format is also available as a link from FederalRegister.gov or directly from GPO’s 
                                    <a href="http://www.fdsys.gov/">Federal Digital System website</a>. For more information, please 
                                    read our <a href="https://www.federalregister.gov/policy/legal-status">Legal Status page</a>.
                                  </p>

                                </center>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td valign="middle" id="utility">
                              <div>
                                <%= @utility_links.map{|link| link_to(link[0], link[1])}.join(' | ').html_safe %>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Footer \\ -->
                                            
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Footer \\ -->

                </td>
              </tr>
            </table>

            <br />
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
