<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Federal Register</title>

    <style type="text/css">
      <%= Rails.application.assets.find_asset('mailers/common.css') %>
      <%= Rails.application.assets.find_asset('mailers/fr_mailer.css') %>
      <%= yield :mailer_template_css %>
    </style>


    <meta name="description" lang="en" content="This email was generated from FederalRegister.gov as a result of a user action; such as creating an account, subscribing to content emails, opting into notifications, etc. We retain only the only the personally identifiable information minimally necessary to operate the MyFR service. We do not retain any information about third parties who receive 'email a friend' notifications through the subscription service. For more information, please read our Privacy and Security Policy at https://www.federalregister.gov/reader-aids/government-policy-and-ofr-procedures/privacy. The documents received via our email subscriptions service originate from FederalRegister.gov, which displays an unofficial 'Web 2.0' version of the daily Federal Register. The official electronic version in PDF format is also available as a link from FederalRegister.gov or directly from GPO's Federal Digital System website at http://www.fdsys.gov/. For more information, please read our Legal Status page at https://www.federalregister.gov/reader-aids/policy/legal-status. The documents received via email from our Public Inspection web page originate from official copies filed at the Office of the Federal Register. For more information, please read our About Public Inspection page at https://www.federalregister.gov/reader-aids/using-federalregister-gov/understanding-public-inspection." />
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>

      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
        <tr>
          <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="720" id="templateContainer">
              <tr>
                <td align="center" valign="top">

                  <!-- // Begin Template Header \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="720" id="templateHeader">
                    <tr>
                      <!-- header image -->
                      <td class="headerContent">
                        <img src="<%= mailer_asset_url('email_header.png') %>" style="max-width:720px;" id="headerImage campaign-icon" />
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Header \\ -->
                </td>
              </tr>

              <tr>
                <td align="center" valign="top">

                  <!-- // Begin Template Body \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="700" id="templateBody">
                    <tr>
                      <td colspan="3" valign="top" class="bodyContent">

                        <!-- // Begin Module: Standard Content \\ -->
                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                          <tr>
                            <td valign="top">
                              <div id="main-content" class="two_col_1_2">
                                <%= yield %>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Content \\ -->

                      </td>
                    </tr>

                    <tr class="columnContent">
                      <td valign="top" width="320" class="leftColumnContent">

                        <!-- // Begin Module: Top Image with Content \\ -->
                        <%= render  :partial => 'fr_mailer/two_column_single_column',
                                    :locals => { :table_class => "left",
                                                 :highlight => @highlights.first }
                        %>
                        <!-- // End Module: Top Image with Content \\ -->

                      </td>
                      <td valign="top" width="320" class="rightColumnContent">

                        <!-- // Begin Module: Top Image with Content \\ -->
                        <%= render  :partial => 'fr_mailer/two_column_single_column',
                                    :locals => { :table_class => "right",
                                                 :highlight => @highlights.last }
                        %>
                        <!-- // End Module: Top Image with Content \\ -->

                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Body \\ -->

                </td>
              </tr>

              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Footer \\ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="650" id="templateFooter">
                    <tr>
                      <td valign="top" class="footerContent">

                        <!-- // Begin Module: Standard Footer \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tr>
                            <td valign="middle" id="social">
                              <div>
                                <a href="https://twitter.com/FedRegister">Follow Federal Register on Twitter</a> | <a href="https://www.facebook.com/FederalRegister">Like Federal Register on Facebook</a>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td valign="middle" width="350" id="disclaimer">
                              <div>
                                <h3>Privacy</h3>
                                <p style="color:#AAAAAA;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:10px;">
                                  FederalRegister.gov uses your email address to enable you to receive email notifications according to your preferences.
                                  We retain only the only the personally identifiable information minimally necessary to operate the MyFR service.
                                  For more information, please read our <a href="https://www.federalregister.gov/reader-aids/government-policy-and-ofr-procedures/privacy">Privacy and Security Policy</a>.
                                </p>

                                <% legal ||= false %>

                                <% if legal %>
                                <h3>Legal Status</h3>
                                <p>
                                  The documents received via our email subscriptions service originate from FederalRegister.gov,
                                  which displays an unofficial "Web 2.0" version of the daily Federal Register. The official electronic
                                  version in PDF format is also available as a link from FederalRegister.gov or directly from GPO's
                                  <a href="http://www.fdsys.gov/">Federal Digital System website</a>. For more information, please
                                  read our <a href="https://www.federalregister.gov/reader-aids/policy/legal-status">Legal Status page</a>.
                                </p>
                                <p>
                                  The documents received via email from our Public Inspection web page originate
                                  from official copies filed at the Office of the Federal Register. For more
                                  information, please read our <a href="https://www.federalregister.gov/reader-aids/using-federalregister-gov/understanding-public-inspection">About Public Inspection</a> page.
                                </p>
                                <% end %>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td valign="middle" id="utility">
                              <div class="utility_links">
                                <%= @utility_links.map{|link| link_to(link[0], link[1])}.join(' | ').html_safe %>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Footer \\ -->

                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Footer \\ -->

                </td>
              </tr>
            </table>

            <br />
          </td>
        </tr>
      </table>

    </center>
  </body>
</html>
