<div class="title"><span>My FR</span></div>

<%= render :partial => "devise/shared/tabs" %>

<div class="signup_bar">
  <%= semantic_form_for resource, :as => resource_name, :url => user_registration_path do |f| %>

    <%= f.inputs do %>
      <%= f.input :email, :as => :string %>
      <%= f.input :password, :as => :password %>
      <%= f.input :password_confirmation, :as => :password, :required => true %>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Sign up", :button_html => {:id => "registration_btn"} %>
      <span class="loader"></span>
    <% end %>
  <% end %>
</div>
