<div id="home-section-preview-content-<%= presenter.slug %>"
  class="row home-section-preview-content">

  <div class="col-xs-12 col-md-8 home-section-preview-carousel carousel-home">
    <%= carousel(
      presenter.highlighted_documents,
      image_size: 'homepage',
      html_options: {
        wrapper_class: 'carousel-wrapper-home',
        wrapper_id: "home-section-carousel-#{presenter.slug}"
      },
      description: 'outside'
    ) %>
  </div>

  <div class="col-xs-12 col-md-4 home-section-preview-suggested-searches">
    <h4 class="with-icon lowercase">
      <%= fr_icon presenter.icon %>
      Suggested Searches
      <%= link_to "view all",
        section_path(presenter.slug),
        class: "more-details" %>
    </h4>

    <ul class="fr-list with-stats">
      <% presenter.suggested_searches.first(5).each do |search| %>
        <li>
          <%= link_to(search.title, suggested_search_path(search.slug)) %>
          <ul>
            <li>
              <%= pluralize(search.documents_in_last_year, 'document') %>
              in the last year
            </li>
            <li>
              <%= fr_icon 'Chat' %>
              <%= search.documents_with_open_comment_periods %>
              open for comment
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

</div>
