<ul>
  <% Section.all.each do |section| %>
    <li class="<%= section.title.length > 12 ? 'wrap' : '' %>"
        data-section="<%= section.slug %>"
        data-toggle-target="#home-section-preview-content-<%= section.slug %>">
      <%= fr_icon section.icon %>
      <span class="section-title">
        <%= section.title %>
      </span>
    </li>
  <% end %>
</ul>
