<div class="bootstrap-scope user-account">
  <div class="row">
    <div class="">
      <div class="title"> <span>My Account</span> </div>

      <%= content_tag(:div, flash[:notice], :class => 'flash notice') if flash[:notice] %>
      <%= content_tag(:div, flash[:error],  :class => 'flash error') if flash[:error] %>

      <h2 class="title">
        <span class="icon-fr2 icon-fr2-nav_male_female_user"></span>
        Change Email Address
      </h2>
      <p>Need to change the email address registered to your account?  Enter a new email address below and an email confirmation will be sent to the supplied address.  <b>WARNING:</b> Once a request for an email change is submitted, your login will immediately change and existing subscriptions will be halted until a response to the email confirmation is received.</p>
      <ol>
        <li class="user_email_input">
        <%= form_tag(account_path(current_user), :method => 'PUT', :class => "") do %>
          <%= text_field_tag("email", nil, :id => "user_email", :class => "email-input") %>
        </li>
        <li>
          <%= submit_tag "Submit", :class => "fr_button primary submit-button" %>
        </li>
        <% end %>
        </li>
      </ol>
    </div>
  </div>
</div>
