<p>
  Sign in or create a MyFR account to save your comment submission
  and recieve a copy of your comment via email.
</p>

<%= semantic_form_for :comment_notifications,
  :url => persist_for_login_comments_url,
  :authenticity_token => false,
  :html => {:target => (:blank unless iphone?) } do |f| %>

  <%= f.inputs do %>
    <% if @comment.agency_participating? %>
      <%= f.input :comment_publication_notification,
        :as => :boolean,
        :label => 'Notify me when my comment has been reviewed and publicly posted.',
        :input_html => {:checked => true} %>
    <% end %>

    <%= f.input :followup_document_notification,
      :as => :boolean,
      :label => 'Notify me when a future document mentions the document I commented on.',
      :input_html => {:checked => true} %>

    <% if @comment.agency_participating? %>
      <%= f.input :comment_tracking_number,
        :as => :hidden,
        :value => @comment.comment_tracking_number %>
    <% end %>

    <%= f.input :submission_key,
      :as => :hidden,
      :value => @comment.submission_key %>

    <%= f.input :comment_secret,
      :as => :hidden,
      :value => @comment.secret %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :sign_in, as: :button,
      label: 'Sign In',
      wrapper_html: {class: 'comment_form_sign_in fr_button large'} %>
    <%= f.action :sign_in, as: :button,
      label: 'Sign Up',
      wrapper_html: {class: 'comment_form_sign_up fr_button large'} %>
  <% end %>

<% end %>
