<p>
  <% if @comment.agency_participating? %>
    Your comment has been added to your MyFR account.
    Use the comment tracking number to find out the status of your comment
    on Regulations.gov or when communicating with
    <%= @comment.agency_name %>.
  <% else %>
    Your comment has been added to your MyFR account.
    <%= @comment.agency_name %> does not publish comments on Regulations.gov.
    To check the status of your comment or obtain further information, please
    follow-up directly with the agency contact listed in the document
    you submitted a comment for.
  <% end %>
</p>

<% unless current_user.confirmed? %>
  <div class="warning message">
    <p>
      Your MyFR email address has not yet been confirmed. You will not
      recieve any notifications until your email address has been
      confirmed.
      <%= link_to 'Resend confirmation email',
        resend_confirmation_path,
        :class => 'resend_email_confirmation',
        :target => :blank %>.
    </p>
  </div>
<% end %>

<ul>
  <% if @comment.agency_participating? %>
    <li class="first">
      <span class="description">
        <%= current_user.confirmed? ?
          t('notifications.comment.publication.active') :
          t('notifications.comment.publication.active_unconfirmed') %>
      </span>
      <%= link_to t('notifications.links.remove'),
        comment_publication_notifications_url,
        :'data-comment-tracking-number' => @comment.comment_tracking_number,
        :method => :delete,
        :class => 'notifications posting remove' %>
    </li>
  <% end %>
  <li>
    <span class="description">
      <%= current_user.confirmed? ?
        t('notifications.comment.followup_document.active') :
        t('notifications.comment.followup_document.active_unconfirmed') %>
    </span>
    <%= link_to t('notifications.links.remove'),
      comment_followup_document_notifications_url,
      :'data-comment-tracking-number' => @comment.comment_tracking_number,
      :'data-comment-submission-key' => @comment.submission_key,
      :method => :delete,
      :class => 'notifications followup remove' %>
  </li>
</ul>
