<div class="title"> 
  <span>My Comments</span>
</div>

<%= content_tag(:div, flash[:notice], :class => 'flash notice')  if flash[:notice] %>
<%= content_tag(:div, flash[:error],  :class => 'flash error')   if flash[:error]  %>

<h2 class="comment title">My Comments</h2>
<%= render :partial => "comments/comment_metadata_bar", :locals => {:comments => @comments} %>

<ul id="comments">
  <% @comments.each do |comment| %>
    <li data-doc-id="<%= comment.document_number%>" data-doc-type="<%= comment.article.granule_class %>">
    <div class="rule_type doc_<%= comment.article.granule_class %> add_tipsy"><%= image_tag '/my/assets/document_icons_large.png' %></div>
    <div class="comment_count">
      <%= link_to "17", '#', :class => "count" %>
    </div>
      <div class="document_data">
        <div class="title"><%= link_to comment.article.title, comment.article.html_url %></div>
        <dl class="metadata" id="col-1">
          <dt class="pub_date">Publication Date:</dt>
          <dd><%= comment.article.publication_date %></dd>
        </dl>
        <dl class="metadata" id="col-2">
          <%= comment.article.agency_dt_dd %>
        </dl>
        <dl class="metadata" id="col-3">
          <dt class="reg_gov_data">Regulations.gov Data:</dt>
          <dd class="docket_count">Docket: USCG-2011-1013<%#= comment.article.regulations_dot_gov_info.docket_id %></dd>
          <dd class="public_comment_count">Comment Count: 17<%#= comment.article.regulations_dot_gov_info.comments_count %></dd>
        </dl>
      </div>

      <div class="comment_data">
        <dl class="metadata">
          <dt class="created_at">Comment submitted on:</dt>
          <dd><%= comment.commented_at %></dd>

          <dt class="comment_tracking_number">Comment tracking number:</dt>
          <dd><%= comment.comment_tracking_number %></dd>

          <dt class="published_at">Comment made public on:</dt>
          <dd><%= comment.comment_published_at %></dd>
        </dl> 
      </div>
    </li>
  <% end %>
</ul>

