<div class="title">
  <span>My Comments</span>
</div>

<%= content_tag(:div, flash[:notice], :class => 'flash notice')  if flash[:notice] %>
<%= content_tag(:div, flash[:error],  :class => 'flash error')   if flash[:error]  %>

<h2 class="comment title">
  <span class="icon-fr2 icon-fr2-Chat"></span>
  My Comments
</h2>
<%= render :partial => "comments/comment_metadata_bar",
  :locals => {:comments => @comments} %>

<ul id="comments">
  <% @comments.each do |comment| %>
    <li data-doc-id="<%= comment.document_number%>"
      data-doc-type="<%= comment.article.granule_class %>">

      <div class="rule_type doc_<%= comment.article.granule_class || 'uncategorized' %> add_tipsy">
        <span class="icon-fr2 icon-doctype icon-fr2-<%= comment.article.granule_class || 'uncategorized' %>"></span>
      </div>

      <div class="comment_count" data-tooltip="<%= comment.comment_count_tooltip %>">
        <span class="icon-fr2 icon-fr2-conversation-alt"></span>
        <%= comment.comment_count_link %>
      </div>

      <div class="document_data">
        <div class="title"><%= link_to comment.article.title, comment.article.html_url %></div>
        <div class="<%= comment.article.granule_class || 'uncategorized' %>_metadata_wrapper">
          <%= render :partial => "clippings/doc_types/#{comment.article.granule_class || 'uncategorized'}",
            :locals => {:clipping => comment} %>
        </div>
      </div>


      <div class="comment_data">
        <dl class="metadata">
          <dt class="created_at">Comment submitted on:</dt>
          <dd><%= comment.commented_at %></dd>

          <dt class="comment_tracking_number">Comment tracking number:</dt>
          <dd><%= comment.tracking_number_link %></dd>

          <dt class="published_at">Comment posted on:</dt>
          <dd><%= comment.comment_published_at %></dd>
        </dl>
      </div>
    </li>
  <% end %>
</ul>

