<% page_title "MyFR :: Comments" %>

<% title header_class: 'my-comments' do %>
  <%= fr_icon 'Chat' %>
  My Comments
<% end %>

<%= content_tag(:div, flash[:notice], class: 'flash notice')             if flash[:notice] %>
<%= content_tag(:div, flash[:error], class: 'flash error')               if flash[:error]  %>
<%= content_tag(:div, flash[:warning].html_safe, class: 'flash warning') if flash[:warning]  %>

<% if ! current_user.confirmed? &&
     flash[:warning].blank? &&
     @comments.any?{|c| c.subscription.present? || c.comment_publication_notification? } %>

  <div class="flash warning">
    Some of your comments have notification subscriptions. You will not receive
    notification about followup documents until you have confirmed your
    email address.<br />
    <%= link_to 'Resend confirmation email', resend_confirmation_path %>.
  </div>
<% end %>

<h2 class="comment title">
  <%= fr_icon 'Chat' %>
  My Comments
</h2>

<%= render partial: "comments/comment_metadata_bar", locals: {
  comments: @comments
} %>

<ul id="comments" class="comments">
  <% @comments.each do |comment| %>
    <li class="<%= comment.document.official? ? 'doc-official' : 'doc-published' %>"
      data-doc-id="<%= comment.document_number%>"
      data-doc-type="<%= comment.document.document_type.identifier %>">

      <%= document_type_icon(
        comment.document.document_type,
        tooltip_options: {
          'tooltip-gravity' => 'w',
          'tooltip-offset' => 3
        }
      ) %>

      <div class="comment_count cj-tooltip"
        data-tooltip="<%= comment.comment_count_tooltip %>"
        data-tooltip-gravity="w">
        <% fr_icon 'conversation-alt' %>
        <%= comment.comment_count_link %>
      </div>

      <div class="document_data">
        <div class="title">
          <%= link_to comment.document.title, comment.document.html_url %>
        </div>

        <div class="<%= comment.document.document_type.identifier || 'uncategorized' %>_metadata_wrapper">
          <%= render partial: "clippings/doc_types/#{comment.document.document_type.identifier || 'uncategorized'}",
            locals: {clipping: comment} %>
        </div>
      </div>


      <div class="comment_data">
        <dl class="metadata">
          <dt class="created_at">Comment submitted on:</dt>
          <dd><%= comment.commented_at %></dd>

          <% if comment.agency_participating? %>
            <dt class="comment_tracking_number">Comment tracking number:</dt>
            <dd><%= comment.tracking_number_link %></dd>

            <dt class="published_at">Comment posting status:</dt>
            <dd><%= comment.comment_posted %></dd>
          <% end %>
        </dl>
      </div>
    </li>
  <% end %>
</ul>
