<%= add_handlebars_template('comment_attachment_upload', 'comment-attachment-upload') %>
<%= add_handlebars_template('comment_attachment_complete', 'comment-attachment-complete') %>
<%= add_handlebars_template('comment_summary', 'comment-summary'); %>
<%= add_handlebars_template('comment_preview', 'comment-preview'); %>

<% @comment = CommentDecorator.decorate(@comment) %>

<div class="comment_form_wrapper" data-comment-due="<%= @comment_form.comments_close_at.to_s(:datetime) %> EDT">
  <div class="instructions">
    <p>
      Thank you for taking the time make a comment, your input is important.
      Regulations.gov has provided
      <a href="http://www.regulations.gov/docs/Tips_For_Submitting_Effective_Comments.pdf">tips for submitting an effective comment</a><%= @comment_form.posting_guidelines.present? ? '' : '.' %>

      <% if @comment_form.posting_guidelines %>
        and this agency has also provided
        <a href="#" class="fr_modal_link"
          data-modal-title="Agency Posting Guidelines"
          data-modal-html="<p><%= @comment_form.posting_guidelines.gsub(
             Regexp.new(
               Comment::AGENCY_POSTING_GUIDELINES_LEXICON.keys.join('|')
             ),
             Comment::AGENCY_POSTING_GUIDELINES_LEXICON
          ).html_safe %></p>">
           additional posting guidelines.
        </a>
      <% end %>
    </p>

    <p>
      Once you have filled in the required fields below you can preview and/or
      submit your comment to <%= @comment.agency_name %> for review.
      All comments are considered public and will be posted online once an
      agency has reviewed them.
    </p>

    <p>
      You can also view alternative ways to comment
      <% if @comment_form.alternative_ways_to_comment.present? %>
        <a href="#" class="fr_modal_link"
          data-modal-title="Alternative Ways to Comment"
          data-modal-html="<p><%= @comment_form.alternative_ways_to_comment %></p>">here</a>.
      <% else %>
        <%= link_to 'here', '#addresses' %>.
      <% end %>
    </p>
  </div>

  <%= semantic_form_for @comment,
    :url => comment_path,
    :html => {:"data-document-number" => @entry.document_number} do |f| %>

    <% if @comment_reloaded %>
      <div class="notice message comment_reloaded">
        It appears that you have attempted to comment on this article before
        so we've restored your progress. <br>
        <a href="#" id="comment-start-over">Click here</a> to start over.
      </div>
    <% end %>
    <% if @comment.errors.present? %>
      <div class="errors">
        <%= @comment.human_error_messages %>
      </div>
    <% end %>
    <%= f.semantic_errors %>
    <%= f.inputs do %>
      <% comment_field = (@comment_form.fields.detect{|f| f.name == 'general_comment'}) %>
      <%= f.input comment_field.name, comment_input_field_options(comment_field) %>

      <% if @comment_form.allow_attachments? %>
        <li class="public file input optional">
          <label class="label">Upload File(s)</label>
          <%= hidden_field_tag(
            'comment[secret]',
            params[:comment] && params[:comment][:secret]
          ) %>

          <input id="fileupload"
            type="file"
            name="comment_attachment[attachment]"
            data-url="/my/comment_attachments" multiple>

          <%= content_tag(
            :table,
            content_tag(:tbody),
            :class => "attachments",
            :"data-existing" => render(
              :template => "comment_attachments/index",
              :formats => [:json],
              :handlers => [:json_builder]
            )
          ) %>
        </li>
      <% end %>

      <hr>

      <% @comment_form.fields.reject{|f| f.name == "general_comment"}.each do |field| %>
        <%= f.input field.name, comment_input_field_options(field) %>
      <% end %>

      <hr>

      <li class="boolean input required" id='comment_confirmation_text'>
        <label for="null">
          You are filing a document into an official docket. Any personal
          information included in your <strong>comment text and/or uploaded
          attachment(s)</strong> may be publicly viewable on the web.
        </label>
      </li>
      <%= f.input :confirm_submission,
        :as => :boolean,
        :label => 'I read and understand the statement above.' %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button "Submit Comment",
        :wrapper_html => {:class => 'disabled'},
        :button_html => {:disabled => 'disabled'} %>
      <%= content_tag(:li, link_to('Preview Comment', '#', :class => 'comment_preview') ) %>
    <% end %>

    <div class="regulations_dot_gov_notices">
      Please review the Regulations.gov
      <a href="http://www.regulations.gov/#!privacyNotice" id="comment-privacy-policy">privacy notice</a> and
      <a href="http://www.regulations.gov/#!userNotice" id="comment-user-notice">user notice</a>.
    </div>
  <% end %>
</div> <!-- end comment_form_wrapper -->
