<div class="comment_form_wrapper" data-comment-document-number="<%= @comment.document_number %>">
  <div class="notice message">
    <p class="info">
      Thank you! Your comment has been submitted to
      <a href="http://www.regulations.gov" target="_blank">Regulations.gov</a>
      for review by the <%= @comment.agency_name %>.
    </p>

    <% if @comment.agency_participating? %>
      <p class="comment_tracking_number">
        Comment Tracking Number:
        <span class="tracking_number">
          <%= link_to @comment.comment_tracking_number,
            @comment.regulations_dot_gov_comment_search_result_url,
            :target => :blank %>
        </span>
      </p>
    <% else %>
      <p class="info">
        <%= @comment.agency_name(true) %> does not publish comments on Regulations.gov.
        To check the status of your comment or obtain further information, please
        follow-up directly with the agency contact listed in the document
        you submitted a comment for.
      </p>
    <% end %>
  </div>

  <div class="comment_next_steps">
    <h2>Optional Next Steps</h2>

    <div class="my_fr">
      <span class="icon-fr2 icon-fr2-nav_male_female_user"></span>
      <%= render :partial => 'signed_in_user_myfr_next_steps' if current_user %>
      <%= render :partial => 'not_signed_in_user_myfr_next_steps' unless current_user %>
    </div>

    <div class="print">
      <span class="icon-fr2 icon-fr2-print"></span>
      <p>
        <%#= TODO: Confirm it's fine to just serialize the  %>
        <%= link_to 'Print your comment', '#',
          # :'data-comment-data' => @comment.comment_data.to_json,
          :'data-comment-data' => {
          }.to_json,
          :'data-current-document-details' => {
            :title  => @comment.document.title,
            :agency => @comment.agency_name,
            :type   => @comment.document.type,
            :url    => short_document_url(@comment.document),
            :published => @comment.document.publication_date
          }.to_json,
          :'data-comment-details' => {
            :agency_participating => @comment.agency_participating?,
            :tracking_number => @comment.comment_tracking_number,
            :submission_date => Date.today
          }.to_json,
          :id => 'print-comment' %>
        for your records and for any future correspondence about your
        comment with <%= @comment.agency_name %>.
      </p>
    </div>

    <div class="social_media">
      <span class="icon-fr2 icon-fr2-sharing"></span>

      <p>
        Public participation is vital to a functioning democracy,
        get others involved!
      </p>

      <ul class="media_buttons">
        <li>
          <div class="left">
            <%= link_to_twitter(
              fr_icon('twitter'),
              "I commented on #{short_document_url(@comment.document)}."
            ) %>
          </div>
          <div class="right">
            <p>
              <%= link_to_twitter(
                "Create a tweet",
                "I commented on #{short_document_url(@comment.document)}. #federalregister"
              ) %>.
              We'll provide a basic tweet with a link to the document you
              commented on. You'll be able to customize the message before
              you tweet.
            </p>
          </div>
        </li>
        <li>
          <div class="left">
            <%= link_to_facebook(
              fr_icon('facebook'),
              short_document_url(@comment.document),
              @comment.document.title
            ) %>
          </div>
          <div class="right">
            <p>
              <%= link_to_facebook(
                "Post to your Facebook wall",
                short_document_url(@comment.document),
                @comment.document.title
              ) %>.
              We'll provide the title of the document you commented on and a
              link to it. You'll be able to customize your Facebook wall
              message before it is posted.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="retrieval">
      <% if @comment.agency_participating? %>
        <p>
          Your comment may be viewable on
          <a href="http://www.regulations.gov" target="_blank">Regulations.gov</a>
          once <%= @comment.agency_name %>
          has reviewed it. This process is dependent on agency public submission
          policies/procedures and processing times. Use your tracking number to
          find out the status of your comment.
        </p>
      <% else %>
        <p>
          <%= @comment.agency_name(true) %> does not publish comments on Regulations.gov.
          To check the status of your comment or obtain further information, please
          follow-up directly with the agency contact listed in the document
          you submitted a comment for.
        </p>
      <% end %>
    </div>

  </div>

  </div>
</div>
