<div class="comment_form_wrapper" data-comment-document-number="<%= @comment.document_number %>">
  <!-- <%= @comment.inspect %> -->

  <div class="notice message">
    <p class="info">
      Thank you! Your comment has been submitted to <a href="http://www.regulations.gov">Regulations.gov</a>
      for review by the <%= @comment.agency_name %>.
    </p>
    <p class="comment_tracking_number">
      Comment Tracking Number: <span class="tracking_number"><%= @comment.comment_tracking_number %></span>
    </p>
  </div>

  <div class="comment_next_steps">
    <h2>Next Steps</h2>

    <div class="my_fr">
    <% if @current_user %>
      <p>
        Your comment tracking number has been added to your MyFR account and you will recieve
        an email notification when your comment has been made public by <%= @comment.agency_name %>.
      </p>
    <% else %>
      <p>
        Sign in / sign up to save your comment tracking number and recieve a copy of your comment via email.
      </p>

      <%= semantic_form_for :comment_notifications do |f| %>
        <%= f.inputs do %>
          <%= f.input :made_public, :as => :boolean, :label => 'Notify me when my comment is made public.', :input_html => {:checked => true} %>
          <%= f.input :future_reference, :as => :boolean, :label => 'Notify me when a future article mentions the article I commented on.', :input_html => {:checked => true} %>
          <%= f.input :comment_tracking_number, :as => :hidden, :value => @comment.comment_tracking_number %>
        <% end %>
        <%= f.buttons do %>
          <%= f.commit_button :sign_in, :label => 'Sign In'%>
          <%= f.commit_button :sign_up, :label => 'Sign Up'%>
        <% end %>
      <% end %>
    <% end %>
    </div>
  

    <div class="print">
      <p><%= link_to 'Print your comment' %> for your records and for any future coorespondence about your
      comment with <%= @comment.agency_names %>.</p>
    </div>

    <div class="social_media">
      <p>Public participation is vital to a functioning democracy, get others involved!</p>
      <ul class="media_buttons">
        <li>
          <div class="left">
            <%= link_to_twitter("I just commented on #{@comment.article.short_entry_url}. You should too!") %>
          </div>
          <div class="right">
            <p>We'll provide a basic tweet with a link to the article you commented on. You'll be able to customize the message before you tweet.</p>
          </div>
        </li>
        <li>
          <div class="left">
            <%= link_to_facebook(@comment.article.short_entry_url, @comment.article.title) %>
          </div>
          <div class="right">
            <p>We provide the title of the article you commented on and a link to it. You'll be able to customize your Facebook wall message before it is posted.</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="retrieval">
      <p>
      FederalRegister.gov submits your comment to <a href="http://www.regulations.gov">Regulations.gov</a> and does not store the information provided in your comment. 
      Your comment tracking number can be used to retrieve your comment from <a href="http://www.regulations.gov">Regulations.gov</a> 
      once it has been made public by <%=  @comment.agency_names %>.</p>
    </div>

  </div>

  </div>
</div> <!-- end comment_form_wrapper -->

