<div class='toc-documents'>
  <% if subject %>
    <h7>
      <%= link_to_if documents.size == 1,
        subject, documents.first.html_url %>
    </h7>
  <% end %>

  <table class="row">
    <% documents.each do |document| %>
      <% if document.is_a?(String) %>
        <%# render the content if we couldn't find the document %>
        <tr class="toc-document-metadata">
          <td>
            <strong>FR Document:</strong> <%= document %>
          </td>
        </tr>
      <% else %>
        <tr class="toc-document-metadata">
          <td>
            <strong>FR Document:</strong> <%= link_to document.document_number, document.html_url %>
            <br>
            <strong>Citation:</strong> <%= document.citation %>
          </td>

          <td>
            <strong class="toc-pdf">
              <%= link_to 'PDF', document.pdf_url %>
            </strong>
            <%= "Page".pluralize(document.pages) %> <%= document.page_range %>
            <em>(<%= pluralize(document.pages, "page") %>)</em>

            <br>

            <strong class="permalink">
              <%= link_to 'Permalink', short_document_url(document) %>
            </strong>
          </td>
        </tr>
        <tr class="toc-document-abstract">
          <td colspan="2">
            <strong>Abstract:</strong> <%= document.shortened_abstract(total_document_count > 15 ? 250 : 500) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
