<ul class="active-filters">
  <% filters.group_by(&:condition).each do |condition, filters| %>
    <li class="filter-group row">
      <div class="<%= bootstrap_col(xs: 12, md: 3) %>">
        <%= fr_icon 'filter' %>
        <span class="type"><%= filters.first.label %></span>
      </div>

      <div class="<%= bootstrap_col(xs: 12, md: 9) %>">
        <ul class="filters">
          <% filters.each_with_index do |filter, index| %>
            <li class="filter">
              <span class="name">
                <% if index > 0 %>
                  <span class="filter-connector">or </span>
                <% end %>
                <%= filter.name %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
