<% search ||= nil %>
<ul class="search-result-documents <%= type %> row">
  <% documents.each do |document| %>
    <li class="<%= bootstrap_col(xs: 12, md: 12) %> search-result-document">
      <%= simple_document_type_icon document.type %>

      <div class="document-wrapper">
        <h5>
          <%= link_to document.title, document.html_url %>
        </h5>

        <p class="metadata">
          by <%= document.agency_name_sentence %>
          on
          <%= link_to document.publication_date,
            document_issue_path(document) %>.
        </p>

        <%# multiple pages use this shared result partial but not all provide a search or have an abstract %>
        <% if (search &&
          search.conditions[:term].blank? &&
          document.model.respond_to?(:abstract)
          ) || (!search && document.model.respond_to?(:abstract))%>
          <p class="description">
            <%= truncate_words(document.abstract, :length => 350) %>
          </p>
        <% else %>
          <p class="description">
            <%= truncate_words(sanitize(document.excerpts), :length => 350).try(:html_safe) %>
          </p>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
