<% search ||= nil %>
<ul class="search-result-documents <%= type %> row">
  <% documents.each do |document| %>
    <li class="<%= bootstrap_col(xs: 12, md: 12) %> search-result-document <%= document.document? ? (document.official? ? 'doc-official' : 'doc-published') : 'doc-public-inspection' %>">
      <%= simple_document_type_icon document.type %>

      <div class="document-wrapper">
        <h5>
          <%= link_to document.title, document.html_url %>
        </h5>

        <% unless document.public_inspection_document? %>
          <div class="document-clipping-actions" data-document-number="<%= document.document_number %>">
            <ul>
              <li class="clip-for-later">
                <%= semantic_form_for :document,
                  url: clippings_path,
                  authenticity_token: false,
                  html: {
                    method: :post,
                    class: "add-to-clipboard"
                  } do |f| %>

                  <%= f.inputs do %>
                    <%= f.input :document_number,
                      as: :hidden,
                      value: document.document_number %>
                  <% end %>

                  <%= f.buttons do %>
                    <%= f.commit_button 'Add to clipboard' %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>

        <p class="metadata">
          by <%= document.agency_name_sentence %>
          <% if type == :public_inspection %>
            scheduled for publication
          <% end %>
          on
          <%= link_to_unless type == :public_inspection, document.publication_date,
            document_issue_path(document) %>.
        </p>

        <%# multiple pages use this shared result partial but not all provide a search or have an abstract %>
        <% if (search &&
          search.conditions[:term].blank? &&
          document.model.respond_to?(:abstract)
          ) || (!search && document.model.respond_to?(:abstract))%>
          <% if document.abstract.present? %>
            <p class="description">
              <%= truncate_words(document.abstract, :length => 350) %>
            </p>
          <% end %>
        <% else %>
          <% if document.excerpts.present? %>
            <p class="description">
              <%= truncate_words(sanitize(document.excerpts), :length => 350).try(:html_safe) %>
            </p>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
