<%
  # normalize the conditions being passed
  search_conditions = search_conditions && search_conditions[:conditions] ? search_conditions[:conditions] : search_conditions
%>

<div class="search-results-header <%= placement %>">
  <p class="pull-left">
    Showing 1-<%= result_count %> of
    <% search_path = type == :public_inspection ?
      public_inspection_search_path(conditions: search_conditions)
      :
      documents_search_path(conditions: search_conditions) %>
    <%= link_to(
      pluralize(total_documents, "result"),
      search_path
    )%>
    <%= 'since 1994.' unless type == :public_inspection %>

    <% documents_left = total_documents - result_count %>
    <% if documents_left > 0 %>
      View
      <%= link_to "#{documents_left} more",
        documents_search_path(
          conditions: search_conditions,
          per_page: per_page,
          page: 2
        ) %>
      <%= "result".pluralize(documents_left) %>.
    <% end %>
  </p>

  <% if section.present? %>
    <p class="pull-right">
      View more
      <%= link_to section.title, section_path(section.slug) %>
      searches.
    </p>
  <% end %>
</div>
