<% presenter.all_filings.each do |filing_type| %>
  <li>
    <h5><%= filing_type.name %></h5>
    <span>updated on <%= "#{filing_type.formatted_updated_at}"  %></span>
    <div class="public-inspection-list-stats">
      <%= link_to_unless filing_type.document_count == 0,
        pluralize(filing_type.document_count, 'document'),
        public_inspection_search_path(filing_type.search_conditions) %>
      from <%= pluralize(filing_type.agency_count, 'agency') %>

      <div>
        <% filing_type.document_type_facets.each do |facet| %>
          <%= link_to public_inspection_search_path(
            filing_type.search_conditions(facet.name)
          ) do %>
            <%= document_type_icon(facet.name, size: 'mini') %>
            <%= facet.count %>
          <% end %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
