<%
  type ||= nil
  show_see_references = defined?(show_see_references) && !show_see_references.nil? ? show_see_references : true
  display_agency_name = defined?(display_agency_name) && !display_agency_name.nil? ? display_agency_name : true
  table_of_contents_url = defined?(table_of_contents_url) ? table_of_contents_url : nil
  fr_index = defined?(fr_index) ? fr_index : nil
  total_document_count ||= 0
%>


<% agencies.each do |slug, agency| %>
  <% if (show_see_references || agency.document_categories.present?) && display_agency_name %>
    <h2 id="<%= agency.toc_anchor(type) %>">
      <%= link_to agency.name, agency_url(agency) %>
    </h2>
  <% end %>

  <% if show_see_references && agency.child_agencies.present? %>
    <ul class="see-references">
      <% agency.child_agencies.each do |child_agency| %>
        <li>
          <em>See</em>
          <% if child_agency.document_count_with_child_agencies > 0 %>
            <%= link_to(
              child_agency.name,
              "#{table_of_contents_url}##{child_agency.toc_anchor(type)}"
            ) %>
            <span class="count_pill count-pill cj-tooltip"
              data-tooltip="<%= pluralize(child_agency.document_count_with_child_agencies, 'Document') %>"
              data-tooltip-gravity="w">
              <%= child_agency.document_count_with_child_agencies %>
            </span>
          <% else %>
            <%= child_agency.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% agency.document_categories.each do |doc_category| %>
    <h3><%= doc_category["type"].try(:titlecase) %></h3>

    <div class="toc-category-level"
      id=<%= agency.toc_anchor(doc_category["type"]) %>>
      <%= display_hierarchy(
        doc_category["documents"],
        agency,
        level: 1,
        document_partial: document_partial,
        fr_index: fr_index,
        total_document_count: total_document_count
      ) %>
    </div>
  <% end %>
<% end %>
