<div class="toc-documents">
  <% documents.each do |document| %>
    <h7><%= link_to subject, document.html_url %></h7>

    <div class="row toc-document-metadata">
      <dl class="col-xs-6 col-md-6">
        <dt>Filed on:</dt>
        <dd><%= document.filed_at %></dd>

        <dt>Scheduled Pub. Date:</dt>
        <dd><%= document.publication_date %></dd>

        <dt>FR Document:</dt>
        <dd>
          <%= link_to document.document_number, short_document_path(document) %>
        </dd>

        <% if document.docket_numbers.present? %>
          <dt><%= "Agency Docket".pluralize(document.docket_numbers) %>:</dt>
          <dd><%= document.docket_numbers.join(",") %></dd>
        <% end %>
      </dl>

      <dl class="col-xs-6 col-md-6">
        <dt class="pi-pdf">
          <%= link_to document.pdf_url do %>
            <%= fr_icon 'doc-pdf' %> PDF
          <% end %>
        </dt>
        <dd>
          <%= pluralize document.num_pages, "Page" %>
          (<%= number_to_human_size document.pdf_file_size %>)
        </dd>

        <dt class="permalink">
          <%= link_to short_document_url(document) do %>
            <%= fr_icon 'link' %> Permalink
          <% end %>
        </dt>
        <dd></dd>
      </dl>

    </div>
  <% end %>
</div>
