<% documents.each do |document| %>
  <dt>
    <%= link_to(subject, document.html_url) %>
    <div class="details">
      <div class="column file_info">
        <%= link_to "<span class='icon-fr2 icon-fr2-doc-pdf'> PDF <span>".html_safe, document.pdf_url %>
        - <%= number_to_human_size(document.pdf_file_size) %>;
          <%= pluralize document.num_pages, 'page' %>
          <%= link_to short_document_url(document) do %>
            <span class="permalink">Permalink</span>
          <% end %>
      </div>
      <div class="column dates">
        <span class="filed_at"> Filed on: <%= document.filed_at %></span>
        <span class="publication_date">
          Scheduled Pub. Date:
          <%= link_to(document.publication_date, document_issue_path(
            document.publication_date.strftime('%Y'),
            document.publication_date.strftime('%m'),
            document.publication_date.strftime('%d'),
            anchor: document.document_number)) %>
        </span>
      </div>
      <div class="column doc_numbers">
        <span class="document_number">
          FR Document: <%= link_to(document.document_number,"/a/#{document.document_number}") %>
        </span>
        <span class="docket_id"><%= document.docket_numbers.join(",") %></span>
      </div>
    </div>
  </dt>
<% end %>