<div class="row">
  <div class="info-box">
    <div class="col-xs-1 col-md-1">
      <span class="icon-fr2 icon-fr2-info_circle"></span>
    </div>
    <div class="col-xs-11 col-md-11">
      <p>
        The following documents are on file at the Office of the Federal Register
        (OFR) and will be published in the Federal Register on the dates listed.
      </p>

      <p>
        <%= link_to 'Regular Filing', '#regular-filing' %> documents are
        routinely placed on file at 8:45 a.m. Eastern Time, for publication
        in the next day’s Federal Register.
      </p>

      <p>
        <%= link_to 'Special Filing', '#special-filing' %> documents are filed at other times and/or dates prior to
        publication.
      </p>

      <p>
        See
        <%= link_to 'About Public Inspection', public_inspection_learn_path %>
        for more information.
      </p>

      <div class="pi_notice">
        <p>
          Although we make a concerted effort to reproduce the original document
          in full on our Public Inspection pages, in some cases graphics may not
          be displayed, and non-substantive markup language may appear alongside
          substantive text. If you are using public inspection listings for legal
          research, you should verify the contents of documents against a final,
          official edition of the Federal Register.
          <strong>
            Only official editions of the Federal Register provide legal
            notice to the public and judicial notice to the courts under
            <%= public_inspection_uscode_link %>.
          </strong>
        </p>
        <p>
          Please note that most of the original documents filed with the Office
          of the Federal Register contain calculated effective dates, comment
          dates, and other applicable dates. We calculate and insert those
          dates after the documents go on file. You can consult the
          <%= link_to 'Table of Effective Dates & Time Periods',
                        public_inspection_table_of_effective_dates_path %>
          to determine the calendar date of a calculated date contained in a
          Public Inspection document.
        </p>
      </div>
    </div>
  </div>
</div>
