<% agencies.each do |slug, agency| %>
  <h2 id="<%= "#{type}-filing-#{agency.slug}" %>">
    <%= link_to agency.name, agency_path(agency) %>
  </h2>

  <% if agency.child_agencies.present? %>
    <ul class="see-references">
      <% agency.child_agencies.each do |child_agency| %>
        <li>
          <em>See</em>
          <%= link_to(
            child_agency.name,
            anchor: "##{type}-filing-#{child_agency.slug}"
          ) %>
          <span class="count_pill">
            <%= child_agency.document_count_with_child_agencies %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% agency.document_categories.each do |doc_category| %>
    <h3>
      <%#= document_type_icon(doc_category["name"]) %>
      <%= doc_category["name"].titlecase %>
    </h3>
    <div class="toc-category-level">
      <%= display_hierarchy(
        doc_category["documents"],
        agency,
        level: 1,
        document_partial: document_partial
      ) %>
    </div>
  <% end %>
<% end %>
