<% header_type 'public-inspection' %>

<% page_title @presenter.meta_page_title %>
<% description  @presenter.meta_description %>

<% @presenter.feed_urls.each do |feed| %>
  <%= feed_autodiscovery(
    feed.url,
    feed.description,
    search_conditions: feed.search_conditions
  ) %>
<% end %>

<%= title title_bar_class: "public-inspection" do %>
  <%= fr_icon 'clipboard' %>
  <%= @presenter.date %> Public Inspection Issue
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <%= esi issue_summary_path(
        path: 'pi',
        date: @presenter.date.to_s(:iso)
      ) %>
    </div>
  </div>

  <div class="row">
    <div class="<%= bootstrap_col xs: 9, md: 9 %> doc-content doc-toc">
      <%= render partial: 'info_box' %>
    </div>
    <div class="<%= bootstrap_col xs: 3, md: 3 %> doc-subscribe">
      <div class="row">
        <div class="<%= bootstrap_col xs: 12, md: 12 %>">
          <%= subscribe_box(search_type: 'PublicInspectionDocument') %>
        </div>
      </div>
      <div class="row">
        <div class="<%= bootstrap_col xs: 12, md: 12 %> calendar-wrapper">
          <%= public_inspection_calendar_esi_for(
            @presenter.date,
            current_date: @presenter.date.to_s(:iso)
          ) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="<%= bootstrap_col xs: 9, md: 9 %> doc-toc">
      <%= fr_content_box(
        FrBox.build(
          @special_filings_presenter.fr_content_box_type,
          title: 'Special Filing Table of Contents',
          filing_type: 'special_filing'
        )
      ) do %>
        <% if FrBox.build(@special_filings_presenter.fr_content_box_type).background_seal? %>
          <span class="icon-fr2 icon-fr2-stop-hand doc-background"></span>
        <% end %>

        <div class="doc doc-document-issue">
          <h1 id="special-filing">
            Special Filing
            <span class="updated_at">
              updated at
              <%= @presenter.special_filings.formatted_updated_at %>
            </span>
          </h1>

          <%= render partial: 'issues/table_of_contents',
            locals: {
              type: "special-filing",
              agencies: @special_filings_presenter.agencies,
              document_partial: @special_filings_presenter.document_partial
            } %>
        </div>
      <% end %>
    </div>

    <div class="<%= bootstrap_col xs: 3, md: 3 %> doc-toc-nav">
      <%= fr_details_box(
        FrBox.build(
          @special_filings_presenter.fr_details_box_type,
          title: "Special Filing Agencies"
        )
      ) do %>
        <%= render partial: 'issues/toc_agency_nav',
          locals: {
            type: 'special-filing',
            agencies: @special_filings_presenter.agencies
          } %>
      <% end %>
    </div>

    <div class="clearfix" style="height: 100px;"></div>
  </div>

  <div class="row">
    <div class="<%= bootstrap_col xs: 9, md: 9 %> doc-toc">
      <%= fr_content_box(
        FrBox.build(
          @regular_filings_presenter.fr_content_box_type,
          title: 'Regular Filing Table of Contents',
          filing_type: 'regular_filing'
        )
      ) do %>
        <% if FrBox.build(@regular_filings_presenter.fr_content_box_type).background_seal? %>
          <span class="icon-fr2 icon-fr2-stop-hand doc-background"></span>
        <% end %>

        <div class="doc doc-document-issue">
          <h1 id="regular-filing">
            Regular Filing
            <span class="updated_at">
              updated at
              <%= @presenter.regular_filings.formatted_updated_at %>
            </span>
          </h1>

          <%= render partial: 'issues/table_of_contents',
            locals: {
              type: "regular-filing",
              agencies: @regular_filings_presenter.agencies,
              document_partial: @regular_filings_presenter.document_partial
            } %>
        </div>
      <% end %>
    </div>

    <div class="<%= bootstrap_col xs: 3, md: 3 %> doc-toc-nav">
      <%= fr_details_box(
        FrBox.build(
          @regular_filings_presenter.fr_details_box_type,
          title: "Regular Filing Agencies"
        )
      ) do %>
        <%= render partial: 'issues/toc_agency_nav',
          locals: {
            type: 'regular-filing',
            agencies: @regular_filings_presenter.agencies
          } %>
      <% end %>
    </div>
  </div>

  <div class="clearfix" style="height: 100px;"></div>
<% end %>
