<% header_type 'public-inspection' %>

<div class="title public-inspection">
  <span><%= @regular_filings_presenter.date %> Public Inspection</span>
</div>

<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper">
    <div class="container fixed">
      <div class="public-inspection-summary-bar" >
        <%= render partial: 'issues/public_inspection_document_summary',
          locals: {presenter: @pi_presenter} %>
      </div>


      <div class="row">
        <div class="col-xs-9 col-md-9 doc-content doc-toc">
          <%= render partial: 'info_box' %>
        </div>
        <div class="col-xs-3 col-md-3">
          <%= render partial: 'subscribe' %>
          <%= esi public_inspection_documents_by_month_path(
            @regular_filings_presenter.date.strftime('%Y'),
            @regular_filings_presenter.date.strftime('%m'),
            current_date: @regular_filings_presenter.date.to_s(:iso) ) %>
        </div>
      </div>

    <div class="row doc doc-public-inspection">
        <%= render partial: 'table_of_contents',
            locals: {
              special_filing_agencies: @special_filings_presenter.agencies,
              special_filing_updated_at: @pi_presenter.special_filings.formatted_updated_at,
              regular_filing_agencies: @regular_filings_presenter.agencies,
              regular_filing_updated_at: @pi_presenter.regular_filings.formatted_updated_at,
              document_partial: @regular_filings_presenter.document_partial,
            } %>
        <%= render partial: 'table_of_contents_sidebar',
            locals: {
              special_filing_agencies: @special_filings_presenter.agencies,
              regular_filing_agencies: @regular_filings_presenter.agencies,
            } %>
      </div>

      <div class="clearfix" style="height: 100px;"></div>
    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
