<div class="row home-aid-box">
  <div classs="col-xs-12 col-md-12">
    <%= fr_box 'Reader Aids', :reader_aid, content_block_html: {class: 'simple'} do %>
      <div class="row">
        <div class="col-xs-8 col-md-8">
          <p>
            Increase your understanding of the Federal Register eco-system and
            improve your FederalRegister.gov skills with these helpful, unofficial
            educational articles and videos. See more of our reader aids
            <%= link_to "here", reader_aids_path %>.
          </p>
        </div>

        <div class="col-xs-4 col-md-4 section">
          <p class="blog">
            <span class="icon-fr2 icon-fr2-quote"></span>
            Read the <%= link_to "Office of the Federal Register Blog", reader_aids_section_path('blog-highlights') %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 col-md-8 section">
          <h4 class="with-icon lowercase">
            <span class="icon-fr2 icon-fr2-help"></span>
            Using FederalRegister.gov
            <%= link_to "view all", reader_aids_section_path('using-fr'), class: "more-details" %>
          </h4>
          <% @using_fr_pages.in_groups_of(3).each do |group| %>
            <ul class="fr-list with-bullets reader-aids two-col">
              <% group.each do |page| %>
                <li>
                  <%= link_to page.formatted_title, page.link %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="col-xs-4 col-md-4 section">
          <h4 class="with-icon lowercase">
            <span class="icon-fr2 icon-fr2-pc"></span>
            Recent Site Updates
            <%= link_to "view all", reader_aids_section_path('recent-updates'), class: "more-details" %>
          </h4>
          <ul class="fr-list with-bullets reader-aids">
            <% @recent_update_posts.each do |post| %>
              <li>
                <%= link_to post.formatted_title, post.link %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
