<% add_css_file_to_mailer('comment_copy.css') %>

<p class="intro">Thank you for submitting a comment. Below is a copy of what was submitted:</p>

<div>
  <% article = @comment.article %>
  <div class="document_title"><%= link_to article.title, article.html_url %></div>
  <div class="agency">A <%= article.type %> by <%= @comment.agency_name %></div>

  <dl class="document_details">
      <dt>Document URL</dt>
      <dd><%= link_to article.short_article_url, article.short_article_url %></dd>
      <dt>Published On</dt>
      <dd><%= article.publication_date %></dd>
  </dl>

  <dl class="comment_details">
    <dt>Comment Tracking Number</dt>
    <dd class="tracking_number"><%= link_to @comment.comment_tracking_number, "http://www.regulations.gov/#!searchResults;s=#{@comment.comment_tracking_number}" %></dd>
    <dt>Comment Submission Date</dt>
    <dd><%= @comment.commented_at %></dd>
  </dl>

  <dl class="comment_contents">
    <% @comment.comment_data.each do |field| %>
      <% field.symbolize_keys! %>

      <dt><%= field[:label] %></dt>
      <% field[:values].each do |value| %>
        <%= content_tag(:dd, value) %>
      <% end %>
    <% end %>
  </dl>
</div>

