<% page_controller 'topics' %>
<% page_action 'index' %>
<% description "Federal agencies add topics to the documents they publish in the Federal Register. Use these topics to learn more about your areas of interest and the regulations that affect them." %>

<% add_javascript src: 'page_specific/topics' %>

<% title do %>
  <%= fr_icon 'Molecular' %>
  Topics
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">

    <div class="<%= bootstrap_col(xs: 4, md: 4) %> item-filters">
      <div class="row">
        <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
          <%= render partial: 'components/filterable_list/filters/live_filter',
            locals: { type: 'Topic' } %>
        </div>
      </div>

      <div class="row">
        <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
          <%= render partial: 'components/filterable_list/filters/alphabetical' %>
        </div>
      </div>
    </div>

    <div class="<%= bootstrap_col(xs: 8, md: 8) %> filterable-list-container">
      <%= render partial: "components/filterable_list/header", locals: {
        item_count: @topics.count,
        sorters: ['alphabetical', 'count'],
        title: 'Topics <span>Found</span>'
      } %>

      <%= render layout: "components/filterable_list/items", locals: {
        dom_class: 'topic-list',
        dom_id: 'topic-list'
      } do %>
        <% @topics.each do |topic| %>
          <li data-filter-alpha="<%= topic.name.first %>"
              data-filter-live="<%= topic.name %>"
              data-sorter-text="<%= topic.name %>"
              data-sorter-count="<%= topic.count %>">

            <span class="topic-document-count"
              title="Number of associated documents">
              <%= topic.count %>
            </span>

            <%= link_to topic.name, topic_path(topic.slug) %>
          </li>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
