<% page_controller 'topics' %>
<% page_action 'index' %>
<% description "Federal agencies add topics to the documents they publish in the Federal Register. Use these topics to learn more about your areas of interest and the regulations that affect them." %>

<% add_javascript src: 'page_specific/topics' %>

<% title do %>
  <%= fr_icon 'Molecular' %>
  Topics
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">

    <div class="<%= bootstrap_col(xs: 4, md: 4) %> item-filters">
      <div class="row">
        <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
          <h4>Topic Filter</h4>
          <ul class="list-item-filter live-filter">
            <li>
              <label for="live_filter_topics" class="hide">Filter Topics</label>
              <input title="Filter topics" placeholder="Filter Topics"
                id="live-filter-topics">
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
          <h4>Alphabetical</h4>
          <ul class="list-item-filter alphabetical-filter">
            <li class="all on"><a href="#">ALL</a></li>

            <% %w( A-B C D-E F G-J K-M N O-P Q-T U-Z).each do |group| %>
              <li>
                <a href="#" data-filter-regex="^[<%= group %>]"><%= group %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="<%= bootstrap_col(xs: 8, md: 8) %> topic-list-container">

        <div class="row topic-list-info">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
            <h2 class="pull-left">
              <span class="small-stack">
                Topics <span>Found</span>
              </span>
              <span id="topic-count" class="topic-count">
                <%= @topics.count %>
              </span>
            </h2>

            <div class="item-sorters pull-right">
              <div class="item-sorter">
                <h5>Alpha</h5>
                <ul class="list-item-sorter alphabetical-sorter">
                  <li class="on">
                    <a class="asc" href="#" data-sort-direction="asc">Asc</a>
                  </li>
                  <li>
                    <a class="dec" href="#" data-sort-direction="desc">Dec</a>
                  </li>
                </ul>
              </div>

              <div class="item-sorter">
                <h5>Popularity</h5>
                <ul class="list-item-sorter count-sorter">
                  <li>
                    <a class="pop-asc" href="#" data-sort-direction="asc">Asc</a>
                  </li>
                  <li>
                    <a class="pop-dec" href="#" data-sort-direction="desc">Dec</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <ul id="topic_list" class="<%= bootstrap_col(xs: 12, md: 12) %> topic-list">
            <% @topics.each do |topic| %>
              <li data-filter-alpha="<%= topic.name.first %>"
                  data-filter-live="<%= topic.name %>"
                  data-sorter-text="<%= topic.name %>"
                  data-sorter-count="<%= topic.count %>">

                <span class="topic-document-count"
                  title="Number of associated documents">
                  <%= topic.count %>
                </span>

                <%= link_to topic.name, topic_path(topic.slug) %>
              </li>
            <% end %>
          </ul>
        </div>

    </div>
  </div>
<% end %>
