<% page_title "Topics - #{@presenter.name}" %>
<% description "Browse Federal Register documents tagged by agencies with the topic '#{@presenter.name}'. Use this topic to learn more about your areas of interest and the regulations that affect the topic '#{@presenter.name}'." %>

<% feed_autodiscovery topic_url(@presenter.slug, :format => :rss), false, "Documents in this topic", :search_conditions => {:topic_ids => [@presenter.slug]} %>
<% feed_autodiscovery significant_entries_topic_url(@presenter.slug, :format => :rss), false,  "Significant Documents in this topic", :search_conditions => {:topic_ids => [@presenter.slug], :significant => '1'} %>

<% title do %>
  <%= fr_icon 'Molecular' %>
  Topics
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row topics">
    <div class="<%= bootstrap_col(xs: 12, md:12) %>">

      <div class="topic-header">
        <div class="row">
          <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
            <h1>
              <%= @presenter.name %>
            </h1>

            <div class="search-actions">
              <p class="subscribe-wrapper pull-right">
                <%= subscribe_link(@presenter.search_conditions) %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <% if Settings.feature_flags.sparklines.topics %>
        <% if @presenter.total_document_count > 0 %>
          <div class="page-summary">
            <div class="row">
              <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
                <%= document_frequency_sparklines(
                  'Matching Document Frequency',
                  [
                    @presenter.weekly_sparkline,
                    @presenter.monthly_sparkline,
                    @presenter.quarterly_sparkline,
                  ]
                ) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @presenter.total_document_count > 0 %>
        <%= embedded_search_results @presenter %>
      <% else %>
        <p>No documents exist with this topic.</p>
      <% end %>
    </div>

  </div>
<% end %>
