<!DOCTYPE html>
<html>
<head>
  <title>Stylin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    asset_path("stylin/application"), media: "all" %>
  <%= javascript_include_tag asset_path("stylin/application") %>

  <%= stylesheet_link_tag    asset_path("application-shared"), media: "all" %>
  <%= stylesheet_link_tag    asset_path("application"), media: "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <h1><%= Styleguide %></h1>
  </div>

  <div class="container">
    <div class="row">
      <%= render partial: "layouts/stylin/navigation" %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
