<div class="<%= bootstrap_col xs: 12, md: 10 %>">
  <% if presidential_document.proclamation_number == '9494' %>
    <%= presidential_document.note %>
  <% else %>
    <h5>
      <%= presidential_document.presidential_doc_show_link(presenter) %>
    </h5>

    <div class="row metadata_wrapper">
      <dl class="<%= bootstrap_col xs: 7, md: 7 %>">
        <dt>Signed:</dt>
        <dd><%= presidential_document.signing_date %></dd>
        <dt>Published:</dt>
        <dd>
          <%= presidential_document.publication_date_link  %>
        </dd>
        <% if presidential_document.citation %>
          <dt>FR Citation:</dt>
          <dd><%= presidential_document.citation %></dd>
        <% end %>
        <% if presidential_document.document_number %>
          <dt>FR Doc. Number:</dt>
          <dd>
            <%= link_to presidential_document.document_number,
              document_path(presidential_document) %>
        </dd>
        <% end %>
      </dl>

      <dl class="<%= bootstrap_col xs: 5, md: 5 %>">
        <% if presidential_document.pdf_link %>
          <dt class="toc-pdf">
            <%= presidential_document.pdf_link %>
          </dt>

          <% if !presidential_document.historical_eo? %>
            <dd>
              <%= pluralize presidential_document.pages, 'page' %>
            </dd>
            <dt class="permalink">
              <%= link_to short_document_url(presidential_document) do %>
                <%= fr_icon 'link' %> Permalink
              <% end %>
            </dt>
          <% end %>
        <% end %>

      </dl>
    </div>

    <% if presenter.display_disposition_notes? && presidential_document.disposition_notes.present? %>
      <div class="row disposition-notes">
        <div class="<%= bootstrap_col xs: 12, md: 12 %>">
          <%= simple_format add_citation_links(presidential_document.disposition_notes.gsub("\\n","\n"), class: "notes") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
