<div>
  <div id="suggestions" class="<%= 'agency-scoped-search' if local_assigns[:agency] %>" data-controller="suggestions autocomplete"
    data-autocomplete-url-value="/suggestions"
    data-autocomplete-delay-value="300">

    <div class="modal hidden" data-controller="modal"
      data-action="keyup@document->modal#escClose"
      data-suggestions-target="modal">

      <button class="backdrop" type="button" tabindex="-1"
        data-action="modal#close"></button>

      <div class="content">

        <div class="panel panel-default panel-info" data-suggestions-target="help">
          <div class="panel-heading">
            <span class="icon-fr2 icon-fr2-badge_x" style="float: right;" data-action="click->modal#forceClose"></span>
            <p>
             Enter a search term or FR citation e.g. 
              <span>
              <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info">88 FR 382</span>
                <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info desktop-only">30 FR 7878</span>
                <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info">2024-13208</span>
                <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info">USDA</span>
                <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info desktop-only">09/05/24</span>
                <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info">RULE</span>
                <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info desktop-only">0503-AA39</span>
                <span data-action="click->suggestions#fillExample"
                  class="example badge badge-info desktop-only">SORN</span>
              </span>
            </p>
            <p class="desktop-only">
              Choosing an item from
              <span class="suggestion-header-example">full text search results</span>
              will bring you to those results. Pressing enter in the search box
              will also bring you to search results.
              Choosing an item from
              <span class="suggestion-header-example">suggestions</span>
              will bring you directly to the content. 
            </p>
            <p>
              Background and more details are available in the
              <em>
                <%= link_to "Search & Navigation",
                      '/reader-aids/recent-updates/2024/10/combined-search-and-navigation-omni-box' %>
              </em>
              guide.
            </p>
          </div>
        </div>

        <div class="cfr-ref-wrapper go-to-cfr-reference">
          <%= simple_form_for :search, url: documents_search_path, method: :get,
            html: {
              class: 'go-to-cfr-reference',
              data: {
                'suggestions-target': 'form',
                'turbo': false
              }
            } do |f| %>
            <% if local_assigns[:agency] %>
              <%= f.hidden_field :agencies,
                name: 'conditions[agencies][]',
                value: agency.slug,
                "data-param": "agencies[]" %>
            <% end %>

            <div class="input-group input-group-lg">
              <input type="text" class="form-control"
                placeholder="Enter a search term or FR reference (eg 88 FR 382)"
                aria-describedby="reference-search-icon"
                data-autocomplete-target="input"
                data-suggestions-target="input"
                name="conditions[term]"
                id="suggestion_query">

              <span class="input-group-btn"
                id="reference-search-icon"
                aria-label="search">
                <button class="btn btn-optional" type="button"
                  data-suggestions-target="searchIcon"
                  data-action="click->suggestions#goDefault">
                    <%#= ecfr_icon('search') %>
                    <%= fr_icon('Search') %>
                </button>
              </span>
            </div>

            <div data-autocomplete-target="results"
              data-suggestions-target="results"></div>
          <% end %>
        </div>

      </div>
    </div>

    <%= simple_form_for :cfr, url: documents_search_path, method: :get,
      html: {
        class: 'go-to-cfr-reference hidden',
        'data-suggestions-target': 'nonModalForm'
      } do |f| %>
      <%#= f.hidden_field :date,
        label: false,
        value: (current ? 'current' : date) %>
      <%#= f.hidden_field :prior_hierarchy,
        value: @ecfr_content_presenter&.hierarchy_presenter&.current_hierarchy_for_search&.to_json %>
      <%= f.hidden_field :suggestion_id,
        value: nil,
        "data-autocomplete-target" => "hidden" %>

      <div class="input-group input-group-lg">
        <input type="text" class="form-control string optional"
          data-action="focus->suggestions#modal"
          placeholder="Enter a search term or CFR reference (eg. fishing or 1 CFR 1.1)"
          type="text"
          data-suggestions-target="nonModalInput"
          name="conditions[term]"
          id="suggestion">
        <span class="input-group-btn"
          data-action="click->suggestions#go">

          <button class="btn btn-optional" type="button"
            data-suggestions-target="nonModalSearchIcon"
            data-action="click->suggestions#go">
              <%#= ecfr_icon('search') %>
          </button>
        </span>
      </div>
    <% end %>
  </div>
</div>
