<div class="suggestion matching-citation">
  <%= fr_icon 'documents' %>

  <div class="suggestion-content">
    <p>
      It looks like you were searching for the citation
      <span class="term"><%= citation_suggestion.name %></span>.
    </p>

    <% if citation_suggestion.matching_fr_entries.present? %>
      <div class="matching-citation-documents">
        <p>
          <% if citation_suggestion.citation_type == 'FR' %>
            We've found the following
            <%= citation_suggestion.matching_fr_entries.count == 1 ? 'document' : 'documents' %>
            on page <%= citation_suggestion.part_2 %> of volume <%= citation_suggestion.part_1 %>.
          <% else %>
            We've found the following Executive Order:
          <% end %>
        </p>

        <ul>
          <%= render partial: 'search/documents/suggestions/citation_suggestion_result',
            collection: citation_suggestion.matching_fr_entries,
            as: :document,
            locals: {
              :page => citation_suggestion.part_2 ? citation_suggestion.part_2.to_i : nil
            } %>
        </ul>
      </div>
    <% else %>
      <p>
        We were unable to find any documents with that citation.
        FederalRegister.gov covers documents published starting in January of 1994
        (volumes 59-current).
      </p>
      <p>
        Documents published before 1993 (Volumes 1-58) are available through a
        <a href="https://catalog.gpo.gov/fdlpdir/public.jsp" class="external">
          Federal Depository Library
        </a>.
      </p>
    <% end %>
  </div>
</div>
