<li class="result-item">
  <h5>
    <%= link_to sanitize(document.title, tags: %w(span), attributes: %w(class)),
      document_path(document),
      class: 'fr-ga-event',
      data: {
        event_name: 'fr_search_suggestion_click',
        event_parameters: {
          suggestion_type: 'citation',
          suggestion_text: document.title
        }.to_json
      } %>
  </h5>

  <% if document.abstract %>
    <div class="result-info">
      <p class="excerpts">
        <%= truncate_words(document.abstract, :length => 200) %>
      </p>
    </div>
  <% end %>

  <ul class="metadata">
    <li>
      <%= document.metadata_description %>
    </li>
    <li>
      <%= "Page".pluralize(document.pages ) %> <%= document.page_range %>
      (<%= pluralize(document.pages, "page") %>)
    </li>
  </ul>
</li>
