<div class="suggestion matching-citation">
  <%= fr_icon 'documents' %>

  <div class="suggestion-content">
    <p>
      It looks like you were searching for the citation
      <span class="term"><%= citation_suggestion.name %></span>.
    </p>

    <% if citation_suggestion.matching_fr_entries.present? %>
      <div class="matching-citation-documents">
        <p>
          <% if citation_suggestion.citation_type == 'FR' %>
            We've found the following
            <%= citation_suggestion.matching_fr_entries.count == 1 ? 'document' : 'documents' %>
            on page <%= citation_suggestion.part_2 %> of volume <%= citation_suggestion.part_1 %>.
          <% else %>
            We've found the following Executive Order:
          <% end %>
        </p>

        <ul>
          <%= render partial: 'search/documents/suggestions/citation_suggestion_result',
            collection: citation_suggestion.matching_fr_entries,
            as: :document,
            locals: {
              :page => citation_suggestion.part_2 ? citation_suggestion.part_2.to_i : nil
            } %>
        </ul>
      </div>
    <% else %>
      <% archives_citation = FrArchivesCitation.new(citation_suggestion.volume, citation_suggestion.page) %>

      <% if archives_citation.before_archives? %>
        <p>
          Older volumes may be available online at
          <a href='https://www.govinfo.gov/app/collection/fr'>govinfo.gov</a>
          or via a
          <a href="https://catalog.gpo.gov/fdlpdir/public.jsp" class="external">Federal Depository Library</a>.
        </p>
      <% end %>

      <% if archives_citation.pdf_url %>
        <ul>
          <li class="result-item">
            <h5>
              <%= link_to sanitize(
                    "#{citation_suggestion.name} (Optimized Version #{number_to_human_size(archives_citation.optimized_file_size)})",
                    tags: %w(span),
                    attributes: %w(class)
                  ),
                  archives_citation.pdf_url %>
            </h5>
            <div class="result-info">
              <p class="excerpts">
                <%= link_to "#{citation_suggestion.name} (Full Government Publishing Office Version #{number_to_human_size(archives_citation.original_file_size)})",
                      archives_citation.gpo_url %>
              </p>
            </div>
          </li>
        </ul>
      <% else %>
        <p>
          We were unable to find any documents with that citation.
        </p>
      <% end%>
      
    <% end %>
  </div>
</div>
