<div id="articles_published_by_day-<%= index %>" data-date="<%= date %>" class="tabs-panel">
  <h2 class="title_bar"><span class="small_stack">Documents <span>published on</span></span> <span class="large_flow"><%= date %></span></h2>
  <% @section.documents_for_date(date).in_groups_of(2, false).each_with_index do |documents, index| %>
    <div class="row <%= index == 0 ? 'first' : '' %>">
      <% documents.each do |entry| %>
        <% article_tag do %>
          <h1><%= link_to document.title, document_path(document) %></h1>
          <%= document.type.with_indefinite_article(true) %> by <%= document.agency_names %>
        <% end -%>
      <% end %>
    </div>
  <% end %>
</div>
