<li class="dropdown nav_sections">
  <%= link_to('', class: "top_nav") do %>
    <%= fr_icon('thumbnails') %>
    Sections
    <%= fr_icon('menu_arrow') %>
  <% end %>
    <ul class="subnav">
      <% presenters.each do |presenter| %>
        <li id='<%= presenter.slug %>'>
          <%= link_to(
            section_path(presenter.slug),
            class: presenter.slug
          ) do %>
            <%= fr_icon(presenter.icon) %>
            <%= presenter.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
</li>
