<% @presenter.feed_urls.each do |feed| %>
  <%= feed_autodiscovery feed.url,
    feed.description,
    search_conditions: feed.search_conditions %>
<% end %>

<% title header_class: 'sections' do %>
  <%= fr_icon @presenter.icon %>
  <%= @presenter.title %>
<% end %>

<%= bootstrap_context_wrapper do %>

    <div class="with-icon-header">
      <%= render partial: 'suggested_searches',
        locals: {
          suggested_searches: @presenter.suggested_searches
        } %>
    </div>

    <div class="with-icon-header">
      <%= render partial: 'documents_by_date',
        locals: {
          documents_by_date: @presenter.documents_in_last_five_issues,
          search_conditions: @presenter.search_conditions
        } %>
    </div>
<% end %>
