<% @presenter.feed_urls.each do |feed| %>
  <%= feed_autodiscovery feed.url,
    feed.public_inspection_search_possible,
    feed.description,
    search_conditions: feed.search_conditions %>
<% end %>

<div class="title">
  <span>
    <%= fr_icon(@presenter.icon_name) %>
    <%= @presenter.section_title %>
  </span>
  <%= link_to '', '', :class => 'subscription tipsy',
        :title => 'Subscribe by Email or RSS' %>
  <%= add_handlebars_template('subscription_modal', 'subscription-modal') %>
</div>

<div class="bootstrap-scope section-show-page">
  <h3 class="suggested-search-title-bar">
    <%= fr_icon('Search') %>
    Suggested <%= @presenter.section_title %> Searches
  </h3>

  <div class="row">
    <ul class="list-unstyled">
      <% @presenter.suggested_searches.first(4).in_groups_of(2).each do
        |two_item_row| %>
        <div class="row">
          <% two_item_row.compact.each do |suggested_search| %>
            <li class="col-xs-6">
              <h4 class="suggested-search">
                <%= link_to(suggested_search.title,
                      suggested_searches_path(suggested_search.slug) ) %>
              </h4>
              <%= suggested_search.documents_in_last_year %> in the last year
              <%= truncate_words(suggested_search.description, length: 280).html_safe %>
              <%# suggested_search.search_conditions %>
              <ul class="list-unstyled ">
                <% suggested_search.example_documents.first(2).each do |example_doc| %>
                <li class="suggested-search-bulleted">
                  <%= fr_icon(DocumentType.new(example_doc.type).granule_class) %>
                  <%#= document_type_icon(example_doc.type) %>
                  <%= link_to(truncate_words(example_doc.title, :length => 120),
                    example_doc.html_url) %>
                </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>

    <ul class="list-unstyled row">
    <% @presenter.suggested_searches.drop(4).in_groups_of(3).each do
         |three_item_row| %>
      <div class="row">
        <% three_item_row.compact.each do |suggested_search| %>
          <li class="col-xs-4">
            <h4 class="suggested-search">
              <%= link_to(suggested_search.title,
                    documents_search_path(
                    :conditions => suggested_search.search_conditions)) %>
              </h4>
              <%= suggested_search.documents_in_last_year %> in the last year
          </li>
        <% end %>
        </div> <!-- row -->
    <% end %>
    </ul>
<!-- TODO: Refactor into partial -->
  <h3 class="title-bar-documents"> Browse The Last Five Days </h3>
  <div class="row">
    <div class="col-xs-2">
      <ul class="list-unstyled">
        <% @presenter.last_five_days_hash.each do |date,results| %>
          <li class="text-center"><%= link_to(date, '#',class: "toggle", data: {toggle-target: "documents_published_on_<%= date %>"})%></li>
        <% end %>
        <li>
          <%= fr_icon('Search') %>
          <%= link_to("Search to see older documents.", documents_search_path) %>
        </li>
      </ul>
    </div>

    <div class="col-xs-10">
      <ul class="list-unstyled">
        <% @presenter.last_five_days_hash.each do |date,docs| %>
          <div class="row" id="documents_published_on_<%= date %>">
            <% docs.in_groups_of(2).each do |two_item_row|%>
              <div class="row">
              <% two_item_row.compact.each do |doc| %>
                <li class="col-xs-6">
                  <h5 class="example-doc"><%= link_to(truncate_words(doc.title, :length => 280), doc.html_url, ) %></h5>
                  <%= "#{doc.type.with_indefinite_article(true)} by #{doc.agency_names}".html_safe %>
                </li>
              <% end %>
              </div> <!-- row -->
            <% end %>
          </div> <!-- row documents_published_on -->
        <% end %>
      </ul>

    </div>
  </div>

</div> <!-- bootstrap-scope -->
