<% @presenter.feed_urls.each do |feed| %>
  <%= feed_autodiscovery feed.url,
    feed.public_inspection_search_possible,
    feed.description,
    search_conditions: feed.search_conditions %>
<% end %>

<% title header_class: 'sections' do %>
  <%= fr_icon @presenter.icon %>
  <%= @presenter.title %>
<% end %>

<%= bootstrap_context_wrapper do %>

  <div class="row">
    <div class="<%= bootstrap_col(xs: 8, md: 8) %> carousel-large">
      <%= carousel(
        @presenter.highlighted_documents,
        image_size: 'large',
        html_options: {
          wrapper_class: 'carousel-wrapper-large',
          wrapper_id: "section-carousel-#{@presenter.slug}"
        },
        description: 'none'
      ) %>
    </div>
  </div>

  <div class="row">
    <div class="<%= bootstrap_col(xs: 12, md: 12) %> with-icon-header">
      <%= render partial: 'suggested_searches',
        locals: {
          suggested_searches: @presenter.suggested_searches
        } %>
    </div>
  </div>

  <div class="row">
    <div class="<%= bootstrap_col(xs: 12, md: 12) %> with-icon-header">
      <%= render partial: 'documents_by_date',
        locals: {
          documents_by_date: @presenter.documents_in_last_five_issues,
          search_conditions: @presenter.search_conditions
        } %>
    </div>
  </div>
<% end %>
