<% @presenter.feed_urls.each do |feed| %>
  <%= feed_autodiscovery feed.url,
    feed.public_inspection_search_possible,
    feed.description,
    search_conditions: feed.search_conditions %>
<% end %>

<div class="title">
  <span>
    <%= fr_icon(@presenter.icon_name) %>
    <%= @presenter.section_title %>
  </span>
  <%= link_to '', '', :class => 'subscription tipsy',
        :title => 'Subscribe by Email or RSS' %>
  <%= add_handlebars_template('subscription_modal', 'subscription-modal') %>
</div>

<div class="bootstrap-scope section-show-page"> <!-- bootstrap-scope -->
  <h3 class="suggested-search-title-bar">
    <%= fr_icon('Search') %>
    Suggested <%= @presenter.section_title %> Searches
  </h3>

  <div class="row">
    <ul class="list-unstyled">
      <% @presenter.suggested_searches.first(4).in_groups_of(2).each do
        |two_item_row| %>
        <div class="row">
          <% two_item_row.compact.each do |suggested_search| %>
            <li class="col-xs-6">
              <h4 class="suggested-search">
                <%= link_to(suggested_search.title,
                      suggested_searches_path(suggested_search.slug) ) %>
              </h4>
              <%= suggested_search.documents_in_last_year %> in the last year
              <%= truncate_words(suggested_search.description, length: 280).html_safe %>
              <%# suggested_search.search_conditions %>
              <ul class="list-unstyled ">
                <% suggested_search.example_documents.first(2).each do |example_doc| %>
                <li class="suggested-search-bulleted">
                  <span class="icon-fr2 icon-fr2-<%=DocumentType.new(example_doc.type).granule_class%> tooltip" data-tooltip=<%= example_doc.type %>></span>
                  <%= link_to(truncate_words(example_doc.title, :length => 120),
                    example_doc.html_url) %>
                </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>

    <ul class="list-unstyled row">
    <% @presenter.suggested_searches.drop(4).in_groups_of(3).each do
         |three_item_row| %>
      <div class="row">
        <% three_item_row.compact.each do |suggested_search| %>
          <li class="col-xs-4">
            <h4 class="suggested-search">
              <%= link_to(suggested_search.title,
                    documents_search_path(
                    :conditions => suggested_search.search_conditions)) %>
              </h4>
              <%= suggested_search.documents_in_last_year %> in the last year
          </li>
        <% end %>
        </div>
    <% end %>
    </ul>

  <%= render partial: 'documents_by_day', locals: {
        last_five_days_docs: @presenter.last_five_days_docs } %>
</div> <!-- bootstrap-scope -->
