<div class="embedded_search search_bar search-bar">
  <%= semantic_form_for @search,
    as: :conditions,
    url: documents_search_path,
    authenticity_token: false,
    html: {
      method: :get,
      id: "embedded_entry_search_form",
      class: 'documents'
    } do |f| %>

    <label>Search Agency</label>
    <%= f.text_field :term,
      class: 'search-term',
      placeholder: 'Search term or citation' %>

    <%= f.button fr_icon('Search').html_safe,
      class: 'search-submit',
      id: 'conditions_submit',
      "aria-label" => 'Search' %>

    <ul>
      <%= content_tag(:li, class: "hidden optional", id: "conditions_agency_ids_input") do %>
        <%= hidden_field_tag('conditions[agency_ids]', agency.id) %>
      <% end %>
    </ul>

    <span id="expected_result_count" class="search-result-count">
      <span class="document-count"></span>
      <span class="loader"></span>
    </span>

    <% unless false # RW: agency == AgencyName.find_by_name!("Executive Office of the President").agency %>
      <div id="doc-type-filter" class="doc-type-filter">
        <ul>
          <%  DocumentType.document_types_for_search.
              reject{|dt| dt.identifier == "presidential_document"}.
              each do |doc_type| %>
            <li class="doc_<%= doc_type.identifier %>"
              data-filter-doc-type="<%= doc_type.identifier %>"
              data-filter-doc-type-display="<%= doc_type.display_type %>"
              original-title="">
                <div aria-hidden="true"
                  class="icon-fr2 icon-fr2-<%= doc_type.identifier %>"></div>
            </li>
          <% end %>
        </ul>
      </div>

      <li class="check_boxes optional" id="conditions_type_input">
        <fieldset>
          <legend class="label">
            <label for="conditions_type">Document Category</label>
          </legend>

          <ol>
            <%  DocumentType.document_types_for_search.
                reject{|dt| dt.identifier == "presidential_document"}.
                each do |doc_type| %>
              <li>
                <label for="conditions_type_<%= doc_type.identifier %>">
                  <input name="conditions[type][]" type="hidden" value="">
                  <input id="conditions_type_<%= doc_type.identifier %>"
                    name="conditions[type][]"
                    type="checkbox" value="<%= doc_type.granule_class %>">
                  <%= doc_type.display_type %>
                </label>
              </li>
            <% end %>
          </ol>
        </fieldset>
      </li>
    <% end %>
  <% end %>
</div>
