<% description 'Federal agencies publish articles in the Federal Register. Browse these agencies to learn more about each agency, view their most recently published articles, and to subscribe to their RSS feed.' %>

<% add_javascript src: 'page_specific/agencies' %>

<% title header_class: 'agencies' do %>
  <%= fr_icon 'mindmap' %>
  Agencies
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">

    <div class="<%= bootstrap_col(xs: 4, md: 4) %> item-filters">
      <div class="row">
        <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
          <%= render partial: 'components/filterable_list/filters/live_filter',
            locals: { type: 'Agency' } %>
        </div>
      </div>

      <div class="row">
        <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
          <%= render partial: 'components/filterable_list/filters/alphabetical' %>
        </div>
      </div>

      <div class="row">
        <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
          <h4>Sub Agencies</h4>
          <ul class="list-item-filter sub-agency-filter">
            <li class="on">
              <a href="#" data-show-sub-agencies=true>Show</a>
            </li>
            <li>
              <a href="#" data-show-sub-agencies=false>Hide</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="<%= bootstrap_col(xs: 8, md: 8) %> filterable-list-container">
      <%= render partial: "components/filterable_list/header", locals: {
        item_count: @presenter.count,
        sorters: ['alphabetical'],
        title: 'Agencies <span>Found</span>'
      } %>

      <%= render layout: "components/filterable_list/items", locals: {
        dom_class: 'agency-list',
        dom_id: 'agency-list'
      } do %>
        <% @presenter.parent_agencies.each do |agency|  %>
          <li data-filter-alpha="<%= agency.name.first %>"
              data-filter-live="<%= agency.name %>"
              data-sorter-text="<%= agency.name %>">

            <%= link_to agency.name, agency.url %>

            <% if @presenter.children_of(agency) %>
              <ul>
                <% @presenter.children_of(agency).each do |sub_agency| %>
                  <li data-filter-alpha="<%= sub_agency.name.first %>"
                      data-filter-live="<%= sub_agency.name %>"
                      data-sorter-text="<%= sub_agency.name %>"
                      data-sub-agency=true>

                    <%= link_to sub_agency.name, sub_agency.url %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
