<% page_title "Agencies - #{@presenter.agency.name}" %>
<% description description_for_agency(@presenter.agency) %>

<% feed_autodiscovery agency_url(@presenter.agency.slug, :format => :rss), false, "All Articles by #{@presenter.agency.name}", :search_conditions => {:agency_ids => [@presenter.agency.id]} %>
<% feed_autodiscovery significant_entries_agency_url(@presenter.agency.slug, :format => :rss), false, "Significant Articles by #{@presenter.agency.name}", :search_conditions => {:agency_ids => [@presenter.agency.id], :significant => 1} %>

<% add_javascript src: 'page_specific/agency_logo' %>

<% title do %>
  <%= fr_icon 'mindmap' %>
  Agency
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row agencies">
    <div class="<%= bootstrap_col(xs: 12, md:12) %>">

      <div class="agency-header">
        <div class="row">
          <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
            <h1>
              <% if @presenter.agency.logo.present? %>
                <%= image_tag @presenter.agency.logo_url(:thumb),
                  class: 'agency-logo' %>
              <% end %>
              <%= @presenter.name %>
            </h1>

            <div class="search-actions">
              <p class="subscribe-wrapper pull-right">
                <%= subscribe_link(@presenter.search_conditions) %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="page-summary">
        <% if Settings.feature_flags.sparklines.agencies %>
          <% if @presenter.total_document_count > 0 %>
            <div class="row">
              <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
                <%= document_frequency_sparklines(
                  'Published Document Frequency',
                  [
                    @presenter.weekly_sparkline,
                    @presenter.monthly_sparkline,
                    @presenter.quarterly_sparkline,
                  ]
                ) %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
            <% if @presenter.agency.description.present? %>
              <div class="description">
                <%= auto_link(
                  simple_format(@presenter.agency.description)
                ).html_safe %>
                <%#= add_citation_links(auto_link(simple_format(@presenter.agency.description))).html_safe %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
            <dl class="fr-list fr-list-inline sub-agency-list">
              <% if @presenter.agency_url.present? %>
                <dt>Agency URL:</dt>
                <dd><%= link_to(@presenter.agency_url, @presenter.agency_url) %></dd>
              <% end %>

              <% if @presenter.agency.parent_agency? %>
                <dt>Parent Agency</dt>
                <dd>
                  <%= link_to @presenter.agency.parent_agency.name,
                    @presenter.agency.parent_agency.url %>
                </dd>
              <% end %>

              <% if @presenter.agency.child_agencies? %>
                <dt>
                  <%= pluralize_without_count @presenter.agency.child_agencies(['name', 'url']).size, 'Sub-agency'%>:
                </dt>
                <% @presenter.agency.child_agencies(['name', 'url']).each do |agency| %>
                  <dd>
                    <%= link_to agency.name, agency.url %>
                  </dd>
                <% end %>
              <% end %>
            </dl>
          </div>
        </div>
      </div>

      <div class="row row-eq-height">
        <div class="<%= bootstrap_col(xs: 8, md: 8) %>">
          <%= render :partial => 'embedded_search', locals: {
            search: @search,
            agency: @presenter.agency
          } %>
        </div>

        <div class="<%= bootstrap_col(xs: 4, md: 4) %> jump-menu">
          <h6>On this Page</h6>

          <ul class="fr-list with-bullets enhanced">
            <% if @presenter.total_public_inspection_document_count > 0 %>
              <li>
                <%= link_to 'Documents on Public Inspection', '#pi-documents' %>
              </li>
            <% end %>

            <% if @presenter.total_significant_document_count > 0 %>
              <li>
                <%= link_to 'Significant Documents', '#significant-documents' %>
              </li>
            <% end %>

            <% if @presenter.total_document_count > 0 %>
              <li>
                <%= link_to 'Recently Published Documents', '#documents' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <% if @presenter.total_public_inspection_document_count > 0 %>
        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>"
            id='pi-documents'>
            <%= embedded_search_results_with_stacked_header(
              @presenter.public_inspection_document_results,
              "Pending <span>Publication</span>",
              "Documents on Public Inspection",
              document_type: :public_inspection,
              footer: false) %>
          </div>
        </div>
      <% end %>

      <% if @presenter.total_significant_document_count > 0 %>
        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>"
            id='significant-documents'>

            <%= embedded_search_results_with_stacked_header(
              @presenter.significant_document_results,
              "Listing <span>of</span>",
              "Significant Documents",
              footer: false) %>
          </div>
        </div>
      <% end %>

      <% if @presenter.total_document_count > 0 %>
        <div class="row">
          <div class="<%= bootstrap_col(xs: 12, md: 12) %>"
            id='documents'>
            <%= embedded_search_results_with_stacked_header(
              @presenter.document_results,
              "Listing <span>of</span>",
              "Recently Published Documents",
              footer: false) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
