<div class="section">
  <%= render partial: 'header', locals: {title: title, icon_class: icon_class, show_view_all: show_view_all} %>
  <ul class="fr-list">
    <% items.each do |item| %>
      <li>
        <h5><%= link_to item.title, item.link %></h5>
        <p>
          <%= item.excerpt.truncate(262) %>
          <span class="byline">
            <span class="authorship">
              <%= link_to item.author.name, "#" %> - <%= link_to item.modified, "#" %>
            </span>
          </span>
        </p>
      </li>
    <% end %>
  </ul>
</div>
