<div class="comment_wrapper">
  <%# TODO: due date %>
  <div class="comment_form_wrapper">
    <div class="instructions">
      <%# TODO: handle esi %>
      <%# esi site_notification_path(identifier: :comment) %>

      <% if false && @comment.comment_form.comments_close_at %>
        <% if @comment.comment_form.comments_close_at > Time.now && @comment.comment_form.comments_close_at < Time.now + 1.hour %>
          <div class="notice warning">
            <p>
              Comments on this document close in less than 1 hour.
              Ensure that you submit your comment before
              <%= @comment.comment_form.comments_close_at.to_s(:datetime_with_zone) %>.
            </p>
          </div>
        <% elsif @comment.comment_form.comments_close_at < Time.now && @comment.comment_form.comments_close_at + 2.hours > Time.now %>
            <div class="notice warning">
            <p>
              Comments on this document may no longer be open.
              The comment close date was <%= @comment.comment_form.comments_close_at.to_s(:datetime_with_zone) %>.
            </p>
          </div>
        <% end %>
      <% end %>

      <p>
        Thank you for taking the time to create a comment. Your input is important.
        Regulations.gov has provided
        <a href="https://www.regulations.gov/docs/Tips_For_Submitting_Effective_Comments.pdf"
          class="reg_gov_comment_tips"
          target="_blank">
          tips for submitting an effective comment
        </a><%# @comment.comment_form.posting_guidelines.present? ? '' : '.' %>
        <%# TODO: handle posting guidelines %>

        <% if false && @comment.comment_form.posting_guidelines %>
          and this agency has also provided
          <a href="#" class="fr_modal_link reg_gov_posting_guidelines"
            data-modal-title="Agency Posting Guidelines"
            data-modal-html="<p><%# TODO @comment.comment_form.posting_guidelines %></p>">
             additional posting guidelines
          </a>.
        <% end %>
      </p>

      <p>
        <%# TODO: Dynamically populate the agency name here: %>
        Once you have filled in the required fields below you can preview and/or
        submit your comment to <%#= @comment.agency_name %> for review.
        All comments are considered public and will be posted online once
        <%#= @comment.agency_name %> has reviewed them.
      </p>

      <p>
        You can view
        <% if false && @comment.comment_form.alternative_ways_to_comment.present? %>
          <a href="#" class="fr_modal_link reg_gov_alternative_ways_to_comment"
            data-modal-title="Alternative Ways to Comment"
            data-modal-html="<p><%= @comment.comment_form.alternative_ways_to_comment %></p>">
            alternative ways to comment
          </a>
        <% else %>
          <%= link_to 'alternative ways to comment',
            '#addresses',
            class: 'alternative_ways_to_comment addresses' %>
        <% end %>
        or you may also comment via Regulations.gov at,
        <%# link_to @comment.document.calculated_comment_url, @comment.document.calculated_comment_url %>.
        <%# TODO: handle document.caluclated_comment_url if necessary %>
      </p>
    </div>

    <%= semantic_form_for :comment, url: '#', html: {
      id: "new_comment",
        data: {
          document_number: document.document_number,
          agency: nil
        }
      } do |f| %>

      <div class="notice message comment_reloaded hidden">
        It appears that you have attempted to comment on this document before
        so we've restored your progress. <br>
        <a href="#" id="comment-start-over">Start over</a>.
      </div>

      <%# TODO: support error states %>
      <% if false && @comment.errors.present? %>
        <div class="errors">
          <%= @comment.human_error_messages %>
        </div>
      <% end %>

      <%= f.inputs do %>
        <li class="input hidden">
          <%= hidden_field_tag(
              'comment[secret]',
              nil
            ) %>
        </li>

        <%= f.input :comment, as: :text, wrapper_html: {'data-max-size' => 5000, 'data-size-warn-at' => 250, class: 'public'} %>
        <%= f.input :category, label: 'What is your comment about?', collection: [] %>
        <%= render partial: "file_upload_input" %>
        <hr>
        <%= f.input :email, required: false %>
        <%= f.input :sendEmailReceipt,
              label: 'Send Email Receipt',
              as: :boolean,
              required: false,
              hint: 'Opt to receive email confirmation of submission and tracking number from Regulations.gov' %>
        <%= f.input :submitterType, label: 'Submitter Type (will be hidden via JS)', collection:
          [
            'Anonymous',
            'Individual',
            'Organization',
          ]
        %>
        <%# Individual Submitter Fields %>
        <%= f.input :firstName, label: "First Name", class: 'public', wrapper_html: {class: 'public'} %>
        <%= f.input :lastName, label: "Last Name", wrapper_html: {class: 'public'} %>
        <%= f.input :city, required: false, wrapper_html: {class: 'public'} %>
        <%= f.input :state, collection: state_options, required: false, wrapper_html: {class: 'public'} %>
        <%= f.input :zip, required: false %>
        <%= f.input :country, collection: country_options, required: false  %>
        <%= f.input :phone, required: false %>

        <%# Organization Submitter Fields %>
        <%= f.input :organizationType,
              label: "Organization Type",
              collection: ['Company', 'Organization', 'Federal', 'State', 'Local', 'Tribal', 'Regional', 'Foreign', 'U.S. House of Representatives', 'U.S. Senate'],
              wrapper_html: {class: 'public'} %>
        <%= f.input :organizationName, label: "Organization Name", wrapper_html: {class: 'public'} %>

        <hr>

        <li class="boolean input required" id='comment_confirmation_text'>
          <label for="null">
            You are filing a document into an official docket. Any personal
            information included in your <strong>comment text and/or uploaded
            attachment(s)</strong> may be publicly viewable on the web.
          </label>
        </li>
        <%= f.input :confirm_submission,
          :as => :boolean,
          :label => 'I read and understand the statement above.' %>

      <% end %>

      <%= f.actions do %>
        <%= f.action :submit, as: :input,
          label: "Submit Comment",
          wrapper_html: {class: 'commit button disabled'},
          button_html: {disabled: 'create disabled'}
        %>
        <%= content_tag(
          :li,
          link_to(
            'Preview Comment',
            '#',
            :class => 'comment_preview'
          )
        ) %>
      <% end %>
    <% end %>

  </div> <!-- end comment_form_wrapper -->
</div>
