<div class="comment_wrapper">
  <% due_date = document.comments_close_on %>
  <div class="comment_form_wrapper" data-comment-due="<%= Time.new(
    due_date.year,
    due_date.month,
    due_date.day,
    23,
    59
  ).to_s(:datetime_with_abbv_zone) %>">
    <div class="instructions">
      <%# TODO: handle esi %>
      <%# esi site_notification_path(identifier: :comment) %>

      <% if false && @comment.comment_form.comments_close_at %>
        <% if @comment.comment_form.comments_close_at > Time.now && @comment.comment_form.comments_close_at < Time.now + 1.hour %>
          <div class="notice warning">
            <p>
              Comments on this document close in less than 1 hour.
              Ensure that you submit your comment before
              <%= @comment.comment_form.comments_close_at.to_s(:datetime_with_zone) %>.
            </p>
          </div>
        <% elsif @comment.comment_form.comments_close_at < Time.now && @comment.comment_form.comments_close_at + 2.hours > Time.now %>
            <div class="notice warning">
            <p>
              Comments on this document may no longer be open.
              The comment close date was <%= @comment.comment_form.comments_close_at.to_s(:datetime_with_zone) %>.
            </p>
          </div>
        <% end %>
      <% end %>

      <p>
        Thank you for taking the time to create a comment. Your input is important.
        <%# @comment.comment_form.posting_guidelines.present? ? '' : '.' %>
        <%# TODO: handle posting guidelines %>

        <% if false && @comment.comment_form.posting_guidelines %>
          and this agency has also provided
          <a href="#" class="fr_modal_link reg_gov_posting_guidelines"
            data-modal-title="Agency Posting Guidelines"
            data-modal-html="<p><%# TODO @comment.comment_form.posting_guidelines %></p>">
             additional posting guidelines
          </a>.
        <% end %>
      </p>

      <p>
        <% agency_name = document.agencies.map(&:name).first %>
        Once you have filled in the required fields below you can preview and/or
        submit your comment to the <%= agency_name %> for review.
        All comments are considered public and will be posted online once the
        <%= agency_name %> has reviewed them.
      </p>

      <p>
        You can view
        <% if false && @comment.comment_form.alternative_ways_to_comment.present? %>
          <a href="#" class="fr_modal_link reg_gov_alternative_ways_to_comment"
            data-modal-title="Alternative Ways to Comment"
            data-modal-html="<p><%= @comment.comment_form.alternative_ways_to_comment %></p>">
            alternative ways to comment
          </a>
        <% else %>
          <%= link_to 'alternative ways to comment',
            '#addresses',
            class: 'alternative_ways_to_comment addresses' %>
        <% end %>
        or you may also comment via Regulations.gov at,
        <%= link_to document.calculated_comment_url, document.calculated_comment_url %>.
      </p>
    </div>

    <%= semantic_form_for :comment, url: '#', authenticity_token: false, html: {
      id: "new_comment",
        data: {
          document_number: document.document_number,
          api_key: Rails.application.secrets[:data_dot_gov][:v4_commenting_api_key],
          regulations_dot_gov_base_url: Settings.regulations_dot_gov.api_base_url,
          agency: nil
        }
      } do |f| %>

      <div class="notice message comment_reloaded hidden">
        It appears that you have attempted to comment on this document before
        so we've restored your progress. <br>
        <a href="#" id="comment-start-over">Start over</a>.
      </div>

      <%# TODO: support error states %>
      <% if false && @comment.errors.present? %>
        <div class="errors">
          <%= @comment.human_error_messages %>
        </div>
      <% end %>

      <%= f.inputs do %>
        <li class="input hidden">
          <%= hidden_field_tag(
              'comment[secret]',
              nil
            ) %>
        </li>
        <%= f.input :commentOnDocumentId, as: :hidden, input_html: {value: document.regulations_dot_gov_info['document_id']} %>
        <%= f.input :comment, as: :text, wrapper_html: {'data-max-size' => 5000, 'data-size-warn-at' => 250, class: 'validate-required-js'} %>
        <%= f.input :category, label: 'What is your comment about?', collection: [] %>
        <%= render partial: "file_upload_input" %>
        <hr>
        <%= f.input :email, hint: 'this will NOT be posted on regulations.gov', required: false %>
        <li class="boolean input optional" id="comment_sendEmailReceipt_input">
          <label for="comment_sendEmailReceipt" class="">
          <input type="checkbox" name="comment[sendEmailReceipt]" id="comment_sendEmailReceipt" value="1">Opt to receive email confirmation of submission and tracking number?</label>
        </li>

        <li class="string input optional stringish" id="comment_email_input">
          <label for="comment_email" class="label">Tell us about yourself! I am...<abbr title="required">*</abbr></label>
        </li>
        <div class="bootstrap-scope submitter-type-selector">
          <div class="row">
            <div class="col-xs-4 col-md-4 submitter-type-js" data-submitter-type="individual">
              <div>
                <%= fr_icon 'megaphone' %></br>
                <input type="radio">
                An Individual
              </div>
            </div>
            <div class="col-xs-4 col-md-4 submitter-type-js" data-submitter-type="organization">
              <div>
                <%= fr_icon 'users' %></br>
                <input type="radio">
                An Organization
              </div>
            </div>
            <div class="col-xs-4 col-md-4 submitter-type-js" data-submitter-type="anonymous">
              <div>
                <%= fr_icon 'globe' %></br>
                <input type="radio">
                Anonymous
              </div>
            </div>
          </div>
          </br>
          </br>
          </br>
        </div>

        <%= f.input :submitterType, as: :hidden, label: 'Submitter Type (will be hidden via JS)', collection:
          [
            'Anonymous',
            'Individual',
            'Organization',
          ]
        %>

        <div class="submitter-section-js cj-hidden" data-submitter-type="individual">
          <%= f.input :firstName, label: "First Name", wrapper_html: {class: 'validate-required-js'} %>
          <%= f.input :lastName, label: "Last Name", wrapper_html: {class: 'validate-required-js'} %>
          <%= f.input :city, required: false %>
          <%= f.input :stateProvinceRegion, label: 'State', collection: state_options, required: false %>
          <%= f.input :zip, required: false %>
          <%= f.input :country, collection: country_options, required: false  %>
          <%= f.input :phone, required: false %>
        </div>

        <div class="submitter-section-js cj-hidden" data-submitter-type="organization">
          <%= f.input :organizationType,
                label: "Organization Type",
                collection: ['Company', 'Organization', 'Federal', 'State', 'Local', 'Tribal', 'Regional', 'Foreign', 'U.S. House of Representatives', 'U.S. Senate'],
                wrapper_html: {class: 'validate-required-js'} %>
          <%= f.input :organization, label: "Organization Name", wrapper_html: {class: 'validate-required-js'} %>
        </div>

        <hr>

        <li class="boolean input required" id='comment_confirmation_text'>
          <label for="null">
            You are filing a document into an official docket. Any personal
            information included in your <strong>comment text and/or uploaded
            attachment(s)</strong> may be publicly viewable on the web.
          </label>
        </li>
        <%= f.input :confirm_submission,
          :as => :boolean,
          :label => 'I read and understand the statement above.' %>

      <% end %>

      <%= f.actions do %>
        <%= f.action :submit, as: :input,
          label: "Submit Comment",
          wrapper_html: {class: 'commit button disabled'},
          button_html: {disabled: 'create disabled'}
        %>
        <%= content_tag(
          :li,
          link_to(
            'Preview Comment',
            '#',
            :class => 'comment_preview'
          )
        ) %>
      <% end %>
    <% end %>

  </div> <!-- end comment_form_wrapper -->
</div>
