<% if document.correction_of %>
  <div class="document-notice-bar correction-of">
    <p>
      <%= fr_icon 'alert_alt' %>

      <% if document.republication? %>
        This document is a corrected republication of an document that was published on <%= document.correction_of_document.publication_date %>.
      <% else %>
        This document is a correction of an document that was published on <%= document.correction_of_document.publication_date %>.
      <% end %>
      <%= link_to 'View Uncorrected Document', document.correction_of_document.html_url, :class => "button" %>
    </p>
  </div>
<% end %>

<% if document.corrections.present? %>
  <% document.corrected_documents.each do |correction| %>
    <div class="document-notice-bar correction">
      <p>
        <%= fr_icon 'alert_alt' %>

        <% if correction.republication? %>
          This document has been corrected and republished on <%= correction.publication_date %>.
          <%= link_to 'View Republication', correction.html_url, :class => "button" %>
        <% else %>
          This document was corrected by an document published on <%= correction.publication_date %>.
          <%= link_to 'View Correction', correction.html_url, :class => "button" %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
