<div class="row">
  <%= fr_details_box(
    FrBox.build(document.fr_details_box_type)
  ) do %>
    <dl class='metadata_list'>
      <dt>Printed version:</dt>
      <dd>
        <%= link_to 'PDF', fdsys_document_pdf_url(document) %>
      </dd>

      <% if document.publication_date.present? %>
        <dt>Publication Date:</dt>
        <dd>
          <%= link_to document.publication_date,
                      document_issue_path(document) %>
        </dd>
      <% end %>

      <% if document.agencies.present? %>
        <dt><%= pluralize_without_count document.agencies.size, 'Agency' %>:</dt>

        <% document.linked_agency_names(
          definite_article: false,
          name_method: :raw_name
        ).each do |agency| -%>
          <dd>
            <%= agency %>
          </dd>
        <% end -%>
      <% end %>

      <% if document.dates.present? %>
        <dt>Dates:</dt>
        <dd><%= add_citation_links(document.dates).html_safe %></dd>
      <% end %>

      <% if document.effective_on.present? %>
        <dt>Effective Date:</dt>
        <dd><%= document.effective_on %></dd>
      <% end %>

      <% if document.comments_close_on.present? %>
        <dt>Comments Close:</dt>
        <dd><%= document.comments_close_on %></dd>
      <% end %>

      <% if document.type.present? %>
        <dt>Document Type:</dt>
        <dd><%= document.type %></dd>
      <% end %>

      <% if document.presidential_document? %>
        <% if document.subtype.present? %>
          <dt>Presidential Document Type:</dt>
          <dd><%= document.subtype %></dd>
        <% end %>

        <% if document.executive_order_number.present? %>
          <dt>E.O. Citation:</dt>
          <dd>
            E.O. <%= document.executive_order_number %>

            <% if document.signing_date.present? %>
              of <%= document.shorter_ordinal_signing_date %>
            <% end %>
          </dd>
        <% end %>

        <% if document.executive_order_notes.present? %>
          <dt>E.O. Notes:</dt>
          <dd>
            <%= add_citation_links(document.executive_order_notes).gsub(/\n+/, "<br />").html_safe %>
          </dd>
        <% end %>
      <% end %>

      <% if document.start_page? %>
        <dt>Document Citation:</dt>
        <dd><%= document.citation %></dd>

        <dt>Page:</dt>
        <dd>
          <%= document.page_range %>
          (<%= pluralize document.pages, 'page' %>)
        </dd>
      <% end %>

      <% if document.cfr_references.present? %>
        <dt>CFR:</dt>
        <% document.formatted_cfr_references.each do |cfr_reference| %>
          <dd><%= cfr_reference %></dd>
        <% end %>
      <% end %>

      <% if document.docket_ids.present? %>
        <dt><%= pluralize_without_count document.docket_ids.size, 'Agency/Docket Number' %>:</dt>
        <% document.docket_ids.each do |docket_id| %>
          <dd><%= docket_id %></dd>
        <% end %>
      <% end %>

      <% if document.regulation_id_numbers.present? %>
        <dt>RIN:</dt>
        <% document.regulation_id_numbers.each do |rin| %>
          <% details = document.regulation_id_number_info[rin] %>
          <dd>
            <% if details.present? && details["html_url"].present? %>
              <%= link_to(rin, details["html_url"]) %>
            <% else %>
              <%= rin %>
            <% end %>
          </dd>
        <% end %>
      <% end %>

      <% if document.document_number.present? %>
        <dt>Document Number:</dt>
        <dd class="doc_number"><%= document.document_number %></dd>
      <% end %>
    </dl>
  <% end %>
</div>
