<div class="row">
  <%= fr_box_small "Document Details", :official_doc_details do %>
    <dl class='metadata_list'>
      <% if document.publication_date.present? %>
        <dt>Publication Date:</dt>
        <dd>
          <%= link_to document.formal_publication_date,
                      document_issue_path(document.publication_date) %>
        </dd>
      <% end %>

      <% if document.agencies.present? %>
        <dt><%= pluralize_without_count document.agencies.size, 'Agency' %>:</dt>

        <% document.agencies.each do |agency| -%>
          <dd>
            <%= link_to_if agency.url.present?, agency.name, agency.url %>
          </dd>
        <% end -%>
      <% end %>

      <% if document.dates.present? %>
        <dt>Dates:</dt>
        <dd><%= add_citation_links(document.dates) %></dd>
      <% end %>

      <% if document.effective_on.present? %>
        <dt>Effective Date:</dt>
        <dd><%= document.effective_on %></dd>
      <% end %>

      <% if document.comments_close_on.present? %>
        <dt>Comments Close:</dt>
        <dd><%= document.comments_close_on %></dd>
      <% end %>

      <% if document.type.present? %>
        <dt>Document Type:</dt>
        <dd><%= document.type %></dd>
      <% end %>

      <% if document.action.present? %>
        <dt>Action:</dt>
        <dd><%= document.action %></dd>
      <% end %>

      <% if document.presidential_document? %>
        <% if document.subtype.present? %>
          <dt>Presidential Document Type:</dt>
          <dd><%= document.subtype %></dd>
        <% end %>

        <% if document.executive_order_number.present? %>
          <dt>E.O. Citation:</dt>
          <dd>
            E.O. <%= document.executive_order_number %>

            <% if document.signing_date.present? %>
              of <%= document.shorter_ordinal_signing_date %>
            <% end %>
          </dd>
        <% end %>

        <% if document.executive_order_notes.present? %>
          <dt>E.O. Notes:</dt>
          <dd>
            <%= add_citation_links(document.executive_order_notes).gsub(/\n+/, "<br />").html_safe %>
          </dd>
        <% end %>
      <% end %>

      <% if document.start_page? %>
        <dt>Document Citation:</dt>
        <dd>
          <span class="volume"><%= document.volume %></span> FR <span class="page"><%= document.start_page %></span>
        </dd>

        <dt>Page:</dt>
        <dd>
        <%= document.page_range %>

        (<%= pluralize document.length, 'page' %>)
        </dd>
      <% end %>

      <% if document.cfr_references.present? %>
        <dt>CFR:</dt>
        <% document.formatted_cfr_references.each do |cfr_reference| %>
          <dd><%= cfr_reference %></dd>
        <% end %>
      <% end %>

      <% if document.docket_ids.present? %>
        <dt><%= pluralize_without_count document.docket_ids.size, 'Agency/Docket Number' %>:</dt>
        <% document.docket_ids.each do |docket_id| %>
          <dd><%= docket_id %></dd>
        <% end %>
      <% end %>

      <% if document.regulation_id_numbers.present? %>
        <dt>RIN:</dt>
        <% document.regulation_id_numbers.each do |rin| %>
          <% details = document.regulation_id_number_info[rin] %>
          <dd>
            <% if details.present? && details["html_url"].present? %>
              <%= link_to(rin, details["html_url"]) %>
            <% else %>
              <%= rin %>
            <% end %>
          </dd>
        <% end %>
      <% end %>

      <% if document.document_number.present? %>
        <dt>Document Number:</dt>
        <dd class="doc_number"><%= document.document_number %></dd>
      <% end %>
    </dl>
  <% end %>
</div>
