<div class="col-md-3 doc-aside doc-details">
  <%= render partial: 'doc_details', locals: {document: document} %>

  <% if document.page_views[:last_updated] %>
    <div class="row">
      <%= fr_details_box(
        FrBox.build(
          :enhanced_content,
          title: "Document Statistics",
          header: {
            description: I18n.t('documents.document_statistics.hover')
          }
        )
      ) do %>
        <dl class='metadata_list'>
          <dt>Page views:</dt>
          <dd><%= number_with_delimiter(document.page_views[:count]) %></dd>
          <dd>as of <%= document.page_views[:last_updated].in_time_zone.to_s(:datetime_with_abbv_zone) %></dd>
        </dl>
      <% end %>
    </div>
  <% end %>

  <% if document.display_regulations_dot_gov_enhanced_content? %>
    <%= render partial: 'reg_gov_content', locals: {
      document: document,
      docket_info: document.regulations_dot_gov_info
    } %>
  <% end %>
</div>
