<div id="comment-bar" class="document-notice-bar comment"
  data-document-number="<%= document.document_number %>"
  data-reggov-agency="<%= document.regulations_dot_gov_agency_id %>"
  data-reggov-comment-url="<%= document.comment_url %>"
  data-comments-close-on="<%= document.comments_close_on %>"
  data-comment-days-remaining="<%= document.comment_period_days_remaining %>"
  data-comment-period-open="<%= document.document_comment_period_open? %>"
  data-reg-gov-participating-agency="<%= document.participating_agency? %>">
  <p>
    <%= fr_icon 'Chat' %>
    <% if document.document_comment_period_open? %>
      This document has a comment period that ends <%= document.comment_period_days_remaining %>.
      (<%= document.comments_close_on %>)
    <% else %>
      Comments on this document are being accepted at Regulations.gov.
    <% end %>

    <%= document.formal_comment_link %>
  </p>
</div>

<% if document.has_comments? %>
  <div class="reg-gov-comments-count">
    Read the
    <%= link_to pluralize(document.comment_count, 'public comment'),
      document.public_comments_url, target: '_blank' %>
    <%= fr_icon('info_circle', class: 'cj-tooltip', data: {tooltip: I18n.t('comments.comment_count.explanation'), 'tooltip-gravity': 'e' }) %>
  </div>
<% end %>
