<div id="comment-bar" class="document-notice-bar comment"
  data-document-number="<%= document.document_number %>"
  data-reggov-agency="<%= document.regulations_dot_gov_agency_id %>"
  data-reggov-comment-url="<%= document.comment_url %>"
  data-comments-close-on="<%= document.comments_close_on %>"
  data-comment-days-remaining="<%= document.comment_period_days_remaining %>"
  data-comment-period-open="<%= document.document_comment_period_open? %>"
  data-republished-document-comment-url="<%= document.republished_document_comment_url %>"
  data-reg-gov-participating-agency="<%= document.participating_agency? %>">
  <p>
    <%= fr_icon 'Chat' %>
    <% if document.document_comment_period_open? && !document.comment_close_date_discrepancy_between_mods_and_regulations_dot_gov? %>
      This document has a comment period that ends <%= document.comment_period_days_remaining %>.
      (<%= document.comments_close_on %>)
    <% else %>
      Comments on this document are being accepted at Regulations.gov.
    <% end %>

    <%= document.formal_comment_link %>
  </p>
</div>

<% if document.has_comments? %>
  <div class="reg-gov-comments-count">
    <%= link_to pluralize(document.comment_count, "comment"), "#",
      class: "deploy-comment-sidebar-js" %>
    received.

    <%= document.posted_comments_link %>
  </div>
<% end %>

<%= render partial: "comment_wrapper",
  locals: {
    document: document,
    multi_agency_comment_submission: document.regs_dot_gov_documents_accepting_comments.count > 1
  } %>
