<div id="metadata_content_area" class="metadata-content-area">
  <h1><%= document.title %></h1>

  <div class="metadata_share_bar">
    <p class="metadata">
      <%= document.metadata_description %>
    </p>

    <div class="document-clipping-actions"
      data-document-number="<%= document.document_number %>">
      <ul>
        <li class="clip-for-later">
          <%= semantic_form_for :document,
            url: clippings_path,
            authenticity_token: false,
            html: {
              method: :post,
              class: "add-to-clipboard"
            } do |f| %>

            <%= f.inputs do %>
              <%= f.input :document_number,
                as: :hidden,
                value: document.document_number %>
            <% end %>

            <%= f.buttons do %>
              <%= f.commit_button 'Add to clipboard' %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <%= render( partial: "formal_comment_bar",
              locals: {document: document,
                       docket_info: document.regulations_dot_gov_info}) if document.accepting_comments? %>

  <%= render partial: "corrections", locals: {document: document} if document.corrections? %>
</div>
