<div id="metadata_content_area">
  <h1><%= document.title %></h1>

  <div class="metadata_share_bar">
    <p class="metadata">
      <%= document.type.with_indefinite_article(true) %>
      by
      <span class="agencies">
        <%= document.agency_names %>
      </span>
      on
      <%= link_to date_tag( document.formatted_publication_date,
                            datetime: document.iso_publication_date),
                  documents_path(document.publication_date) %>
    </p>

    <div class="share">
      <ul>
        <li class="clip_for_later">
          <%= semantic_form_for :document,
                                url: clippings_path,
                                html: { method: :post,
                                        class: "add_to_clipboard"} do |f| %>
            <%= f.inputs do %>
              <%= f.input :document_number, as: :hidden, value: document.document_number %>
            <% end %>
            <%= f.buttons do %>
              <%= f.commit_button 'Add to clipboard' %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>
