<div class="col-md-9 doc-content with-utility-bar">
  <div class="row">
    <%= render partial: "utility_bar", locals: {document: document, docket_info: document.regulations_dot_gov_info} %>

    <%= fr_box "Official Document", :official, header: {seal: true} do %>
      <span class="icon-fr2 icon-fr2-NARA1985Seal doc-background"></span>

      <div id="fulltext_content_area">
        <% if document.full_text_xml_url.present? %>
          <% if document.action.present? %>
            <h1>Action</h1>
            <p><%= document.action %></p>
          <% end %>
         <% if Rails.env.development? || Rails.env.test? %>
            <%= XsltTransform.transform_xml(
                  XsltTransform.xml_for_development(document),
                  "documents/full_text.html.xslt"
                ).to_html.html_safe %>
          <% else %>
            <%= esi document.http_body_html_url %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
