<div class="col-md-9 doc-content .with-utility-bar">
  <%= render partial: "utility_bar", locals: {document: document, docket_info: document.regulations_dot_gov_info} %>

  <div class="row">
    <%= fr_box "Official Document", :official, header: {seal: true} do %>
      <span class="icon-fr2 icon-fr2-NARA1985Seal doc-background"></span>

      <div id="fulltext_content_area">
        <% if document.full_text_xml_url.present? %>
          <% if document.action.present? %>
            <h1>Action</h1>
            <p><%= document.action %></p>
          <% end %>

          <% if Rails.env.production? || Rails.env.staging? %>
            <esi:include src="<%= document.abstract_html_url %>" />
          <% else %>
            <esi:include src="<%= document.abstract_html_url.split('abstract/').first + 'abstract/' + document.document_number %>" />
          <% end %>

          <% if Rails.env.production? || Rails.env.staging? %>
            <esi:include src="<%= document.body_html_url %>" />
          <% else %>
            <esi:include src="<%= document.body_html_url.split('full_text/').first + 'full_text/' + document.document_number %>" />
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
