<%= modal(:basic,
    footer: false,
    header: false,
    modal_class: 'document-table-modal',
    modal_id: 'bootstrap-table-modal',
) do %>
  <%= fr_content_box(
    FrBox.build(document.fr_content_box_type, document.fr_content_box_options)
  ) do %>
  <% end %>
<% end %>

<div class="col-md-9 doc-content with-utility-bar">
  <div class="row">
    <%= render partial: "utility_bar", locals: {document: document, docket_info: document.regulations_dot_gov_info} %>

    <%= fr_content_box(
      FrBox.build(document.fr_content_box_type, document.fr_content_box_options)
    ) do %>
      <% if document.official? %>
        <span class="icon-fr2 icon-fr2-NARA1985Seal doc-background"></span>
      <% end %>

      <div id="fulltext_content_area" class="doc-content-area"
        data-short-url="<%= short_document_url(document) %>">

        <div class="citation-target-icon cj-fancy-tooltip"
          data-tooltip="Click to copy a short url for this paragraph"
          data-short-url="<%= short_document_url(document) %>">
          <%= fr_icon 'bookmark' %>
        </div>
        <div class="citation-target-background"></div>

        <% if document.full_text_available? %>
          <% if Settings.app.document_render.from_raw_xml %>
            <%= HtmlCompilator::DocumentFullText.compile(document).html_safe %>
          <% elsif Settings.app.document_render.from_remote %>
            <%
              content = begin
                HTTParty.get(document.http_body_html_url.gsub('http', 'https'))
              rescue SocketError
                ""
              end
            %>
            <%= content.html_safe %>
          <% else %>
            <%= esi document.internal_body_html_url %>
          <% end %>
        <% else %>
          <p>
            <% if document.pdf_available?  %>
              The full text of this document is currently available in
              <%= link_to 'PDF format', document.pdf_url, target: :blank %>.
            </p>
            <p>
            <% end %>

            The full text of this document is
            <%= document.pdf_available? ? 'also available' : 'currently only available' %>
            in <%= link_to 'a basic text format', document.gpo_raw_text_url, target: :blank %>.
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
