<div class="row">
  <%= fr_details_box(
    FrBox.build(:regulations_dot_gov)
  ) do %>
    <%= image_tag asset_path('regulations_dot_gov_logo_sidebar.png'),
      alt: 'Regulations.gov Logo',
      class: 'regulations-dot-gov-logo' %>

    <dl class="metadata_list">
      <% if docket_info['docket_id'].present? %>
        <dt>Docket Number:</dt>
        <dd>
          <%= link_to docket_info['docket_id'],
                      regulations_dot_gov_docket_url(docket_info['docket_id']),
                      target: "_blank",
                      class: 'reg_gov_docket' %>
        </dd>
      <% end %>

      <% if docket_info['regulation_id_number'].present? %>
        <dt>Docket Name:</dt>
        <dd><%= h docket_info["title"] %></dd>

        <dt>Docket RIN</dt>
        <% if docket_info['regulatory_plan'].present? && docket_info['regulatory_plan']['html_url'].present? %>
          <dd>
            <%= link_to docket_info['regulation_id_number'],
                        docket_info['regulatory_plan']['html_url'],
                        :title => docket_info['regulatory_plan']['title'],
                        :class => "tip_left" %>
          </dd>
        <% else %>
          <dd><%= docket_info['regulation_id_number'] %></dd>
        <% end %>
      <% end %>

      <% if document.comments_close_on.present? && docket_info['comments_count'] && docket_info['comments_url'] %>
        <dt>Public Comments:</dt>
        <dd>
          <%= link_to pluralize(docket_info['comments_count'], 'comment'),
                      docket_info['comments_url'],
                      :target => "_blank",
                      :class => 'reg_gov_view_comments' %>
          </dd>
      <% end %>

      <% if docket_info['supporting_documents_count'] &&
              docket_info['supporting_documents_count'] > 0 %>

        <dt>Supporting/Related Materials:</dt>

        <% docket_info['supporting_documents'].each do |doc| %>
        <dd>
          <%= link_to truncate_words(doc['title'], :length => 65),
                      regulations_dot_gov_supporting_document_url(doc['document_id']),
                      :target => "_blank",
                      :title => doc['title'],
                      :class => "tip_left reg_gov_supporting_documents" %>
        </dd>
        <% end %>

        <% if docket_info['supporting_documents_count'] > 10 %>
        <dd>
          <strong>
            <%= link_to "See all #{docket_info['supporting_documents_count']} supporting documents",
                        regulations_dot_gov_docket_supporting_documents_url(docket_info['docket_id']),
                        :target => "_blank",
                        :class => "tip_left reg_gov_all_supporting_documents" %>
            </strong>
        </dd>
        <% end %>
      <% end %>
    </dl>
  <% end %>
</div>
