<div class="row">
  <%= fr_details_box(
    FrBox.build(:regulations_dot_gov)
  ) do %>
    <%= image_tag asset_path('regulations_dot_gov_logo_sidebar.png'),
      alt: 'Regulations.gov Logo',
      class: 'regulations-dot-gov-logo',
      height: '26',
      width: '140' %>

    <% # TODO: Not sure this should be dl anymore - but if it stays we should
       # be using dt/dd's as well as the current structure isn't semantic %>
    <dl class="metadata_list">
      <% document.dockets_displayed_in_enhanced_content.each do |docket| %>
        <div class="reg-gov-docket-container">
          <b><%= docket.title %></b></br>
          <div>
            <div class="sub-heading">
              <%= link_to docket.id, "https://www.regulations.gov/docket/#{docket.id}" %>
            </div>
            <% if docket.supporting_documents.present? %>
              <div class="sub-heading">Supporting Documents:</div>
              <ol class="fr-list with-bullets supporting-docs">
                <% docket.supporting_documents.each do |supporting_doc| %>
                  <li><%= link_to truncate_words(supporting_doc['title'], length: 80),
                            regulations_dot_gov_supporting_document_url(supporting_doc['document_id']),
                            :target => "_blank",
                            :title => supporting_doc['title'] %>
                  </li>
                <% end %>
              </ol>
              <% if docket.supporting_documents.count > 3 %>
                <%= link_to "See all #{docket.supporting_documents_count} supporting documents",
                            regulations_dot_gov_docket_supporting_documents_url(docket.id),
                            :target => "_blank" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </dl>
  <% end %>
</div>
