<div class='toc-documents'>
  <% documents.each do |document| %>
    <% document = @presenter.lookup_document(document) %>
    <h7><%= link_to(subject, document.html_url) %></h7>
    <div class="row">
      <ul class="list-unstyled row">
           <li class="col-xs-6"><%= link_to "PDF", document.pdf_url %></li>
           <li class="col-xs-6"><%= document_page_range(document)%></li>
           <li class="col-xs-6">(<%= pluralize(page_count(document), "Page") %>)</li>
           <li class="col-xs-6"><%= "FR Document: #{document.document_number}" %></li>
      </ul>
    </div>
  <% end %>
</div>