<div class="doc-nav-wrapper">
  <ul class="doc-nav text-center dropdown drop-enhanced">
    <li>
      <i class="icon-fr2 icon-fr2-bookmark" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-link"></span>
            <a href="">Link to this paragraph</a>
          </li>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-book-alt-2"></span>
            <span class="page">Printed page: 11791</span>
          </li>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-twitter"></span>
            <a href="">Share this paragraph on Twitter</a>
          </li>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-facebook"></span>
            <a href="">Share this paragraph on Facebook</a>
          </li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-bulleted-list" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Table of Contents</li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-map" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Regulatory Agenda</li>
        </ul>
      <% end %>
    </li>

    <li class="divider"></li>

    <li>
      <i class="icon-fr2 icon-fr2-Chat" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li><a href="#">Submit a public comment on this document</a></li>
        </ul>
      <% end %>
    </li>
    <li class='<%= "unavailable" unless document.possible_regulations_dot_gov_comments? %>'>
    <i class="icon-fr2 icon-fr2-conversation-alt" role="button" data-toggle="dropdown">
        <% if docket_info && docket_info['comment_count'] && document.commentable? %>
          <span class="comment_count"><%= docket_info['comments_count'] %></span>
        <% end %>
      </i>
      <%= fr_box  "Enhanced Content",
                  (document.possible_regulations_dot_gov_comments? ? :enhanced : :disabled),
                  box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right",
                             role: "menu"},
                  header: {hover: false} do %>
        <ul>
          <li>
            <% if document.possible_regulations_dot_gov_comments? %>
              <%= link_to document.has_comments? ?
                                    "Read the #{pluralize(docket_info['comments_count'], 'public comment')} on this document"
                                    : "There are no public comments on this document",
                          document.regulations_dot_gov_url %>
            <% else %>
              This feature is not available for this document.
            <% end %>
          </li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-sharing" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <dl>
          <dt>Shorter Document URL</dt>
          <dd>
            <%= link_to short_document_url(document),
                        short_document_url(document),
                        class: "shorter_url" %>
            <%= clippy( short_document_url(document) ) %>
          </dd>
        </dl>
        <ul>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-message"></span>
            <a href="">Email this document to a friend</a>
          </li>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-twitter"></span>
            <a href="">Share this document on Twitter</a>
          </li>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-facebook"></span>
            <a href="">Share this document on Facebook</a>
          </li>
        </ul>
      <% end %>
    </li>

    <li class="divider"></li>

    <li>
      <i class="icon-fr2 icon-fr2-print" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li><a href="">Print this document</a></li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-doc-xml" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content - Developer Tools", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <h5>This document is available in the following developer friendly formats:</h5>
        <ul class="list">
          <li><a href="">JSON</a></li>
          <li><a href="">XML</a></li>
          <li><a href="">MODS</a></li>
        </ul>
        <p>More information and documentation can be found on our <a href="">developers page</a>.</p>
      <% end %>
    </li>
    <li class="official">
      <i class="icon-fr2 icon-fr2-doc-pdf" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Official Content", :official, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li><a href="">View printed version (PDF)</a></li>
        </ul>
      <% end %>
    </li>
    <li class="public-inspection">
      <i class="icon-fr2 icon-fr2-doc-pi-pdf" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Public Inspection", :public_inspection, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <span class="icon-fr2 icon-fr2-stop-hand"></span>
        <div class="content">
          <p>This <a href="">PDF</a> is the current document as it appeared on Public Inspection on February 19, 2013.</p>
          <p class="warning">
            If you are using public inspection listings for legal research, you
            should verify the contents of the documents against a final, official
            edition of the Federal Register. <strong> Only official editions of the
            Federal Register provide legal notice to the public and judicial notice
            to the courts under <a href="">44 U.S.C. 1507</a>.</strong> Learn more
            <a href="">here</a>.
          </p>
        </div>
      <% end %>
    </li>
  </ul>
</div>
