<div class="doc-nav-wrapper">
  <ul class="doc-nav text-center dropdown drop-enhanced ui sticky">

    <% if document.full_text_available? %>
      <li class="enhanced">
        <i class="icon-fr2 icon-fr2-bulleted-list" role="button" data-toggle="dropdown"></i>
        <%= fr_utility_nav_box(
          FrBox.build(
            :enhanced_content,
            title: "Enhanced Content - Table of Contents"
          )
        ) do %>
          <p>
            This table of contents is a navigational tool, processed from the
            headings within the legal text of Federal Register documents.
            This repetition of headings to form internal navigation links
            has no substantive legal effect.
          </p>

          <% if Settings.render_documents_from_raw_xml %>
            <%= HtmlCompilator::TableOfContents.compile(document).html_safe %>
          <% elsif Settings.render_documents_from_staging %>
            <%
              url, path = document.body_html_url.split('full_text/')
              url = "#{url}table_of_contents/#{path}"
              content = begin
                HTTParty.get(url)
              rescue SocketError
                ""
              end 
            %>
            <%= content.html_safe %>
          <% else %>
            <%= esi document_table_of_contents_path(document) %>
          <% end %>
        <% end %>
      </li>
    <% end %>

    <% if Settings.feature_flags.regulatory_plan %>
      <li class="enhanced">
        <i class="icon-fr2 icon-fr2-map" role="button" data-toggle="dropdown"></i>
        <%= fr_utility_nav_box(
          FrBox.build(
            :enhanced_content,
            title: "Enhanced Content - Regulatory Plan"
          )
        ) do %>
          <ul>
            <li>Regulatory Agenda</li>
          </ul>
        <% end %>
      </li>
    <% end %>

    <% if document.full_text_available? || Settings.feature_flags.regulatory_plan %>
      <li class="divider"></li>
    <% end %>

    <li id="utility-nav-formal-comment" class='enhanced <%= "unavailable" unless document.accepting_comments? %>'>
      <i class="icon-fr2 icon-fr2-Chat" role="button" data-toggle="dropdown"></i>
      <%= fr_utility_nav_box(
        FrBox.build(
          (document.accepting_comments? ? :enhanced_content : :disabled),
          title: "Enhanced Content - Submit Public Comment"
        )
      ) do %>
        <ul>
          <li>
            <% if document.accepting_comments? %>
              <%= document.comment_link %>
            <% else %>
              This feature is not available for this document.
            <% end %>
          </li>
        </ul>
      <% end %>
    </li>

    <li id="utility-nav-public-comments" class='enhanced <%= "unavailable" unless document.has_comments? %>'>
      <i class="icon-fr2 icon-fr2-conversation-alt" role="button" data-toggle="dropdown">
        <% if document.has_comments? %>
          <span class="comment_count"><%= document.comment_count %></span>
        <% end %>
      </i>
      <%= fr_utility_nav_box(
        FrBox.build(
          (document.has_comments? ? :enhanced_content : :disabled),
          title: "Enhanced Content - Read Public Comments"
        )
      ) do %>
        <ul>
          <li>
            <% if document.has_comments? %>
              <p><%= I18n.t('comments.comment_count.explanation') %></p>
              <%= link_to document.has_comments? ?
                "Read the #{pluralize(document.comment_count, 'public comment')} on this document"
                :
                "There are no public comments on this document",
                document.public_comments_url, target: '_blank', class: 'force-event-propagation' %>
            <% else %>
              This feature is not available for this document.
            <% end %>
          </li>
        </ul>
      <% end %>
    </li>

    <li class="enhanced">
      <i class="icon-fr2 icon-fr2-sharing" role="button" data-toggle="dropdown"></i>
      <%= fr_utility_nav_box(
        FrBox.build(
          :enhanced_content,
          title: "Enhanced Content - Sharing"
        )
      ) do %>
        <dl>
          <dt>Shorter Document URL</dt>
          <dd>
            <%= link_to short_document_url(document),
                        short_document_url(document),
                        class: "shorter_url" %>

            <span class="content-block clipboard-copy" data-clipboard-text="<%= short_document_url(document) %>">
              <span class="icon-fr2 icon-fr2-clipboard cj-tooltip" data-tooltip='Click to copy this short document URL'></span>
            </span>
          </dd>
        </dl>
        <ul>
          <li class="with_icon">
            <span class="icon-fr2 icon-fr2-message"></span>
            <a id="email-a-friend" href=""
              data-document-number="<%= document.document_number %>">
              Email this document to a friend
            </a>
          </li>
        </ul>
      <% end %>
    </li>

    <li class="divider"></li>

    <% if document.full_text_available? %>
      <li class="enhanced">
        <i class="icon-fr2 icon-fr2-print" role="button" data-toggle="dropdown"></i>
        <%= fr_utility_nav_box(
          FrBox.build(
            :enhanced_content,
            title: "Enhanced Content - Document Print View"
          )
        ) do %>
          <ul>
            <li><a href="#print">Print this document</a></li>
          </ul>
        <% end %>
      </li>

      <li class="enhanced">
        <i class="icon-fr2 icon-fr2-doc-generic" role="button" data-toggle="dropdown"></i>
        <%= fr_utility_nav_box(
          FrBox.build(
            :enhanced_content,
            title: "Enhanced Content - Document Tools"
          )
        ) do %>
          <p>
            These tools are designed to help you understand the official document
            better and aid in comparing the online edition to the print edition.
          </p>

          <ul class="list">
            <li>
              <p>
                These markup elements allow the user to see how the document follows the
                <a href='http://www.archives.gov/federal-register/write/handbook/ddh.pdf'>
                  Document Drafting Handbook
                </a> that agencies use to create their documents. These can be useful
                for better understanding how a document is structured but
                <strong>are not part of the published document</strong> itself.
              </p>
              <%= link_to 'Display Non-Printed Markup Elements', '#', id: "display-unprinted-elements" %>
            </li>
          </ul>
        <% end %>
      </li>
    <% end %>

    <li class="enhanced">
      <i class="icon-fr2 icon-fr2-doc-xml" role="button" data-toggle="dropdown"></i>
      <%= fr_utility_nav_box(
        FrBox.build(
          :enhanced_content,
          title: "Enhanced Content - Developer Tools"
        )
      ) do %>
        <h6>
          This document is available in the following developer friendly formats:
        </h6>

        <ul class="list">
          <li>
            <%= link_to 'JSON: Normalized attributes and metadata',
              document.json_url %>
          </li>
          <% if document.full_text_available? %>
            <li>
              <%= link_to 'XML: Original full text XML',
                document.full_text_xml_url %>
            </li>
          <% end %>
          <% if document.mods_available? %>
            <li>
              <%= link_to 'MODS: Government Publishing Office metadata',
                govinfo_document_mods_url(document) %>
            </li>
          <% end %>
        </ul>

        <p>
          More information and documentation can be found in our
          <%= link_to 'developer tools pages',
            reader_aids_section_path('developer-resources') %>.
        </p>
      <% end %>
    </li>

    <% if document.pdf_available? %>
      <li class="official">
        <i class="icon-fr2 icon-fr2-doc-pdf" role="button" data-toggle="dropdown"></i>
        <%= fr_utility_nav_box(
          FrBox.build(
            :official,
            title: "Official Content"
          )
        ) do %>
          <ul>
            <li>
              <%= link_to 'View printed version (PDF)',
                govinfo_document_pdf_url(document) %>
            </li>
          </ul>
        <% end %>
      </li>
    <% end %>

    <% if document.public_inspection_document.present? %>
      <li class="public-inspection">
        <i class="icon-fr2 icon-fr2-doc-pi-pdf" role="button" data-toggle="dropdown"></i>
        <%= fr_utility_nav_box(
          FrBox.build(
            :public_inspection,
            title: "Public Inspection"
          )
        ) do %>
          <span class="icon-fr2 icon-fr2-stop-hand"></span>
          <div class="content">
            <p>
              This <%= link_to 'PDF', document.public_inspection_pdf_url %> is
              the current document as it appeared on Public Inspection on
              <%= document.public_inspection_document.filed_at %>.  <%= "It was viewed #{document.public_inspection_document.page_views[:count]} times while on Public Inspection." if document.public_inspection_document.page_views  %>
            </p>
            <p class="warning">
              <%= utility_bar_warning_text %>
            </p>
          </div>
        <% end %>
      </li>
    <% end %>

  </ul>
</div>
