<div class="doc-nav-wrapper">
  <ul class="doc-nav text-center dropdown drop-enhanced">
    <li>
      <i class="icon-fr2 icon-fr2-bookmark" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Paragraph links and sharing</li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-bulleted-list" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Table of Contents</li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-map" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Regulatory Agenda</li>
        </ul>
      <% end %>
    </li>

    <li class="divider"></li>

    <li>
      <i class="icon-fr2 icon-fr2-Chat" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Make a formal comment</li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-conversation-alt" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>View xx formal comments</li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-sharing" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Share this document</li>
        </ul>
      <% end %>
    </li>

    <li class="divider"></li>

    <li>
      <i class="icon-fr2 icon-fr2-print" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Print this document (print view)</li>
        </ul>
      <% end %>
    </li>
    <li>
      <i class="icon-fr2 icon-fr2-doc-xml" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Enhanced Content", :enhanced, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>Developer Formats</li>
        </ul>
      <% end %>
    </li>
    <li class="official">
      <i class="icon-fr2 icon-fr2-doc-pdf" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Official Content", :official, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>View Official PDF (printed format)</li>
        </ul>
      <% end %>
    </li>
    <li class="public-inspection">
      <i class="icon-fr2 icon-fr2-doc-pi-pdf" role="button" data-toggle="dropdown"></i>
      <%= fr_box "Public Inspection", :public_inspection, box_html: {class: "fr-box-full dropdown-menu dropdown-menu-right", role: "menu"}, header: {hover: false} do %>
        <ul>
          <li>View PDF of document as it appeared on Public Inspection</li>
        </ul>
      <% end %>
    </li>
  </ul>
</div>
