<div class="title document-issue">
  <span>Stubbed <%= @presenter.date %> Issue</span>
</div>

<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper">
    <div class="container fixed">

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= render partial: 'issues/document_summary',
              locals: {presenter: @doc_presenter} %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-9 col-md-9 doc-content doc-toc">
        </div>
        <div class="col-xs-3 col-md-3">
          <%= render partial: 'document_issue/subscribe' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-9 col-md-9 doc-content doc-toc">
          <div class="row doc doc-document-issue">
            <%= render partial: 'document_issue/table_of_contents', locals: {presenter: @presenter} %>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
          <%= render partial: 'document_issue/agency_count_bar', locals: {presenter: @presenter} %>
        </div>
      </div>

      <div class="clearfix" style="height: 100px;"></div>
    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
