<% @presenter.agencies.each do |agency| %>
  <h2><%= agency["name"] %></h2>
  <div id= <%= agency["slug"] %> >
  <% if agency["see_also"].present? %>
    <% agency["see_also"].each do |see_also_obj| %>
      See <%= link_to(see_also_obj["name"], anchor: see_also_obj["slug"]) %><br>
    <% end %>
  <% end %>

  <% agency["document_categories"].each do |doc_category| %>
    <h3><%= doc_category["name"] %></h3>
    <%= display_hierarchy(doc_category["documents"]) %>
  <% end %>
  </div>
<% end %>