<% page_title @document.title %>
<% meta_description truncate_words(strip_tags(@document.abstract), :length => 300) %>
<%= add_handlebars_template('interstitial_tender_modal', 'interstitial-tender-modal') %>

<div class="title"><span><%= @document.type %></span></div>

<%= render partial: 'metadata_content_area', locals: {document: @document} %>

<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

<div class="wrapper">
  <div class="container fixed">
    <div class="clearfix"></div>

    <div class="row doc doc-official">
      <%= render partial: 'page_content', locals: {document: @document} %>
      <%= render partial: 'document_side_bar', locals: {document: @document} %>
    </div>

    <div class="clearfix" style="height: 100px;"></div>
  </div>
</div>
<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->

