<% page_title @document.title %>
<% description truncate_words(
    strip_tags(@document.abstract),
    :length => 300
  ) %>
<% open_graph_metadata(
    type: "article",
    published_time: @document.publication_date.to_s(:iso)
  ) %>
<%= add_handlebars_template('interstitial_tender_modal', 'interstitial-tender-modal') %>

<% title do %>
  <%= fr_icon @document.document_type.identifier %>
  <%= @document.type %>
<% end %>

<%= render partial: 'metadata_content_area', locals: {document: @document} %>

<%= bootstrap_context_wrapper do %>
  <div class="clearfix"></div>

  <div class="row doc doc-document">
    <%= render partial: 'page_content', locals: {document: @document} %>
    <%= render partial: 'document_side_bar', locals: {document: @document} %>
  </div>

  <div class="clearfix" style="height: 100px;"></div>
<% end %>
