<li class="dropdown previewable nav_browse">
  <%= link_to('', class: "browse top_nav") do %>
    <%= fr_icon('Eye') %>
    Browse
    <%= fr_icon('menu_arrow') %>
  <% end %>
  <div class="subnav browse-list">
    <ul class="left_column">
      <li id='agencies-browse'>
        <%= link_to(agencies_path, class: "agencies") do %>
          <%= fr_icon('mindmap') %>
          Agencies
        <% end %>
      </li>
      <li id='topics-browse'>
        <%= link_to(topics_path, class: "topics") do %>
          <%= fr_icon('molecular') %>
          Topics (CFR Indexing Terms)
        <% end %>
      </li>
      <li id='document-dates-browse'>
        <%= link_to(current_document_issue_path, class: "dates") do %>
          <%= fr_icon('calendar-alt') %>
          Dates
        <% end %>
      </li>
      <li id='public-inspection-browse'>
        <%= link_to(current_public_inspection_issue_path, class: "public-inspection") do %>
          <%= fr_icon('clipboard') %>
          Public Inspection
        <% end %>
      </li>
      <li id='executive-orders-browse'>
        <%= link_to(all_presidential_documents_path, class: "executive-orders") do %>
          <%= fr_icon('stars') %>
          Presidential Documents
        <% end %>
      </li>
    </ul>
    <ul class="right_column">
      <%= render partial: 'agencies/navigation', locals: {
        presenter: Facets::AgenciesPresenter.new
      } %>

      <%= render partial: 'topics/navigation', locals: {
        presenter: Facets::TopicsPresenter.new
      } %>

      <%= render partial: 'document_issues/navigation', locals: {
        doc_presenter: DocumentIssuePresenter.new(
          DocumentIssue.current.publication_date
        )
      } %>

      <%= render partial: 'public_inspection_document_issues/navigation', locals: {
        pi_presenter: PublicInspectionIssuePresenter.new(
          PublicInspectionDocumentIssue.current.publication_date
        )
      } %>

      <%= render partial: 'presidential_documents/navigation', locals: {
        presenter: PresidentialDocumentsIndexPresenter.new
      } %>
    </ul>
  </div>
</li>
