<li class="dropdown previewable nav_browse">
  <%= link_to('', class: "browse top_nav") do %>
    <%= fr_icon('Eye') %>
    Browse
    <%= fr_icon('menu_arrow') %>
  <% end %>
  <div class="subnav browse-list">
    <ul class="left_column">
      <li id='agencies-browse'>
        <%= link_to(agencies_path, class: "agencies") do %>
          <%= fr_icon('mindmap') %>
          Agencies
        <% end %>
      </li>
      <li id='topics-browse'>
        <%= link_to(topics_path, class: "topics") do %>
          <%= fr_icon('molecular') %>
          Topics (CFR Indexing Terms)
        <% end %>
      </li>
      <li id='document-dates-browse'>
        <%= link_to(current_document_issue_path, class: "dates") do %>
          <%= fr_icon('calendar-alt') %>
          Dates
        <% end %>
      </li>
      <li id='public-inspection-browse'>
        <%= link_to(current_public_inspection_issue_path, class: "public-inspection") do %>
          <%= fr_icon('clipboard') %>
          Public Inspection
        <% end %>
      </li>
      <li id='executive-orders-browse'>
        <%= link_to(executive_orders_path, class: "executive-orders") do %>
          <%= fr_icon('stars') %>
          Executive Orders
        <% end %>
      </li>
    </ul>
    <ul class="right_column">
      <%= esi navigation_agencies_path %>
      <%= esi navigation_topics_path %>
      <%= esi navigation_document_issue_path %>
      <%= esi navigation_public_inspection_path %>
      <%= esi navigation_executive_orders_path %>
    </ul>
  </div>
</li>
