<li class="dropdown nav_myfr2">
  <a class="myfr2 top_nav">
    <span class="icon-fr2 icon-fr2-nav_male_female_user"></span>
    My FR
    <%= fr_icon('menu_arrow') %>
    <span class="arrow"></span>
  </a>

  <ul class="subnav myfr2-list">
    <li id='myfr2-account'>
      <%= content_tag :a,
            'My Account',
            href: "#{Settings.services.fr_profile_url}/edit",
            class: 'my-account-link inactive' %>
    </li>

    <li id='myfr2-clipboard'>
      <%= content_tag :a,
            'My Clipboard',
            href: '/my/clippings',
            class: "myfr2-clipboard inactive" %>
    </li>

    <li id='myfr2-comments'>
      <%= content_tag :a,
            'My Comments',
            href: '/my/comments',
            class: "myfr2-comments inactive" %>
    </li>

    <li id='myfr2-subscriptions'>
      <%= content_tag :a,
            'My Subscriptions',
            href: '/my/subscriptions',
            class: "myfr2-subscriptions inactive" %>
    </li>

    <li id='myfr2-session'>
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', sign_out_path, class: "myfr2-auth"  %>
      <% else %>
        <%= link_to 'Sign In / Sign Up', sign_in_url, class: "myfr2-auth" %>
      <% end %>
    </li>
  </ul>
</li>
