<%= fr_details_box(
  FrBox.build(
    presenter.fr_details_box_type,
    title: presenter.fr_details_box_title
  )
) do %>

  <%= link_to 'Executive Order Index', executive_orders_path,
    class: 'back-to-link' %>

  <% presenter.orders_by_president_and_year.each do |president, eo_collections| %>
    <h6><%= president.full_name %></h6>
    <ul>
      <% eo_collections.each do |eo_collection| %>
        <li <%= 'class=current' if presenter.current_page?(president, eo_collection) %>>
          <%= link_to_unless (
              presenter.current_page?(president, eo_collection) ||
               eo_collection.results.empty?
            ),
            eo_collection.year,
            executive_orders_by_president_and_year_path(
              president.identifier, eo_collection.year
            )
          %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
