<% page_title @presenter.name %>
<% description truncate_words(
    strip_tags(@presenter.description),
    :length => 300
  ) %>

<% add_javascript src: 'page_specific/agency_logo' %>

<% title do %>
  <%= fr_icon 'stars' %>
  <%= @presenter.name %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row executive-orders">
    <div class="<%= bootstrap_col(xs: 12, md:12) %>">

      <div class="agency-header">
        <div class="row">
          <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
            <h1>
              <% if @presenter.agency.logo.present? %>
                <%= image_tag @presenter.agency.logo_url(:thumb),
                  class: 'agency-logo' %>
              <% end %>
              <%= @presenter.name %>
            </h1>
          </div>
        </div>
      </div>

      <div class="page-summary">
        <div class="row">
          <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
            <%= simple_format(@presenter.description) %>

            <p>
              Executive orders issued since 1994 are available as a single
              bulk download and as a bulk download by President, or you can
              browse by President and year from the list below. More details
              about our APIs can be found on our
              <a href="/learn/developers">developers page</a>.
            </p>
          </div>
        </div>

        <div class="row">
          <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
            <ul class="bulk-files">
              <li>
                <span class="title">All Executive Orders since 1994</span>
                <span class="links">
                  <%= @presenter.link_to_executive_orders_for_format(:csv) %>
                  <%= @presenter.link_to_executive_orders_for_format(:json) %>
                </span>
              </li>

              <% @presidents.each do |president| %>
                <li>
                  <span class="title"><%= president.full_name %></span>
                  <span class="links">
                    <%= @presenter.link_to_executive_orders_for_format(:csv, president.identifier) %>
                    <%= @presenter.link_to_executive_orders_for_format(:json, president.identifier) %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>

      <% @presenter.orders_by_president_and_year.each do |president, orders_by_year| %>
        <div class="president-wrapper">
          <div class="row">
            <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
              <h3>
                <%= link_to president.full_name,
                  executive_orders_by_president_and_year_path(
                    president.identifier, orders_by_year.first.year
                  ) %>
              </h3>

              <p>
                <%= president.full_name %> issued
                <%= pluralize(orders_by_year.sum{|eo| eo.count}, 'executive order') %>
                between <%= orders_by_year.last.year %>
                and <%= orders_by_year.first.year %>.
              </p>

              <ul class="eo-list">
                <% orders_by_year.each do |eo_collection| %>
                  <li>
                    <%= link_to eo_collection.year,
                      executive_orders_by_president_and_year_path(
                        president.identifier,
                        eo_collection.year
                      ) %>
                    EO <%= eo_collection.minimum_number %>
                    <% if eo_collection.maximum_number &&
                      eo_collection.maximum_number != eo_collection.minimum_number %>
                        - EO <%= eo_collection.maximum_number %>
                    <% end %>
                    <span class="count-pill official">
                      <%= eo_collection.count %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
