<li id="executive-orders-browse-preview" class="preview executive-orders-browse-preview">
  <ol>
    <% @presenter.presidential_facet_collections.each do |president, collection| %>
      <li class="pres_holder <%=president.identifier%>" id="<%=president.identifier%>">
        <div class='photo' title='<%= president.photo_title %>'></div>
        <div class="pres_details">
          <h2><%= president.full_name %></h2>

          <% if president == @presenter.current_president %>
            <ol class="recent">
              <% president.recent_executive_orders(3).each do |executive_order| %>
                <li class="executive_order_wrapper">
                  <span class="eo_number">EO <%= executive_order.executive_order_number %>:</span>
                  <%= link_to executive_order.title, executive_order.html_url %>
                </li>
              <% end %>
            </ol>
          <% end %>

          <ol class="children">
            <% collection.facet.reverse.each do |facet| %>
              <li>
                <% if facet.year < 1994 %>
                  <%= facet.year %>: <span class="fr_year_not_available" data-tooltip="Documents on FederalRegister.gov are available from 1994-current">N/A</span>
                <% else %>
                  <%= facet.year %>:
                  <%= link_to facet.count,
                              executive_orders_by_president_and_year_path(
                                president.identifier,
                                facet.year
                              ) %>
                <% end %>
              </li>
            <% end %>
          </ol>

        </div>
      </li>
    <% end %>
  </ol>
</li>
