<li data-subscription-id="<%= subscription.id %>"
  data-doc-type="<%= subscription.type.underscore.dasherize %>">

  <%= fr_icon subscription.icon_class, class: 'cj-tooltip',
    data: {
      tooltip: subscription.display_type,
      'tooltip-gravity' => 'w'
    } %>

  <div class="search_data">
    <div class="title">
      <%= link_to subscription.mailing_list.title,
        subscription.search_path %>
    </div>
    <dl class="metadata" class="col-1">
      <dt class="subscription_date">Subscription Started:</dt>
      <dd><%= subscription.subscribed_on %></dd>

      <dt class="pub_date">Last Delivered On:</dt>
      <dd><%= subscription.last_delivered_on %></dd>

      <dt class="pub_date">Delivery Count:</dt>
      <dd><%= subscription.delivery_count %></dd>
    </dl>

    <dl class="metadata" class="col-2">
      <% if Settings.feature_flags.sparklines.my_fr.subscriptions %>
        <% unless subscription.type == "PublicInspectionDocument" %>
          <dt class="activity">Weekly activity in last year:</dt>
          <dd>
            <img alt="Sparkline of weekly activity in last year." src="<%#= subscription.sparkline_url %>">
          </dd>
        <% end %>
      <% end %>
    </dl>
    <dl class="metadata" id="col-3">
    </dl>
  </div>

  <div class="subscription_data">
    <dl class="metadata">
      <dt class="<%= subscription.active? ? 'unsubscribe_link' : 'resubscribe_link' %>">Status:</dt>
      <% if subscription.active? %>
        <dd>
          <span class='active'>active</span> : :
          <%= link_to "suspend", subscription_path(subscription) , class: 'unsubscribe' %>
        </dd>
      <% else %>
        <dd>
          <span class='inactive'>inactive</span> : :
          <%= link_to "re-activate", confirm_subscription_path(subscription) , class: 'resubscribe' %>
        </dd>
      <% end %>

      <dt>Other Formats:</dt>
      <dd class="rss_link">
        <% if subscription.type == "PublicInspectionDocument" %>
          <%= link_to "RSS", public_inspection_search_api_path(
            subscription.search_params, format: :rss
          ) %>
        <% else %>
          <%= link_to "RSS", documents_search_api_path(
            subscription.search_params, format: :rss
          ) %>
        <% end %>
      </dd>

      <% unless subscription.type == "PublicInspectionDocument" %>
        <dd class="csv_link">
          <%= link_to "CSV/Excel", documents_search_api_path(
            subscription.search_params, format: :csv
          ) %>
        </dd>
      <% end %>

      <% if subscription.comment.present? %>
        <dt>Related Document</dt>
        <dd>
          You commented on <br>
          <%= link_to subscription.comment.document.document_number,
            subscription.comment.document.html_url,
            class: "cj-tooltip commented-on-document",
            data: {
              tooltip: subscription.comment.document.title,
              :"data-tooltip-gravity" => 'e',
              :"data-tooltip-class" => 'commented-on-document'
            } %>

            <br>

            <span class="cj-tooltip"
              data-tooltip="Your comment tracking number"
              data-tooltip-gravity="e">
              (<%= subscription.comment.tracking_number_link %>)
            </span>
          </dd>
      <% end %>
    </dl>
  </div>
</li>
