<li data-subscription-id="<%= subscription.id %>" data-doc-type="<%= subscription.type.underscore.dasherize %>">
  <span class="icon-fr2 <%= subscription.icon_class %> add_tipsy"></span>

  <div class="search_data">
    <div class="title"><%= link_to subscription.mailing_list.title, subscription.search_path %></div>
    <dl class="metadata" id="col-1">
      <dt class="subscription_date">Subscription Started:</dt>
      <dd><%= subscription.subscribed_on %></dd>

      <dt class="pub_date">Last Delivered On:</dt>
      <dd><%= subscription.last_delivered_on %></dd>

      <dt class="pub_date">Delivery Count:</dt>
      <dd><%= subscription.delivery_count %></dd>
    </dl>
    <dl class="metadata" id="col-2">
      <% unless subscription.type == "PublicInspectionDocument" %>
        <dt class="activity">Weekly activity in last year:</dt>
        <dd><img alt="Sparkline of weekly activity in last year." src="<%= subscription.sparkline_url %>"></dd>
      <% end %>
    </dl>
    <dl class="metadata" id="col-3">
    </dl>
  </div>

  <div class="subscription_data">
    <dl class="metadata">
      <dt class="<%= subscription.active? ? 'unsubscribe_link' : 'resubscribe_link' %>">Status:</dt>
      <% if subscription.active? %>
        <dd><span class='active'>active</span> : : <%= link_to "suspend", subscription_path(subscription) , :class => 'unsubscribe' %></dd>
      <% else %>
        <dd><span class='inactive'>inactive</span> : : <%= link_to "re-activate", confirm_subscription_path(subscription) , :class => 'resubscribe' %></dd>
      <% end %>

      <dt>Other Formats:</dt>
      <dd class="rss_link"><%= link_to "RSS", subscription.search_path(:format => ".rss", :order => :newest) %></dd>
      <% unless subscription.type == "PublicInspectionDocument" %>
        <dd class="csv_link"><%= link_to "Excel/CSV", subscription.search_path(:format => ".csv", :order => :newest) %></dd>
      <% end %>

      <% if subscription.comment.present? %>
        <dt>Related Document</dt>
        <dd>
          You commented on <br>
          <%= link_to subscription.comment.article.document_number,
            subscription.comment.article.html_url,
            :class => "tooltip commented-on-document",
            :"data-tooltip" => subscription.comment.article.title,
            :"data-tooltip-gravity" => 'e',
            :"data-tooltip-class" => 'commented-on-document' %> <br>
            <span class="tooltip"
              data-tooltip="Your comment tracking number"
              data-tooltip-gravity="e">
              (<%= subscription.comment.tracking_number_link %>)
            </span>
      <% end %>
    </dl>
  </div>
</li>

