<% page_title 'Subscriptions' %>

<% title do %>
  <%= fr_icon 'document_subscription' %>
  <%= 'Subscriptions' %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="<%= bootstrap_col(xs: 12, md:12) %>">

      <div class="warning">
        <p class="errors_header">
          Are you sure you wish to unsubscribe <%= h @subscription.user.email %> from
          <%= link_to h(@subscription.mailing_list.title), documents_search_path(:conditions => @subscription.mailing_list.parameters) %>?
        </p>
      </div>

      <%= form_for(@subscription, url: suspend_subscription_path(@subscription.token), method: 'GET', authenticity_token: false) do |f| %>
        <%= f.submit 'Unsubscribe', class: 'btn fr_button secondary medium' %>
      <% end %>

    </div>
  </div>
<% end %>
