<div class="title"><span>My FR</span></div>

<%= content_tag(:div, flash[:notice], :class => 'flash notice')  if flash[:notice] %>
<%= content_tag(:div, flash[:error],  :class => 'flash error')   if flash[:error]  %>

<%= render :partial => "devise/shared/tabs" %>

<div class="signup_bar">
  <%= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>

    <%= f.inputs do %>
      <%= f.input :email %>
      <%= f.input :password, :as => :password %>

      <% if devise_mapping.rememberable? -%>
        <div class="remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button "Sign in" %>
    <% end %>
  <% end %>
</div>
