<li class="result_item" data-document-number="<%= document.document_number %>">
  <h4><%= link_to sanitize(document.title, :tags => %w(span), :attributes => %w(class)), document_path(document) %></h4>

  <div class="my_fr2 share">
    <ul>
      <li class="clip_for_later">
        <%= render :partial => 'documents/add_to_clipboard', :locals => {:document => document} %>
      </li>
    </ul>
  </div>

  <div class="result_info">
    <span class="excerpts">
      <%= document.excerpts.html_safe %>
      <%=
      if (search.term.blank? && document.abstract.present?) || document.excerpts.blank?
        sanitize document.abstract, :tags => %w(span), :attributes => %w(class)
      else
        sanitize document.excerpts, :tags => %w(span), :attributes => %w(class)
      end %></span>
  </div>
  <ul class="metadata">
    <li>
      <%= document.display_type.indefinite_article.capitalize %> <span class='entry_type'><%= document.display_type %></span>
      by <%= document.agency_names %> on
      <%= link_to document.publication_date,
        document_issue_path(document.publication_date) %>
    </li>
    <li class="pdf"><%= link_to 'PDF', document.pdf_url, :class => 'button format pdf small' %></li>
  </ul>
</li>
