<% page_title @presenter.search.term.blank? ? 'Document Search' : "Document Search Results for '#{@presenter.search.term}'" %>

<% if @subscription_search.valid? %>
  <% feed_autodiscovery(
    documents_search_api_path(
      {conditions: @subscription_search.valid_conditions},
      format: :rss
    ),
    @subscription_search.summary,
    search_conditions: @subscription_search.valid_conditions
  ) %>
<% end %>

<% if @presenter.search.blank? %>
  <% description 'Easy, powerful search of all Federal Register documents since 1994' %>
<% end %>

<%= title do %>
  <%= fr_icon 'Search' %>
  Document Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="document-search search">
    <div id="search-result-header">
      <%= render partial: 'header', locals: {
        presenter: @presenter
      } %>
    </div>

    <% unless @presenter.search.conditions_blank? %>
      <% if @presenter.search.valid? %>
        <div id="search-results">
          <% if @presenter.display_suggestions? &&
            @presenter.search_suggestions.present? %>
              <div class="suggestions">
                <% @presenter.search_suggestions.each do |suggestion| %>
                  <%= notification(suggestion) %>
                <% end %>
              </div>
          <% end %>

          <div class="result-set"
            data-expected-result-count="<%= @presenter.search.result_metadata.count %>">

            <% if @presenter.search_filters.present? %>
              <div class="filters">
                <% @presenter.search_filters.each do |filter| %>
                  <%= notification(filter) %>
                <% end %>
              </div>
            <% end %>

            <%= render partial: 'search_info', locals: {
              supported_orders: @presenter.supported_orders,
              search: @presenter.search
            } %>

            <% if @presenter.search.results.present? %>
              <div>
                <%= will_paginate @presenter.search.results,
                  params: {action: :show},
                  renderer: BootstrapPagination::Rails %>
              </div>

              <%= render partial: 'search/results',
                locals: {
                  type: :published,
                  documents: @presenter.search.results,
                  search: @presenter.search,
                  track_search_result_click_throughs: true
                }
              %>

              <div>
                <%= will_paginate @presenter.search.results,
                  params: {action: :show},
                  renderer: BootstrapPagination::Rails %>
              </div>
            <% else %>
              <div class="errors">
                <p class="errors_header">No documents were found.</p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="flash-message error">
          <h5>
            We encountered some errors with your search, please correct them and try again.
          </h5>

          <ul class="bullets">
            <% @presenter.search.validation_errors.values.each do |err| %>
              <li class=""><%= err %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
