<% page_title @presenter.search.term.blank? ? 'Document Search' : "Document Search Results for '#{@presenter.search.term}'" %>

<% if @subscription_search.valid? %>
  <% feed_autodiscovery(
    documents_search_api_path(
      {conditions: @subscription_search.valid_conditions},
      format: :rss
    ),
    @subscription_search.summary,
    search_conditions: @subscription_search.valid_conditions
  ) %>
<% end %>

<% if @presenter.search.blank? %>
  <% description 'Easy, powerful search of all Federal Register documents since 1994' %>
<% end %>

<%= title do %>
  <%= fr_icon 'Search' %>
  Document Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row document-search search">
    <div class="<%= bootstrap_col(xs: 12, md: 12) %>">

      <%= esi(documents_search_header_path(params)) %>

      <% unless @presenter.search.conditions_blank? %>
        <% if @presenter.search.valid? %>
          <div class="row">
            <% if @presenter.search.results.present? %>
              <div class="<%= bootstrap_col(xs: 3, md: 3) %>">
                <div class="facets">
                  <%= esi( documents_search_facets_path(
                      @presenter.search.params.merge(facet: 'publication_date')
                    )
                  ) unless @presenter.search.publication_date.present? %>

                  <%= esi( documents_search_facets_path(
                      @presenter.search.params.merge(facet: 'type')
                    )
                  ) unless @presenter.search.type.present? %>

                  <%= esi( documents_search_facets_path(
                      @presenter.search.params.merge(facet: 'agency', num_facets: 6, limit: 12)
                    )
                  ) unless @presenter.search.agencies.present? %>

                  <%= esi( documents_search_facets_path(
                      @presenter.search.params.merge(facet: 'topic', num_facets: 6)
                    )
                  ) unless @presenter.search.topics.present? %>

                  <%= esi( documents_search_facets_path(
                      @presenter.search.params.merge(facet: 'section', num_facets: 6)
                    )
                  ) unless @presenter.search.sections.present? %>
                </div>
              </div>
            <% end %>

            <% col_span = @presenter.search.results.present? ? 9 : 12 %>
            <div class="<%= bootstrap_col(xs: col_span, md: col_span) %>">
              <% if (@presenter.search.params[:page].blank? || @presenter.search.params[:page] == '1') &&
                @presenter.search.params[:order].blank? %>
                <%= esi documents_search_suggestions_path(@presenter.search.params)%>
              <% end %>

              <%= esi(documents_search_results_path(@presenter.search.params)) %>
            </div>
          </div>
        <% else %>
          <% unless @presenter.search.valid? %>
            <div class="flash-message error">
              <h5>
                We encountered some errors with your search, please correct them and try again.
              </h5>

              <ul class="bullets">
                <% @presenter.search.validation_errors.values.each do |err| %>
                  <li class=""><%= err %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
