<% page_title @presenter.search.term.blank? ? 'Document Search' : "Document Search Results for '#{@presenter.search.term}'" %>

<% if Settings.app.search.explain_query_results %>
  <% content_for :page_specific_css do %>
    <%= stylesheet_link_tag asset_path('json-viewer.css'), media: "all" %>
  <% end %>

  <% content_for :page_specific_js do %>
    <%= javascript_include_tag asset_path('json-viewer.js'),
      asyc: true,
      defer: true,
      nonce: content_security_policy_nonce %>
  <% end %>
<% end %>

<% if @subscription_search.valid? %>
  <% feed_autodiscovery(
    documents_search_api_path(
      {conditions: @subscription_search.valid_conditions},
      format: :rss
    ),
    @subscription_search.summary,
    search_conditions: @subscription_search.valid_conditions
  ) %>
<% end %>

<% if @presenter.search.blank? %>
  <% description 'Easy, powerful search of all Federal Register documents since 1994' %>
<% end %>

<%= title do %>
  <%= fr_icon 'Search' %>
  Document Search
<% end %>

<%= bootstrap_context_wrapper do %>

  <%= render partial: 'shared/suggestions_placeholder', locals: {
    current: true, date: nil
  } %>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>

  <% if false #testing stimulus %>
    <div data-controller="hello">
      <p data-hello-target="output">Waiting for Stimulus...</p>
      <button data-action="click->hello#greet">Click me</button>
    </div>
  <% end %>

  <%# Fix form submission stub %>
  <% if false %>
    <div data-controller="autocomplete suggestions" data-autocomplete-url-value="/suggestions" data-autocomplete-delay-value="300" class="go-to-cfr-reference" id="suggestions">
      <%= simple_form_for :cfr, url: root_path, method: :get,
        html: {
          class: 'go-to-cfr-reference',
          'data-target': 'suggestions.form'
        } do |f| %>
        <%= f.hidden_field :date, label: false, value: (true ? 'current' : date) %><%#= TODO: Likely remove this and the true stub %>
        <%= f.input :reference, required: false,
          label: 'Go to CFR Reference',
          input_html: {
            class: 'reference',
            'data-autocomplete-target': 'input'
          },
          wrapper: false,
          placeholder: 'ex: 1 CFR 1.1' %>

        <input type="hidden" name="suggestion_id" data-autocomplete-target="hidden"/>
        <%= button_tag 'Go', class: 'btn btn-optional btn-medium', wrapper: false, "data-action" => "click->suggestions#search" %>
        <ul class="suggestions" data-autocomplete-target="results"></ul>
      <% end %>
    </div>
  <% end %>




  <div class="document-search search">
    <div id="search-result-header">
      <%= render partial: 'header', locals: {
        presenter: @presenter
      } %>
    </div>

    <% unless @presenter.search.conditions_blank? %>
      <% if @presenter.search.valid? %>
        <div id="search-results">
          <% if @presenter.display_suggestions? &&
            @presenter.search_suggestions.present? %>
              <div class="suggestions">
                <% @presenter.search_suggestions.each do |suggestion| %>
                  <%= notification(suggestion) %>
                <% end %>
              </div>
          <% end %>

          <div class="result-set"
            data-expected-result-count="<%= @presenter.search.result_metadata.count %>">

            <% if @presenter.search_filters.present? %>
              <div class="filters">
                <% @presenter.search_filters.each do |filter| %>
                  <%= notification(filter) %>
                <% end %>
              </div>
            <% end %>

            <%= render partial: 'search_info', locals: {
              supported_orders: @presenter.supported_orders,
              search: @presenter.search
            } %>

            <% if @presenter.search.results.present? %>
              <div>
                <%= will_paginate @presenter.search.results,
                  params: {action: :show},
                  renderer: BootstrapPagination::Rails %>
              </div>

              <%= render partial: 'search/results',
                locals: {
                  type: :published,
                  documents: @presenter.search.results,
                  search: @presenter.search,
                  track_search_result_click_throughs: true
                }
              %>

              <div>
                <%= will_paginate @presenter.search.results,
                  params: {action: :show},
                  renderer: BootstrapPagination::Rails %>
              </div>
            <% else %>
              <div class="errors">
                <p class="errors_header">No documents were found.</p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="flash-message error">
          <h5>
            We encountered some errors with your search, please correct them and try again.
          </h5>

          <ul class="bullets">
            <% @presenter.search.validation_errors.values.each do |err| %>
              <li class=""><%= err %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
