<% page_title @presenter.search.term.blank? ? 'Document Search' : "Document Search Results for '#{@presenter.search.term}'" %>

<% if @subscription_search.valid? %>
  <% feed_autodiscovery(
    documents_search_api_path(
      {conditions: @subscription_search.valid_conditions},
      format: :rss
    ),
    @subscription_search.summary,
    search_conditions: @subscription_search.valid_conditions
  ) %>
<% end %>

<% if @presenter.search.blank? %>
  <% description 'Easy, powerful search of all Federal Register documents since 1994' %>
<% end %>

<%= title do %>
  <%= fr_icon 'Search' %>
  Document Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="document-search search">
      <div id="search-result-header">
        <%= esi(documents_search_header_path(params)) %>
      </div>

      <% unless @presenter.search.conditions_blank? %>
        <% if @presenter.search.valid? %>
            <% col_span = @presenter.search.results.present? ? 9 : 12 %>
            <div id="search-results">
              <% if (@presenter.search.params[:page].blank? || @presenter.search.params[:page] == '1') &&
                @presenter.search.params[:order].blank? %>
                <%= esi documents_search_suggestions_path(@presenter.search.params)%>
              <% end %>

              <%= esi(documents_search_results_path(@presenter.search.params)) %>
            </div>
          </div>
        <% else %>
          <% unless @presenter.search.valid? %>
            <div class="flash-message error">
              <h5>
                We encountered some errors with your search, please correct them and try again.
              </h5>

              <ul class="bullets">
                <% @presenter.search.validation_errors.values.each do |err| %>
                  <li class=""><%= err %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
<% end %>
