<% page_title @search.term.blank? ? 'Document Search' : "Document Search Results for '#{@search.term}'" %>
<% feed_autodiscovery documents_search_url(params.except(:action).merge(:format => :rss, :order => 'newest')), false, @search.summary, :search_conditions => (params[:conditions].blank? ? {} : @search.valid_conditions).except(:publication_date) %>

<% if @search.blank? %>
  <% description 'Easy, powerful search of all Federal Register documents since 1994' %>
  <% meta_robots("NOFOLLOW") %>
<% else %>
  <% meta_robots("NOINDEX, NOFOLLOW") %>
<% end %>

<% add_javascript :src => 'search.js' %>
<%# add_javascript src: 'page_specific/search.js' %>

<%= title do %>
  <%= fr_icon 'Search' %>
  Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row document-search search">
    <div class="<%= bootstrap_col(xs: 12, md: 12) %>">


          <%= esi(documents_search_header_path(params)) %>

      <% unless @search.conditions_blank? %>
        <% if @search.valid? %>
          <div class="row">
            <div class="<%= bootstrap_col(xs: 3, md: 3) %>">
              <div class="filters">
                <%= esi( documents_search_facets_path(
                    params.except(:action).merge(:facet => 'publication_date')
                  )
                ) unless @search.publication_date.present? %>

                <%= esi( documents_search_facets_path(
                    params.except(:action).merge(:facet => 'type')
                  )
                ) unless @search.type.present? %>

                <%= esi( documents_search_facets_path(
                    params.except(:action).merge(:facet => 'agency')
                  )
                ) unless @search.agency_ids.present? %>

                <%= esi( documents_search_facets_path(
                    params.except(:action).merge(:facet => 'topic')
                  )
                ) unless @search.topics.present? %>

                <%= esi( documents_search_facets_path(
                    params.except(:action).merge(:facet => 'section', :num_facets => 6)
                  )
                ) unless @search.sections.present? %>
              </div>
            </div>

            <div class="<%= bootstrap_col(xs: 9, md: 9) %>">
              <% if (params[:page].blank? || params[:page] == '1') && params[:order].blank? %>
                <%= esi(documents_search_suggestions_path(params.except(:action))) %>
              <% end %>

              <%= esi(documents_search_results_path(params)) %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
