<div class="document <%= section_class %>">
  <h6>
    <%= link_to article.title, article.short_article_url %>
  </h6>
              
  <p class="abstract">
    <%= article.shortened_abstract(result_count > 15 ? 175 : 500) %>
  </p>

  <%- if article.comments_close_on && article.comments_close_on > Date.current %>
    <p class="comment_open">
      <img src="<%= mailer_asset_url('email/icon_comment.png') %>" style="margin:3px 5px 0 5px;vertical-align:sub" />
      Comment period ends in <%= pluralize (article.comments_close_on - Date.current), 'day' %> (<%= article.comments_close_on %>)
    </p>
  <%- end %>
</div>
