<% add_css_file_to_mailer 'subscription_mailer.css' %>

<table class="documents">
  <tr>
    <td class="info">
      <span class="left">subscription results for <%= @presenter.date.to_s(:formal) %></span>
      <span class="right"><%= pluralize @presenter.filter_to_documents.count, "matching document" %></span>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="mailing-list-title"><%= @presenter.mailing_list_title %></h1>
    </td>
  </tr>

  <tr>
    <td>
      <div class="bootstrap-scope">
        <div class="row">
          <div class="doc-toc">
            <%= fr_content_box(
              FrBox.build(
                @presenter.fr_content_box_type,
                title: 'Matching Documents',
                header: {hover: false}
              )
            ) do %>
              <% if FrBox.build(@presenter.fr_content_box_type).background_seal? %>
                <span class="icon-fr2 icon-fr2-NARA1985Seal doc-background"></span>
              <% end %>

              <div class="doc doc-document-issue">
                <%= render partial: 'issues/table_of_contents', locals: {
                  agencies: @presenter.agencies,
                  document_partial: @presenter.document_partial,
                  table_of_contents_url: document_issue_url(@presenter.date),
                  show_see_references: false,
                  total_document_count: @presenter.filter_to_documents.count
                } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
