<div class="info">
  <span class="left">subscription results for <%= @results.first.publication_date_formally %></span>
  <span class="right"><%= pluralize @results.count, "matching document" %></span>
</div>

<h1>
  <%=h @mailing_list.title %>
</h1>
 
<% @agencies.each_with_index do |agency, index| %>
  <a name="<%= agency.identifier %>"></a>
  <h3><%= agency.name %></h3>

  <% if agency.children.present? %>
    <% agency.children.each_with_index do |sub_agency, index| %>
      <div class="sub_agency">
        <i>See</i>
        <a href="#<%= sub_agency.identifier %>" style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;"><%= sub_agency.name %></a>
        <span class="doc_count">(<%= pluralize(sub_agency.articles.to_a.size, 'document') %>)</span>
      </div>
    <% end %>
  <% end %>

  <% agency.articles_by_type_and_toc_subject.each do |type, articles_by_toc_subject| %>
    <h4><%= type.pluralize %></h4>

    <% articles_by_toc_subject.each do |toc_subject, articles_by_toc_subject| %>
      <% if toc_subject.present? %>
        <h5><%= toc_subject %></h5>
        <% articles_by_toc_subject.each do |article| %>
          <%= render :partial => 'subscription_mailer/document', :locals => {:article => article, :result_count => @results.count, :section_class => 'with_subject'} %>
        <% end %>  
      <% else %>
        <% articles_by_toc_subject.each do |article| %>
          <%= render :partial => 'subscription_mailer/document', :locals => {:article => article, :result_count => @results.count, :section_class => ''} %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
