<% add_css_file_to_mailer 'subscription_mailer.css' %>

<table class="public-inspection">
  <tr>
    <td class="info">
      <span class="left">subscription results for <%= @presenter.date.to_s(:formal) %></span>
      <span class="right"><%= pluralize @total_document_count, "matching public inspection document" %></span>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="mailing-list-title"><%= @mailing_list_title %></h1>
    </td>
  </tr>

  <tr>
    <td>
      <div class="bootstrap-scope">
        <% if @special_filings_presenter %>
          <div class="row">
            <div class="doc-toc">

              <%= fr_content_box(
                FrBox.build(
                  @special_filings_presenter.fr_content_box_type,
                  title: 'Matching Special Filings',
                  filing_type: 'special_filing',
                  header: {hover: false}
                )
              ) do %>
                <% if FrBox.build(@special_filings_presenter.fr_content_box_type).background_seal? %>
                  <span class="icon-fr2 icon-fr2-stop-hand doc-background"></span>
                <% end %>

                <div class="doc doc-document-issue">
                  <h1 id="special-filing">
                    Special Filing
                    <span class="updated_at">
                      updated at
                      <%= @presenter.special_filings.formatted_updated_at %>
                    </span>
                  </h1>

                  <%= render partial: 'issues/table_of_contents',
                    locals: {
                      type: "special-filing",
                      agencies: @special_filings_presenter.agencies,
                      document_partial: @special_filings_presenter.document_partial,
                      table_of_contents_url: public_inspection_issue_url(@special_filings_presenter.date),
                      show_see_references: false
                    } %>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>

        <% if @regular_filings_presenter %>
          <div class="row">
            <div class="doc-toc">

              <%= fr_content_box(
                FrBox.build(
                  @regular_filings_presenter.fr_content_box_type,
                  title: 'Matching Regular Filings',
                  filing_type: 'regular_filing',
                  header: {hover: false}
                )
              ) do %>
                <% if FrBox.build(@regular_filings_presenter.fr_content_box_type).background_seal? %>
                  <span class="icon-fr2 icon-fr2-stop-hand doc-background"></span>
                <% end %>

                <div class="doc doc-document-issue">
                  <h1 id="regular-filing">
                    Regular Filing
                    <span class="updated_at">
                      updated at
                      <%= @presenter.regular_filings.formatted_updated_at %>
                    </span>
                  </h1>

                  <%= render partial: 'issues/table_of_contents',
                    locals: {
                      type: "special-filing",
                      agencies: @regular_filings_presenter.agencies,
                      document_partial: @regular_filings_presenter.document_partial,
                      table_of_contents_url: public_inspection_issue_url(@regular_filings_presenter.date),
                      show_see_references: false
                    } %>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>
