<div class="info">  
  <span class="left"><%= @results.first.filed_at.to_date.to_s(:formal) %></span>
  <span class="right"><%= pluralize @results.count, "matching public inspection document" %></span>
</div>

<h1>
  <%=h @mailing_list.title %>
</h1>

    
<% @agencies.each_with_index do |agency, index| %>
  <a name="<%= agency.slug %>"></a>
  <h3><%= agency.name %></h3>      
  
  <% if agency.children.present? %>
    <% agency.children.each_with_index do |sub_agency, index| %>
      <div class="sub_agency">
        <i>See</i>
        <a href="#<%= sub_agency.slug %>" style="font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;"><%= sub_agency.name %></a> 
        <span class="doc_count">(<%= pluralize(sub_agency.articles.to_a.size, 'public inspection document') %>)</span>
      </div>
    <% end %>
  <% end %>

  <% agency.articles_by_type_and_toc_subject.each do |type, articles_by_toc_subject| %>
    <h4><%= type.pluralize %></h4>

    <% articles_by_toc_subject.each do |toc_subject, articles_by_toc_subject| %>
      <% if toc_subject.present? %>
        <h5><%= toc_subject %></h5>
        <% articles_by_toc_subject.each do |document| %>
          <%= render :partial => 'subscription_mailer/pi_document', :locals => {:document => document, :section_class => 'with_subject', :title => document.toc_doc} %>
        <% end %>  
      <% else %>
        <% articles_by_toc_subject.each do |document| %>
          <%= render :partial => 'subscription_mailer/pi_document', :locals => {:document => document, :section_class => '', :title => document.title} %>
        <% end %>
      <% end %>
    <% end %>  
  <% end %>
<% end %>

