<li>
  <h4><%= link_to sanitize(document.title.present? ? document.title : "#{document.toc_subject} #{document.toc_doc}", :tags => %w(span), :attributes => %w(class)), document_path(document) %></h4>

  <div class="result_info">
    <span class="excerpts"><%= sanitize document.excerpts.html_safe, :tags => %w(span), :attributes => %w(class) %></span>
  </div>
  <ul class="metadata">
    <li class="type"><%= document.display_type %></li>
    <% if document.publication_date %>
      <li class="pub_date"><%= document.publication_date %></li>
    <% end %>
    <li class="agency"><%= document.agency_names %></li>
    <li><%= link_to 'PDF', document.pdf_url, :class => 'button format pdf small' %></li>
  </ul>  
</li>

