<div class="row result_set result-set"
  data-expected-result-count="<%= @search.result_metadata.count %>">
  <div class="<%= bootstrap_col(xs: 12, md: 12) %>">

    <% if @search_details.filters.present? %>
      <%= render partial: "search/filters", locals: {
          filters: @search_details.filters
          } %>
    <% end %>

  <% if @search.results.present? %>
    <%= render partial: 'search_info', locals: {
        search: @search
      } %>

    <div class="row">
      <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
        <%= will_paginate @search.results, params: {action: :show},
          renderer: BootstrapPagination::Rails %>
      </div>
    </div>

    <%= render partial: 'search/results',
      locals: {
        type: :public_inspection,
        documents: @search.results,
        search: @search
      }
    %>

    <div class="row">
      <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
        <%= will_paginate @search.results, params: {action: :show},
          renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  <% else %>
    <div class="errors">
      <p class="errors_header">No Public Inspection documents were found.</p>
    </div>
  <% end %>
</div>
