<% header_type 'public-inspection' %>
<% page_title @presenter.search.term.blank? ? 'Public Inspection Search' : "Public Inspection Search Results for '#{h @presenter.search.term}'" %>

<% if @presenter.search.valid? %>
  <%= feed_autodiscovery(
    public_inspection_search_api_url(
      {conditions: @presenter.search.valid_conditions.except(:publication_date)},
      format: :rss
    ),
    @presenter.search.summary,
    search_conditions: @presenter.search.valid_conditions.except(:publication_date),
    subscription_default: 'PublicInspectionDocument'
  ) %>
<% end %>

<% if @presenter.search.blank? %>
  <% description 'Easy, powerful search of all unpublished Federal Register documents currently on Public Inspection' %>
<% end %>

<%= title title_bar_class: 'public-inspection' do %>
  <%= fr_icon 'Search' %>
  Public Inspection <span class="desktop-only">Document</span> Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="public-inspection-document-search search">
    <div id="search-result-header">
      <%= render partial: 'header', locals: {
        presenter: @presenter
      } %>
    </div>

    <% unless @presenter.search.conditions_blank? %>
      <% if @presenter.search.valid? %>
        <div id="search-results">
          <div class="result-set"
            data-expected-result-count="<%= @presenter.search.result_metadata.count %>">

            <% if @presenter.search_filters.present? %>
              <div class="filters">
                <% @presenter.search_filters.each do |filter| %>
                  <%= notification(filter) %>
                <% end %>
              </div>
            <% end %>

            <%= render partial: 'search_info', locals: {
              supported_orders: @presenter.supported_orders,
              search: @presenter.search
            } %>

            <% if @presenter.search.results.present? %>
              <div>
                <%= will_paginate @presenter.search.results,
                  params: {action: :show},
                  renderer: BootstrapPagination::Rails %>
              </div>

              <%= render partial: 'search/results',
                locals: {
                  type: :public_inspection,
                  documents: @presenter.search.results,
                  search: @presenter.search
                }
              %>

              <div class="<%= bootstrap_col(xs: 12, md: 12) %>">
                <%= will_paginate @presenter.search.results, params: {action: :show},
                  renderer: BootstrapPagination::Rails %>
              </div>
            <% else %>
              <div class="errors">
                <p class="errors_header">No Public Inspection documents were found.</p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="flash-message error">
          <h5>
            We encountered some errors with your search, please correct them and try again.
          </h5>

          <ul class="bullets">
            <% @presenter.search.validation_errors.values.each do |err| %>
              <li class=""><%= err %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
