<% header_type 'public-inspection' %>
<% page_title @presenter.search.term.blank? ? 'Public Inspection Search' : "Public Inspection Search Results for '#{h @presenter.search.term}'" %>

<% if @presenter.search.valid? %>
  <%= feed_autodiscovery(
    public_inspection_search_api_path(
      {conditions: @presenter.search.valid_conditions.except(:publication_date)},
      format: :rss
    ),
    @presenter.search.summary,
    search_conditions: @presenter.search.valid_conditions.except(:publication_date),
    subscription_default: 'PublicInspectionDocument'
  ) %>
<% end %>

<% if @presenter.search.blank? %>
  <% description 'Easy, powerful search of all unpublished Federal Register documents currently on Public Inspection' %>
<% end %>

<%= add_javascript src: 'page_specific/search' %>

<%= title title_bar_class: 'public-inspection' do %>
  <%= fr_icon 'Search' %>
  Public Inspection Document Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row public-inspection-document-search search">
    <div class="<%= bootstrap_col(xs: 12, md: 12) %>">

      <%= esi(public_inspection_search_header_path(params.except(:action))) %>

      <% unless @presenter.search.conditions_blank? %>
        <% if @presenter.search.valid? %>
          <div class="row">
            <% if @presenter.search.results.present? %>
              <div class="<%= bootstrap_col(xs: 3, md: 3) %>">
                <div class="facets">
                <%= esi(
                  public_inspection_search_facets_path(
                    @presenter.search.params.merge(facet: 'type')
                  )
                ) unless @presenter.search.type.present? %>

                <%= esi(
                  public_inspection_search_facets_path(
                    @presenter.search.params.merge(facet: 'agencies')
                  )
                ) unless @presenter.search.agencies.present? %>
                </div>
              </div>
            <% end %>

            <% col_span = @presenter.search.results.present? ? 9 : 12 %>
            <div class="<%= bootstrap_col(xs: col_span, md: col_span) %>">
              <%# if (@presenter.search.params[:page].blank? || @presenter.search.params[:page] == '1') && @presenter.search.params[:order].blank? %>
                <%#= esi( public_inspection_search_suggestions_path(
                    @presenter.search.params.except(:action)
                  )
                ) %>
              <%# end %>

              <%= esi(public_inspection_search_results_path(@presenter.search.params)) %>
            </div>
          </div>
        <% else %>
          <% unless @presenter.search.valid? %>
            <div class="flash-message error">
              <h5>
                We encountered some errors with your search, please correct them and try again.
              </h5>

              <ul class="bullets">
                <% @presenter.search.validation_errors.values.each do |err| %>
                  <li class=""><%= err %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
