<% page_title @search.term.blank? ? 'Public Inspection Search' : "Public Inspection Search Results for '#{h @search.term}'" %>
<%= feed_autodiscovery public_inspection_search_url(params.except(:action).merge(:format => :rss, :order => 'date')), @search.summary, :search_conditions => (params[:conditions].blank? ? {} : params[:conditions]).except(:publication_date), :subscription_default => 'PublicInspectionDocument' %>

<% if @search.blank? %>
  <% description 'Easy, powerful search of all unpublished Federal Register documents currently on Public Inspection' %>
  <% meta_robots("NOFOLLOW") %>
<% else %>
  <% meta_robots("NOINDEX, NOFOLLOW") %>
<% end %>

<%= title do %>
  <%= fr_icon 'Search' %>
  Public Inspection Document Search
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row document-search search">
    <div class="<%= bootstrap_col(xs: 12, md: 12) %>">

      <%= esi(public_inspection_search_header_path(params.except(:action))) %>

      <% unless @search.conditions_blank? %>
        <% if @search.valid? %>
          <div class="row">
            <div class="<%= bootstrap_col(xs: 3, md: 3) %>">
              <div class="filters">
                <%= esi( public_inspection_search_facets_path(
                    params.except(:action).merge(:facet => 'type')
                  )
                ) unless @search.type.present? %>

                <%= esi( public_inspection_search_facets_path(
                    params.except(:action).merge(:facet => 'agency')
                  )
                ) unless @search.agency_ids.present? %>
              </div>
            </div>

            <div class="<%= bootstrap_col(xs: 9, md: 9) %>">
              <% if (params[:page].blank? || params[:page] == '1') && params[:order].blank? %>
                <%#= esi( public_inspection_search_suggestions_path(
                    params.except(:action)
                  )
                ) %>
              <% end %>

              <%= esi(public_inspection_search_results_path(params)) %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
