<% title @search.term.blank? ? 'Public Inspection Search' : "Public Inspection Search Results for '#{h @search.term}'" %>
<%= feed_autodiscovery public_inspection_search_url(params.except(:action).merge(:format => :rss, :order => 'date')), @search.summary, :search_conditions => (params[:conditions].blank? ? {} : params[:conditions]).except(:publication_date), :subscription_default => 'PublicInspectionDocument' %>

<% if @search.blank? %>
  <% description 'Easy, powerful search of all unpublished Federal Register documents currently on Public Inspection' %>
  <% meta_robots("NOFOLLOW") %>
<% else %>
  <% meta_robots("NOINDEX, NOFOLLOW") %>
<% end %>

<% add_javascript :src => 'search.js' %>

<div id="search">
  <div id="main">
    <div class="title"><span>Search Public Inspection</span></div>

    <%= esi(public_inspection_search_header_path(params.except(:action))) %>

    <% unless @search.conditions_blank? %>
      <% if @search.valid? %>
        <div class="filters">
          <%= esi(public_inspection_search_facets_path(params.except(:action).merge(:facet => 'type'))) unless @search.type.present? %>
          <%= esi(public_inspection_search_facets_path(params.except(:action).merge(:facet => 'agency'))) unless @search.agency_ids.present? %>
        </div>
        <%= esi(public_inspection_search_results_path(params.except(:action))) %>
      <% end %>
    <% end %>
  </div>
</div>
