<div class="home-aid-box">
  <%= fr_details_box FrBox.build(:reader_aid) do %>
      <div id="home-aid-tagline">
        <p>
          Increase your understanding of the Federal Register eco-system and
          improve your FederalRegister.gov skills with these helpful, unofficial
          educational articles and videos. See more of our reader aids
          <%= link_to "here", reader_aids_path %>.
        </p>
      </div>

      <div id="ofr-blog-callout">
        <p class="blog">
          <%= fr_icon(presenter.announcements[:icon_class]) %>

          Read <%= link_to presenter.announcements[:title],
            reader_aids_section_path('office-of-the-federal-register-announcements') %>
        </p>
      </div>

      <div id="using-fr" class="section">
        <%= render template: 'reader_aids/index_section',
          locals: {presenter: presenter.using_fr_presenter} %>
      </div>

      <div id="recent-site-updates" class="section">
        <%= render template: 'reader_aids/index_section',
          locals: {presenter: presenter.recent_updates_presenter} %>
      </div>
  <% end %>
</div>
