<div class="section">
  <h4 class="with-icon lowercase">
    <%= fr_icon @presenter.icon_class %>
    <%= presenter.title %>
    <%= link_to "view all", reader_aids_section_path(presenter.section_identifier), class: "more-details" if presenter.show_view_all %>
  </h4>
  <div class="row">
    <% presenter.grouped_items.each do |group| %>
      <div class="<%= presenter.css_columns %>">
        <ul class="fr-list with-bullets reader-aids">
          <% group.each do |item| %>
            <li>
              <%= link_to item.formatted_title,
                item.path(presenter.section_identifier) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
