<li class="dropdown nav_reader_aids">
  <%= link_to('', class: "top_nav") do %>
    <%= fr_icon('Directions') %>
    <span>
      Reader Aids
      <%= fr_icon('menu_arrow') %>
    </span>
  <% end %>

  <ul class="subnav reader-aids-list">
    <li>
      <%= link_to 'Reader Aids Home', reader_aids_path %>
    </li>
    <% reader_aids_sections.each do |section_slug, section_content| %>
      <li>
        <%= link_to section_content[:title],
          reader_aids_section_path(section_slug) %>
      </li>
    <% end %>
  </ul>
</li>
