<% header_type 'reader-aids' %>
<% page_title "Reader Aids" %>

<%= title title_bar_class: "reader-aids" do %>
  <%= fr_icon 'Directions' %>
  Reader Aids
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= render partial: 'search_box' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= fr_box "Reader Aids", :reader_aid, content_block_html: {class: 'simple'} do %>
        <p>
          Use these helpful, unofficial educational articles, tutorials and videos
          increase your understanding of the Federal Register ecosystem and
          improve your FederalRegister.gov skills.
        </p>

        <%= render partial: 'index_nav', locals: {items: @presenter.sections}  %>

        <div class="row">
          <div class="col-xs-8 col-md-8 section">
            <%= esi reader_aids_blog_highlights_path %>
            <%= esi reader_aids_using_fr_path %>
            <%= esi reader_aids_understanding_fr_path %>
          </div>

          <div class="col-xs-4 col-md-4 section">
            <%= esi reader_aids_recent_updates_path %>
            <%= esi reader_aids_videos_and_tutorials_path %>
            <%= esi reader_aids_developer_tools_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
