<% header_type 'reader-aids' %>
<% page_title "Reader Aids" %>

<%= title title_bar_class: "reader-aids" do %>
  <%= fr_icon 'Directions' %>
  Reader Aids
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= render partial: 'search_box' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= fr_details_box FrBox.build(:reader_aid) do %>
        <p>
          Use these helpful educational articles, tutorials and videos increase
          your understanding of the Federal Register publication system and
          improve your FederalRegister.gov skills.
        </p>

        <%= render partial: 'index_nav', locals: {items: @presenter.sections}  %>

        <div class="row">
          <div class="col-xs-12 col-md-8 section">
            <%= esi reader_aids_index_section_path('office-of-the-federal-register-announcements') %>
            <%= esi reader_aids_index_section_path('using-federalregister-gov') %>
            <%= esi reader_aids_index_section_path('understanding-the-federal-register') %>
            <%= esi reader_aids_index_section_path('government-policy-and-ofr-procedures') %>
            <%= esi reader_aids_index_section_path('congressional-review') %>
          </div>

          <div class="col-xs-12 col-md-4 section">
            <%= esi reader_aids_index_section_path('recent-updates') %>
            <%= esi reader_aids_index_section_path('videos-tutorials') %>
            <%= esi reader_aids_index_section_path('developer-resources') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
