<% header_type 'reader-aids' %>

<%= title title_bar_class: "reader-aids" do %>
  <%= fr_icon 'Search' %>
  Reader Aids :: Search
<% end %>


<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-md-12 section">
      <%= fr_details_box FrBox.build(:reader_aid) do %>
        <div class="section search_results">
          <div class="search-results-summary">
            <h4>
              <%= pluralize @search_presenter.result_count, 'result' %>
              found in Reader Aids for "<%= @search_presenter.search_term %>"
            </h4>

            <%= link_to "View All Reader Aids", reader_aids_path %>
          </div>

          <% @search_presenter.grouped_pages.each do |parent, pages| %>
            <h3 class="with-icon">
              <% if @search_presenter.parent_section(parent) %>
                <%= fr_icon(
                  @search_presenter.parent_section(parent)[:icon_class]
                ) %>
              <% end %>
              <%= parent.title %>
            </h3>
            <ul class="fr-list">
              <% pages.each do |page| %>
                <li>
                  <h5><%= link_to page.formatted_title, page.path(parent.slug) %></h5>
                  <%= page.formatted_excerpt %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if @search_presenter.posts.present? %>
            <h3 class="with-icon">
              <%= fr_icon 'quote' %>
              Office of the Federal Register Blog
            </h3>
            <ul class="fr-list">
              <% @search_presenter.posts.each do |post| %>
                <li>
                  <h5><%= link_to post.formatted_title, post.path %></h5>
                  <%= post.formatted_excerpt %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
