<% header_type 'reader-aids' %>
<% page_title "Reader Aids :: #{@presenter.title}" %>

<%= title title_bar_class: "reader-aids" do %>
  <%= fr_icon @presenter.icon_class %>
  <%= @presenter.title %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="reader-aids-section <%= @presenter.css_class %>">
    <div class="section">
      <%= fr_details_box FrBox.build(:reader_aid) do %>
        <% if @presenter.section_page.present? && @presenter.section_page.formatted_content.present? %>
          <div class="row">
            <div class="<%= bootstrap_col xs:12, md: 12 %>">
              <%= @presenter.section_page.formatted_content %>
            </div>
          </div>
        <% end %>

        <% if @presenter.grouped_items.flatten.present? %>
          <div class="row">
            <div class="<%= bootstrap_col xs:12, md: 12 %>">
              <h4 class="fr-list-header">Reader aid items in this section</h4>
            </div>

            <% @presenter.grouped_items.each do |group| %>
              <div class="<%= @presenter.css_columns %>">
                <ul class="fr-list">
                  <% group.each do |item| %>
                    <%= render partial: 'item', locals: {
                      item: item,
                      presenter: @presenter
                    } %>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="navigation">

      <% if @presenter.rss_subscription_available? %>
        <div class="doc-subscribe">
          <div class="row">
            <div class="<%= bootstrap_col xs: 12, md: 12 %>">
              <%= subscribe_box(
                {},
                {
                  custom_path: reader_aids_section_path(@presenter.section_identifier, format: "rss"),
                  class: "no-modal-action",
                  rss_only: true
                }
              ) %>
            </div>
          </div>
        </div>
      <% end %>

        <%= fr_details_box(
          FrBox.build(
            :reader_aid,
            title: 'Reader Aid Navigation',
            header: {hover: false}
          )
        ) do %>
          <h5><%= link_to "All Reader Aids Content", reader_aids_path %></h5>

        <ul class="fr-list with-bullets reader-aids">
          <% @presenter.sections.each do |section_identifier, section_data| %>
            <li>
              <%= link_to section_data[:title],
                reader_aids_section_path(section_identifier),
                class: "#{'active' if section_data[:title] == @presenter.title}" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
