<% header_type 'reader-aids' %>
<% page_title "Reader Aids :: #{@presenter.title}" %>

<%= title title_bar_class: "reader-aids" do %>
  <%= fr_icon 'Directions' %>
  Using FederalRegister.Gov
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="reader-aids-section">
    <div class="section">
      <%= fr_details_box FrBox.build(:reader_aid) do %>
        <div class="page_content">
          <h1>Table of Effective Dates &amp; Time Periods</h1>
            <p>This table is used by the Office of the Federal Register to compute certain dates, such as effective dates and comment deadlines, which appear in agency documents. In computing these dates, the day after publication is counted as the first day. When a date falls on a weekend or holiday, the next Federal business day is used. (See 1 CFR 18.17)</p>

            <p>A new table will be published in the first issue of each month. You can also view a <%= link_to 'text version', @auxillary_presenter.govinfo_table_html_url, rel: 'noopener', target: '_blank' %> or <%= link_to 'pdf version', @auxillary_presenter.govinfo_table_pdf_url, rel: 'noopener', target: '_blank' %> of this table on govinfo.gov.</p>

          <table class="table table-condensed table-hover effective-dates-table" >
            <thead>
              <tr>
                <th>Date of FR Publication</th>
                <% EffectiveDatesPresenter::DAY_DELAY_INTERVALS.each do |day_delay_interval| %>
                  <th class="text-center"><%= "#{day_delay_interval} Days After Publication" %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @auxillary_presenter.publication_dates.each do |publication_date| %>
                <tr>
                  <th><%= publication_date %></th>
                  <% publication_date.day_delay_intervals.each do |day_delay_interval| %>
                    <td class="cj-tooltip text-center" data-tooltip="<%= day_delay_interval.tooltip_text %>" data-tooltip-gravity="s">
                      <%= "#{day_delay_interval}#{'*' if day_delay_interval.delay?}" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <div class="navigation">
      <div class="<%=  %>">
        <%= fr_details_box(
          FrBox.build(
            :reader_aid,
            title: 'Reader Aid Navigation',
            header: {hover: false}
          )
        ) do %>
          <h5><%= link_to "All Reader Aids Content", reader_aids_path %></h5>

          <ul class="fr-list with-bullets reader-aids">
            <% @presenter.sections.each do |section_identifier, section_data| %>
              <li>
                <%= link_to section_data[:title],
                  reader_aids_section_path(section_identifier),
                  class: "#{'active' if section_data[:title] == @presenter.title}" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
