<table class="fr-table">
  <thead>
    <tr>
      <th></th>
      <th width="<%= header_count_width %>" class="past_7_days with-tooltip-s"
        data-tooltip="Related Documents Published in the Last 7 Days">
        <span class="icon-fr2 icon-fr2-Refresh-7"></span>
      </th>
      <th width="<%= header_count_width %>" class="closing_soon with-tooltip-s"
        data-tooltip="Related Documents with Comment Periods Closing in the Next 7 Days">
        <span class="icon-fr2 icon-fr2-Chat"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td class="item_name"><%= link_to item.name, item.url %></td>
        <td class="count_7_days">
          <%= link_to_unless item.document_count == 0,
              item.document_count,
              documents_search_path(
                item.document_count_search_conditions,
                :utm_source => utm_source,
                :utm_medium => utm_medium,
                :utm_content => "#{utm_content_type}_with_documents_last_7"
              ) %>
        </td>
        <td class="comments_closing_soon">
          <%= link_to_unless  item.comment_count == 0,
              item.comment_count,
              documents_search_path(
                item.comment_count_search_conditions,
                :utm_source => utm_source,
                :utm_medium => utm_medium,
                :utm_content => "#{utm_content_type}_with_comments_closing_soon"
              ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
