<% header_type 'public-inspection' %>

<div class="title public-inspection">
  <span>03/03/2014 Public Inspection</span>
</div>

<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper">
    <div class="container fixed">
      <%= render partial: 'public_inspection/metadata_summary_bar', locals: {documents: @documents} %>

      <div class="row">
        <div class="col-md-9 doc-content doc-toc">
          <%= render partial: 'public_inspection/info_box' %>
        </div>
        <div class="col-md-3">
          <%= render partial: 'public_inspection/subscribe' %>
          <%= render partial: 'public_inspection/calendar' %>
        </div>
      </div>

      <div class="row doc doc-public-inspection">
        <%= render partial: 'public_inspection/table_of_contents', locals: {documents: @documents} %>
        <%= render partial: 'public_inspection/table_of_contents_sidebar', locals: {documents: @documents} %>
      </div>

      <div class="clearfix" style="height: 100px;"></div>
    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
