<div class="agency-header">
  <div class="row">
    <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
      <h1>
        <%= "#{presenter.year} #{presenter.president.full_name} #{presenter.presidential_document_type.name.pluralize}" %>

        <span class="header-link">
          <%= link_to 'view all Presidential Documents',
            all_presidential_documents_path %>
        </span>
      </h1>
    </div>
  </div>
</div>


<div class="page-summary reader-aid">
  <div class="row">
    <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
      <p>
        In <%= presenter.year %>, <%= presenter.president.full_name %>
        published
        <%= pluralize(presenter.presidential_documents_collection.count, presenter.presidential_document_type.name.downcase.singularize) %>

        <% if presenter.type == 'executive_orders' %>
          (from EO <%= presenter.presidential_documents_collection.minimum_eo_number %>
          through EO <%= presenter.presidential_documents_collection.maximum_eo_number %>).
        <% elsif presenter.type == 'other_presidential_documents' %>
          (this total includes only documents submitted to the OFR by the White House Office of the Executive Clerk).
        <% else %>
        .
        <% end %>
      </p>

      <p>
        These <%= pluralize(presenter.presidential_documents_collection.count, presenter.presidential_document_type.name.downcase.singularize) %>
        can be downloaded in
        <%= presenter.link_to_presidential_documents_for_format(:csv) %>
        and
        <%= presenter.link_to_presidential_documents_for_format(:json) %>
        formats.
        More information about our APIs and other developer tools can be found on our
        <%= link_to 'developer pages',
          reader_aids_section_path('developer-resources') %>.
      </p>
    </div>
  </div>
</div>
