<%= fr_content_box(
  FrBox.build(
    presenter.fr_content_box_type,
    title: presenter.fr_content_box_title,
    description: presenter.description.html_safe
  )
) do %>

  <% presenter.presidential_documents_collection.presidential_documents.each do |presidential_document| %>
    <div class="row presidential-document-wrapper">
      <% if presenter.type == 'executive_orders' %>
        <div class="<%= bootstrap_col xs: 12, md: 2 %> eo-number">
          <h5>
            EO <%= presidential_document.executive_order_number %>:
          </h5>
        </div>
      <% elsif presenter.type == 'proclamations' %>
        <div class="<%= bootstrap_col xs: 12, md: 2 %> proc-number">
          <% if presidential_document.proclamation_number %>
            <h5>
              Proc. <%= presidential_document.proclamation_number %>:
            </h5>
          <% end %>
        </div>
      <% end %>

      <%= render partial: 'shared/disposition_table_entry',
            locals: {
              presidential_document: presidential_document,
              presenter: presenter
            } %>

    </div>
  <% end %>
<% end %>
