<% header_type 'reader-aids' %>
<% page_title @presenter.name %>
<% description truncate_words(
    strip_tags(@presenter.description),
    :length => 300
  ) %>


<% title title_bar_class: "reader-aids" do %>
  <%= fr_icon 'stars' %>
  <%= @presenter.name %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row executive-orders">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">

      <div class="row">
        <div class="<%= bootstrap_col xs: 12, md: 12 %>">
          <%= render partial: 'disposition_table_header', locals: {
            presenter: @presenter
          } %>
        </div>
      </div>

      <div class="row">
        <div class="<%= bootstrap_col xs: 9, md: 9 %>">
          <%= render partial: 'disposition_table_presidential_documents', locals: {
            presenter: @presenter
          } %>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %> navigation">
          <%= render partial: 'disposition_tables_navigation', locals: {
            presenter: @presenter
          } %>
        </div>
      </div>

    </div>
  </div>
<% end %>
