<% header_type 'reader-aids' %>
<% page_title 'Presdential Documents' %>
<% description truncate_words(
    strip_tags(@presenter.description),
    :length => 300
  ) %>

<% title title_bar_class: "reader-aids" do %>
  <%= fr_icon 'stars' %>
  <%= @presenter.name %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row presidential-documents">
    <div class="<%= bootstrap_col(xs: 12, md:12) %>">

      <div class="agency-header">
        <div class="row">
          <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
            <h1><%= @presenter.name %></h1>
          </div>
        </div>
      </div>

      <%= fr_content_box(
        FrBox.build(
          @presenter.fr_content_box_type,
          title: @presenter.fr_content_box_title,
          description: @presenter.description
        )
      ) do %>
        <% @presenter.subtypes.each do |doc_type| %>
          <div class="row document-type">
            <div class='<%= bootstrap_col(xs: 12, md: 12) %>'>
              <h3>
                <%= link_to doc_type.name.pluralize,
                  presidential_documents_path(doc_type.slug) %>

                <%= link_to "view",
                  presidential_documents_path(doc_type.slug),
                  class: 'more-details' %>
              </h3>

              <%= auto_link(simple_format(
                @presenter.description_for(doc_type)
              )) %>

              <ul class="fr-list fr-list-inline">
                <% @presenter.counts_for(doc_type.type).each do |president, count| %>
                  <li>
                    <%= president.full_name %>
                    <span class="count-pill reader-aid cj-tooltip"
                      data-tooltip="<%= pluralize(count, doc_type.name.downcase) %> (<%= president.in_office %>)"
                      data-tooltip-gravity="w">
                      <%= count %>
                    </span
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
