<div class='toc-documents'>
  <% if subject %>
    <h7>
      <%= link_to_if documents.size == 1,
        subject, documents.first.html_url %>
    </h7>
  <% end %>

  <% documents.each do |document| %>
    <% if document.is_a?(String) %>
      <%# render the content if we couldn't find the document %>
      <div class="row toc-document-metadata">
        <dl class="col-xs-12 col-md-5">
          <dt>FR Document:</dt>
          <dd><%= document %></dd>
        </dl>
      </div>
    <% else %>
      <div class="row toc-document-metadata">
        <dl class="col-xs-12 col-md-5">
          <dt>FR Document:</dt>
          <dd>
            <%= link_to document.document_number, document.html_url,
              class: "cj-fancy-tooltip",
              data: {tooltip: document.title} %>
          </dd>

          <% if document.citation_available? %>
            <dt>Citation:</dt>
            <dd><%= document.citation %></dd>
          <% end %>
        </dl>

        <dl class="col-xs-12 col-md-7">
          <% if document.pdf_available? %>
            <dt class="toc-pdf">
              <%= link_to document.pdf_url do %>
                <%= fr_icon 'doc-pdf' %> PDF
              <% end %>
            </dt>
            <dd>
              <%= "Page".pluralize(document.pages) %> <%= document.page_range %>
              <em>(<%= pluralize(document.pages, "page") %>)</em>
            </dd>
          <% end %>

          <dt class="permalink">
            <%= link_to short_document_url(document) do %>
              <%= fr_icon 'link' %> Permalink
            <% end %>
          </dt>
          <dd></dd>
        </dl>
      </div>
    <% end %>
  <% end %>
</div>
