<% page_title @doc_presenter.meta_page_title %>
<% description  @doc_presenter.meta_description %>

<% @doc_presenter.feed_urls.each do |feed| %>
  <%= feed_autodiscovery(
    feed.url,
    feed.description,
    search_conditions: feed.search_conditions
  ) %>
<% end %>

<%= title do %>
  <%= fr_icon 'documents' %>
  <%= @presenter.date %> Issue
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <%= render partial: 'document_issues/summary', locals: {
        home: false,
        presenter: @doc_presenter
      } %>
    </div>
  </div>

  <div class="row">
    <div class="<%= bootstrap_col xs: 9, md: 9 %> doc-toc">
      <% if @presenter.editorial_note_title %>
        <%= render partial: 'editorial_note_box',
              locals: {
                editorial_note_title: @presenter.editorial_note_title,
                editorial_note_text: @presenter.editorial_note_text,
              } %>
      <% end %>

      <%= fr_content_box(
        FrBox.build(@presenter.fr_content_box_type)
      ) do %>
        <% if FrBox.build(@presenter.fr_content_box_type).background_seal? %>
          <span class="icon-fr2 icon-fr2-NARA1985Seal doc-background"></span>
        <% end %>

        <div class="doc doc-document-issue">
          <%= render partial: 'issues/table_of_contents', locals: {
            agencies: @presenter.agencies,
            document_partial: @presenter.document_partial
          } %>
        </div>
      <% end %>
    </div>

    <div class="<%= bootstrap_col xs: 3, md: 3 %>">
      <div class="doc-subscribe">
        <% if DocumentIssue.pdf_download_available?(@presenter.date) %>
          <div class="download-wrapper <%= @presenter.official_documents? ? 'official' : '' %>">
            <%= link_to issue_pdf_url(@presenter.date) do %>
              <%= fr_icon('doc-pdf') %> Download Issue PDF
            <% end %>
          </div>
        <% end %>

        <div class="row">
          <div class="<%= bootstrap_col xs: 12, md: 12 %>">
            <%= subscribe_box %>
          </div>
        </div>

        <div class="row">
          <div class="<%= bootstrap_col xs: 12, md: 12 %> calendar-wrapper">
            <%#= document_calendar_esi_for(
              @presenter.date,
              current_date: @presenter.date.to_s(:iso)
            ) %>
          </div>
        </div>
      </div>

      <div class="doc-toc-nav">
        <%= fr_details_box(
          FrBox.build(
            @presenter.fr_details_box_type,
            title: "Documents by Agency"
          )
        ) do %>
          <%= render partial: 'issues/toc_agency_nav', locals: {
              type: 'doc',
              date: @presenter.date,
              agencies: @presenter.agencies
            } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clearfix" style="height: 100px;"></div>
<% end %>
