<% page_title "Federal Register Document Issue #{@presenter.date}" %>

<%= title do %>
  <%= fr_icon 'documents' %>
  <%= @presenter.date %> Issue
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= esi issue_summary_path(date: @presenter.date.to_s(:iso)) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9 col-md-9 doc-toc">
      <%= fr_content_box(
        FrBox.build(@presenter.fr_content_box_type)
      ) do %>
        <% if FrBox.build(@presenter.fr_content_box_type).background_seal? %>
          <span class="icon-fr2 icon-fr2-NARA1985Seal doc-background"></span>
        <% end %>

        <div class="doc doc-document-issue">
          <%= render partial: 'issues/table_of_contents', locals: {
            agencies: @presenter.agencies,
            document_partial: @presenter.document_partial
          } %>
        </div>
      <% end %>
    </div>

    <div class="col-xs-3 col-md-3">
      <div class="doc-subscribe">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <%= subscribe_box %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <%= esi document_issues_by_month_path(
              @presenter.date.strftime('%Y'),
              @presenter.date.strftime('%m'),
              current_date: @presenter.date.to_s(:iso)
            ) %>
          </div>
        </div>
      </div>

      <div class="doc-toc-nav">
        <%= fr_details_box(
          FrBox.build(
            @presenter.fr_details_box_type,
            title: "Documents by Agency"
          )
        ) do %>
          <%= render partial: 'issues/toc_agency_nav', locals: {
              type: 'doc',
              date: @presenter.date,
              agencies: @presenter.agencies
            } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clearfix" style="height: 100px;"></div>
<% end %>
