<div class="toc-documents">
  <% if subject %>
    <h7>
      <%= link_to_if documents.size == 1,
        subject, documents.first.html_url %>
    </h7>
  <% end %>

  <table class="row">
    <% documents.each do |document| %>
      <% if document.is_a?(String) %>
        <%# render the content if we couldn't find the document %>
        <tr class="toc-document-metadata">
          <td>
            <strong>FR Document:</strong> <%= document %>
          </td>
        </tr>
      <% else %>
        <tr class="toc-document-metadata">
          <td>
            <strong>Filed on:</strong> <%= document.filed_at %>
            <br>
            <strong>Scheduled Pub. Date:</strong> <%= document.publication_date %>
            <br>
            <strong>FR Document:</strong>
            <%= link_to document.document_number, short_document_url(document) %>

            <% if document.docket_numbers.present? %>
              <br>
              <strong><%= "Agency Docket".pluralize(document.docket_numbers) %>:</strong>
              <%= document.docket_numbers.join(",") %>
            <% end %>
          </td>

          <td>
            <strong class="toc-pdf">
              <%= link_to 'PDF', document.pdf_url %>
            </strong>

            <%= pluralize document.num_pages, "Page" %>
            <em>(<%= number_to_human_size document.pdf_file_size %>)</em>

            <br>

            <strong class="permalink">
              <%= link_to 'Permalink', short_document_url(document) %>
            </strong>
          </td>
        </tr>

        <% if document.editorial_note %>
          <tr class="toc-editorial-note">
            <td colspan=2>
              <p>
                <strong>Editorial Note:</strong> <%= document.editorial_note %>
              </p>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
