<% header_type 'public-inspection' %>
<% page_title "Public Inspection: #{@document.title}" %>
<% description truncate_words(
    strip_tags(@document.abstract),
    :length => 300
  ) %>

<%= title title_bar_class: "public-inspection" do %>
  <%= fr_icon @document.document_type.identifier %>
  Public Inspection :: <%= @document.type %>
<% end %>

<%= render partial: 'public_inspection_documents/metadata_content_area', locals: {document: @document} %>

<%= bootstrap_context_wrapper do %>
    <div class="doc doc-public-inspection">
      <%= render partial: 'public_inspection_documents/page_content', locals: {document: @document} %>
    </div>

    <div class="clearfix" style="height: 100px;"></div>
<% end %>
