<div id="home-carousel-content-<%= section_name %>" class="nav-content <%= 'selected' if section_name == :environment %>">
  <div class="row">

    <div class="col-xs-7 col-md-7 carousel-wrapper">
      <div class="carousel-item">
        <div>
          <img src="<%= highlight_image %>">
        </div>

        <ol class="carousel-indicators">
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>

        <div class="clearfix"></div>

        <p><%= highlight_description %></p>
      </div>
    </div>

    <div class="col-xs-5 col-md-5 section carousel-list">
      <h4 class="with-icon lowercase">
        <span class="icon-fr2 icon-fr2-<%= icon_class %>"></span>
        Suggested Searches
        <a href="" class="more-details">view all</a>
      </h4>

      <ul class="fr-list with-stats">
        <% canned_searches.each do |search| %>
          <li>
            <a href=""><%= search[0] %></a>
            <ul>
              <li><%= pluralize(search[1], 'document') %> in the last year</li>
              <li>
                <i class="icon-fr2-Chat"></i>
                <%= search[2] %> open for comment
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
