<!-- issue document metadata -->
<div class="row">
  <div class="fr-head-metadata-bar fr-head-metadata-bar-official">
    <div class="col-xs-3 col-md-3 fr-head-meta-label-holder">
      <div class="fr-head-meta-label">
        <i class="icon-fr2-calendar-alt"></i>
        <h4> <%= link_to "Current Issue", documents_search_path(:conditions => {
               :publication_date => {:is => Date.current}
             }) %> </h4>
      </div>
    </div>
    <div class="col-xs-9 col-md-9 fr-head-meta-counts">
      <ul class="inline-list">

          <% if @doc_presenter.any_document_counts?%>
            <% @doc_presenter.document_counts.each do |doc_type| %>
            <li>
              <%= link_to "#{doc_type.count} #{doc_type.name.pluralize(doc_type.count)}", documents_search_path(doc_type.search_conditions) %>
            </li>
            <% end %>
          <% else %>
            <li> No documents published today</li>
          <% end %>

          <li>
            <%= link_to_unless @doc_presenter.significant_documents.count == 0,
              "#{@doc_presenter.significant_documents.count.to_s} #{'Significant Document'.
                pluralize(@doc_presenter.significant_documents.count)}",
              documents_search_path(@doc_presenter.significant_documents.search_conditions) %>
          </li>

        <li><strong>?</strong> Pages</li>
        <li class="right">
          <a href=""
            class="link public-inspection-toggle toggle"
            data-toggle-target="#pi-metadata-bar"
            data-toggle-trigger="click">
            <i class="icon-fr2 icon-fr2-clipboard public-inspection"></i>
            <span class="link-text">View Public Inspection</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- issue public inspection metadata -->
<div id="pi-metadata-bar" class="row">
  <div class="fr-head-metadata-bar fr-head-metadata-bar-public-inspection">
    <div class="col-xs-3 col-md-3 fr-head-meta-label-holder">
      <div class="fr-head-meta-label">
        <i class="icon-fr2-clipboard"></i>
        <h4><%= link_to "Public Inspection", home_reader_aids_path %></h4>
      </div>

      <span class="icon-fr2 icon-fr2-stop-hand"></span>
    </div>
    <div class="col-xs-9 col-md-9 fr-head-meta-counts">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="description">
            <p>
              The <a href="">Public Inspection page</a> on FederalRegister.gov offers a
              preview of documents scheduled to appear in the next day's
              Federal Register issue. The Public Inspection page may also
              include documents scheduled for later issues, at the request
              of the issuing agency.
            </p>
            <p>
              <%= link_to "Learn more about public inspection here.", reader_aids_using_fr_path %>
            </p>
          </div>
        </div>

        <div class="col-xs-6 col-md-6">
          <ul class="fr-list with-stats">

            <% @pi_presenter.all_filings.each do |filing_type| %>
              <li>
                <h5><%= filing_type.name %></h5>
                <span>updated on <%= "#{filing_type.formatted_updated_at} TBD"  %></span>
                <div class="public-inspection-list-stats">
                  <%= link_to_unless filing_type.total_count==0, "#{filing_type.total_count} #{'documents'.pluralize(filing_type.total_count) }", documents_search_path(filing_type.total_count_search_conditions)  %> from TBD agencies
                  <div>
                    <% filing_type.counts_by_identifier.each do |doc_type| %>
                        <%= link_to documents_search_path(doc_type.search_conditions) do %>
                          <%= document_type_icon_with_count(doc_type.slug, doc_type.count) %>
                          <%= doc_type.count %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>

          </ul>
        </div>
      </div>

    </div>

    <div class="clearfix"></div>
  </div>
</div>

