<% page_title "Home - #{DocumentIssue.current.publication_date.to_s(:formal_no_year)}" %>
<% add_javascript src: 'page_specific/homepage' %>

<% title do %>
  <%= DocumentIssue.current.publication_date.to_s(:formal_no_year) %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="homepage-grid">
    <% if DocumentIssue.current_issue_is_late? %>
      <%= esi late_issue_summary_path %>
    <% else %>
      <%= esi issue_summary_path(path: 'home') %>
    <% end %>
    <%= render partial: 'special/home/embedded_search' %>
    <% if false # For now, don't display carousel nav until OFR confirms we want to retain it %>
      <%= esi home_sections_path %>
    <% end %>
    <%= esi home_reader_aids_path %>
    <%= esi home_popular_documents_path %>
    <%= esi home_presidential_documents_path %>
    <%= esi home_explore_agencies_path %>
    <%= esi home_explore_topics_path %>
  </div>
<% end %>
