<div class="title">
  <span><%= Date.today.to_s(:formal_no_year) %></span>
</div>
<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper">
    <div class="container fixed">
      <%= render partial: 'special/home/metadata_bar' %>
      <%= render partial: 'special/home/embedded_search' %>
      <%= render partial: 'special/home/carousel' %>

      <div class="row">
        <%= render partial: 'special/home/popular_documents' %>
        <%= render partial: 'special/home/presidential_documents' %>
      </div>

      <%#= esi home_reader_aids_path %>
      <%= esi homepage_reader_aids_path %> 

      <div class="row">
        <%= render partial: 'special/home/browse_agencies' %>
        <%= render partial: 'special/home/browse_topics' %>
      </div>
    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
 