<% page_title "Home - #{DocumentIssue.current.publication_date.to_s(:formal_no_year)}" %>
<% add_javascript src: 'page_specific/homepage' %>
<% content_for :page_specific_css do %>
  <%= stylesheet_link_tag asset_path('layout/_home_page.css'), media: "all" %>
<% end %>

<% title do %>
  <%= DocumentIssue.current.publication_date.to_s(:formal_no_year) %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="homepage-grid">
    <% if DocumentIssue.current_issue_is_late? %>
      <%= esi late_issue_summary_path %>
    <% else %>
      <%= esi issue_summary_path(path: 'home') %>
    <% end %>
    <%= render partial: 'special/home/embedded_search' %>
    <% if false # For now, don't display carousel nav until OFR confirms we want to retain it %>
      <%= esi home_sections_path %>
    <% end %>
    <%= esi home_reader_aids_path %>
    <div id="popular-and-presdoc-container">
      <%= esi home_popular_documents_path %>
      <%= esi home_presidential_documents_path %>
    </div>
    <%= esi home_explore_agencies_path %>
    <%= esi home_explore_topics_path %>
  </div>
<% end %>
