<% title do %>
  <%= DocumentIssue.current.publication_date.to_s(:formal_no_year) %>
<% end %>

<%= bootstrap_context_wrapper do %>

  <%= esi issue_summary_path(path: 'home') %>
  <%= render partial: 'special/home/embedded_search' %>
  <%= esi home_sections_path %>

  <div class="row">
    <%= render partial: 'special/home/popular_documents' %>
    <%= esi home_presidential_documents_path %>
  </div>

  <%= esi home_reader_aids_path %>

  <div class="row">
    <%= esi home_explore_agencies_path %>
    <%= esi home_explore_topics_path %>
  </div>

<% end %>
