<div class="title">
  <span><%= Date.today.to_s(:formal_no_year) %></span>
</div>
<!-- BOOTSTRAP SCOPE START -->
<div class="bootstrap-scope">
<!-- BOOTSTRAP SCOPE START -->

  <div class="wrapper">
    <div class="container fixed">
      <%= esi current_issue_path %>
      <%= render partial: 'special/home/embedded_search' %>
      <%= render partial: 'special/home/carousel' %>

      <div class="row">
        <%= render partial: 'special/home/popular_documents' %>
        <%= esi home_presidential_documents_path %>
      </div>
      <%= esi home_reader_aids_path %>

      <div class="row">
        <%= esi home_explore_agencies_path %>
        <%= esi home_explore_topics_path %>
      </div>
    </div>
  </div>

<!-- BOOTSTRAP SCOPE END -->
</div>
<!-- BOOTSTRAP SCOPE END -->
