<% page_title "Home - #{DocumentIssue.current.publication_date.to_s(:formal_no_year)}" %>

<% content_for :page_specific_css do %>
  <%= stylesheet_link_tag asset_path('layout/_home_page.css'), media: "all" %>
<% end %>

<% title do %>
  <%= DocumentIssue.current.publication_date.to_s(:formal_no_year) %>
<% end %>

<%= bootstrap_context_wrapper do %>
  <div class="homepage-grid">
    <%= render partial: "issues/summary", locals: {
      presenter: IssueSummaryPresenter.new(location: "home")
    } %>

    <%= render partial: 'special/home/embedded_search' %>

    <div id="popular-and-presdoc-container">
      <%= render partial: 'special/home/popular_documents', locals: {
        presenter: PopularDocumentsPresenter.new
      } %>

      <%= render partial: 'presidential_documents/homepage', locals: {
        presenter: PresidentialDocumentsHomepagePresenter.new
      } %>
    </div>

    <%= render partial: "reader_aids/homepage", locals: {
      presenter: ReaderAidsPresenter::HomepagePresenter.new
    } %>
  </div>
<% end %>
