<li id='nav-hamburger' class="nav-hamburger">
  <%= link_to("#", class: "home mobile-only", 'aria-label' => 'Toggle Navigation Menu') do %>
    <%= svg_icon('hamburger') %>
  <% end %>
</li>

<li id="non-essential-nav">
  <ul>
  <li id='nav-home' class="nav-home">
    <%= link_to(root_path, class: "home", 'aria-label' => 'Home') do %>
      <%= fr_icon('home') %>
    <% end %>
  </li>
  <li>
    <%= link_to(root_path, class: "mobile-only top_nav", 'aria-label' => 'Home') do %>
      <%= fr_icon('home') %>
      Home
    <% end %>
  </li>

  <%= render partial: 'sections/navigation', locals: {
    presenters: Section.all.map do |section|
      SectionPagePresenter.new(section, DocumentIssue.current.publication_date)
    end
  } %>

  <%= render partial: 'special/navigation/browse' %>

  <%= render partial: 'special/navigation/search' %>

  <%= render partial: 'reader_aids/navigation', locals: {
    reader_aids_sections: ReaderAidsPresenter::Base.new.sections
  } %>
