<li class="dropdown previewable nav_sections">
  <a class="sections top_nav">Sections<span class="arrow"></span></a>
  <div class="subnav">
    <ul class="left_column">
      <% @sections.each do |section_slug, section| %>
        <li id='<%= section_slug %>'><%= link_to section[:title], "#", :class => section_slug %></li>
      <% end %>
    </ul>
    <ul class="right_column">
      <esi:include src="/esi/layouts/navigation/sections" />
    </ul>
  </div>
</li>

<li class="dropdown nav_reader_aids">
  <a class="top_nav">
    <span class="icon-fr2 icon-fr2-Directions"></span>
    Reader Aids
    <span class="arrow"></span>
  </a>

  <ul class="subnav myfr2_list">
    <% @reader_aids_sections.each do |section_slug, section_content| %>
      <li><%= link_to section_content[:title], reader_aids_section_path(section_slug) %></li>
    <% end %>
  </ul>
</li>

<li class="dropdown nav_myfr2">
  <a class="myfr2 top_nav">
    <span class="icon-fr2 icon-fr2-nav_male_female_user"></span>
    My FR
    <span class="arrow"></span>
  </a>

  <ul class="subnav myfr2_list">
    <li id='myfr2-clipboard'>
      <%= link_to 'My Clipboard', '/my/clippings', :class => "myfr2-clipboard" %>
    </li>

    <li id='myfr2-comments'>
      <%= link_to 'My Comments', '/my/comments', :class => "myfr2-comments" %>
    </li>

    <li id='myfr2-subscriptions'>
      <%= link_to 'My Subscriptions', '/my/subscriptions', :class => "myfr2-subscriptions" %>
    </li>

    <li id='myfr2-account'>
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_session_path, :class => "myfr2-auth"  %>
      <% else %>
        <%= link_to 'Sign In / Sign Up', new_session_path, :class => "myfr2-auth" %>
      <% end %>
    </li>
  </ul>
</li>
