<div id="user_utils">
  <div id="document-count-holder">
    <%= link_to @clippings.size, clippings_path(), :id => 'document-count', :class => "count_with_icon #{user_signed_in? ? '' : 'alert'}" if @document_numbers %>
    <%= link_to "#{@folders.count} (#{@folders.map{|f| f.clippings.count}.inject(:+) || 0})", '#', :id => 'document-in-folders-count', :class => "count_with_icon" if user_signed_in? %>
  </div>
  <ul id="user-nav">
  <% if user_signed_in? %>
    <li>Hi, <%= current_user.display_name %></li>
    <li><%= link_to "Sign out", destroy_user_session_path %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path, :id => "sign-in" %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
  </ul>
</div>

<script type="text/javascript">
  var stored_document_numbers = <%= @document_numbers ? @document_numbers.to_json.html_safe : '{}' %>;
  <% if user_signed_in? %>
    <% folder_details = FolderDecorator.for_javascript %>
    var user_folder_details = <%= folder_details.present? ? folder_details.to_json.html_safe : '{}' %>;
  <% end %>
</script>
