<div id="user_utils">
  <div class="ie_shim">
    <div id="document-count-holder">
      <%= link_to clippings_path(), :id => 'document-count', :class => "count_with_icon #{user_signed_in? ? '' : 'alert'}" do
            [ content_tag(:span, @clipboard_clippings.size, :id => "doc_count"),
              content_tag(:span, "", :class => "icon-fr2 icon-fr2-flag")
            ].join("\n").html_safe
          end %>
      <% if user_signed_in? %>
        <%= csrf_meta_tags %>
        <%= link_to clippings_path(), :id => "document-in-folders-count", :class => "count_with_icon" do
              [ content_tag(:span, @folders.count, :id => "user_folder_count"),
                "(#{content_tag(:span, @folders.map{|f| f.clippings.count}.inject(:+) || 0, :id => "user_documents_in_folders_count")})",
                content_tag(:span, "", :class => "icon-fr2 icon-fr2-folder")
              ].join("\n").html_safe
            end %>
      <% end %>
    </div>
    <ul id="user-nav">
    <% if user_signed_in? %>
      <li>Hi, <%= current_user.display_name %></li>
      <li><%= link_to "Sign out", sign_out_path %></li>
    <% else %>
      <li>
      <%= link_to "Sign in", sign_in_url, :id => "sign-in" %></li>
      <li><%= link_to "Sign up", sign_in_url %></li>
    <% end %>
    </ul>
  </div> <!-- end ie_shim -->
</div>

<script type="text/javascript" nonce="<%= content_security_policy_nonce %>">
  <% folder_details = folder_details_for_javascript(@folders) %>

  var stored_document_numbers = <%= @clipboard_clippings ? document_numbers_for_javascript(@clipboard_clippings).to_json.html_safe : '[]' %>
  var user_folder_details = <%= folder_details.to_json.html_safe %>

  FR2.currentUserStorage.set('userFolderDetails', <%= folder_details.to_json.html_safe %>)
  FR2.currentUserStorage.set('userEmailAddress', '<%= user_signed_in? ? current_user.email : nil %>')
</script>

<%= add_handlebars_template('account_needed_modal', 'account-needed-modal') %>
<%= add_handlebars_template('new_folder_modal', 'new-folder-modal') %>
<%= add_handlebars_template('add_to_folder_menu_fr2', 'add-to-folder-menu-fr2') %>
<%= add_handlebars_template('add_to_folder_menu_li_fr2', 'add-to-folder-menu-li-fr2') %>
