<% if @suggestions_presenter.results? %>
  <div class="results">
    <table class="suggestions" data-autocomplete-target="results" data-suggestions-target="results">
      <% if @suggestions_presenter.search_results? %>
        <tbody>
        <tr class="kind"><td>full text search results</td></tr>
        <% @suggestions_presenter.narrowed_search_results.each do |narrowed_search_result| %>
          <tr class="suggestion full-text-suggestion" role="option" data-autocomplete-value="<%= @suggestions_presenter.narrowed_search_path(narrowed_search_result) %>" data-autocomplete-label="" data-kind="full text search">
            <td class="highlight">
              <%= @suggestions_presenter.narrowed_search_description(narrowed_search_result).html_safe %>
            </td>
            <td class="desktop-only">
              <%= fr_icon(narrowed_search_result.icon_name) %>
              <%# <span class="icon-ecfr icon-ecfr-search"></span> %>
            </td>
          </tr>
        <% end %>
        <% if @suggestions_presenter.global_search_results %>
          <tr class="suggestion full-text-suggestion" role="option" data-autocomplete-value="<%= @suggestions_presenter.global_search_path %>" data-autocomplete-label="" data-kind="full text search">
            <td class="highlight">
              <%= @suggestions_presenter.global_search_description %>
            </td>
            <td class="desktop-only">
              <%= fr_icon("Search")%>
              <%# <span class="icon-ecfr icon-ecfr-search"></span> %>
            </td>
          </tr>
          </tbody>
        <% end %>
      <% end %>

      <% overflow_toggle_shown = false %>
      <tbody>
      <% @suggestions_presenter.results&.each_with_index do |suggestion, index| %>
        <% if index == 0 %>
          <tr class="kind"><td>suggestions</td></tr>
        <% end %>

        <tr class="<%= suggestion.row_classes %> citations-and-headings"
          role="option"
          data-autocomplete-value="<%= suggestion.prefer_content_path %>"
          data-toc="<%= suggestion.toc_suffix %>"
          data-autocomplete-label=""
          data-kind="citations and headings">

          <td class="citation desktop-only">
            <% if suggestion.removed %>
              <span data-toggle="tooltip" data-placement="left" data-title="<%= suggestion.removed_description %>">
            <% end %>

            <%= suggestion.highlighted_citation %>
            <% if suggestion.page_range.present? %>
              <div class="page-range">
                <%= "pp. #{suggestion.page_range}" %>
              </div>
            <% end %>

            <% if suggestion.removed %>
              </span>
            <% end %>
          </td>

          <td class="highlight">
            <div class="mobile-only citation">
              <%= suggestion.highlighted_citation %>
              <% if suggestion.page_range.present? %>
                <span class="page-range">
                  <%= "pp. #{suggestion.page_range}" %>
                </span>
              <% end %>
            </div>
            <% if suggestion.usable_highlight.present? %>
              <% if suggestion.removed %>
                <span data-toggle="tooltip" data-placement="left"
                  data-title="<%= suggestion.removed_description %>">
              <% end %>

              <%= suggestion.usable_highlight.html_safe %>

              <% if suggestion.removed %>
                </span>
              <% end %>
            <% end %>
          </td>

          <td class="desktop-only">
            <span class="<%= suggestion.fr_icon_class %>"></span>
            <%# <span class="icon-ecfr icon-ecfr-book"></span> %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="results">
    <div class="suggestions none" data-autocomplete-target="results"
      data-suggestions-target="results">

      <p><strong>No results found</strong></p>
      <p>Sorry, nothing found at the moment.</p>
    </div>
  </div>
<% end %>
