<% if @suggestions_presenter.results? %>
  <div class="results">
    <table class="suggestions" data-autocomplete-target="results" data-suggestions-target="results">
      <% if @suggestions_presenter.search_results? %>
        <tr class="kind full-text"><td colspan="4">full text search results</td></tr>
        <% @suggestions_presenter.narrowed_search_results.each do |narrowed_search_result| %>
          <tr class="suggestion" role="option" data-autocomplete-value="<%= @suggestions_presenter.narrowed_search_path(narrowed_search_result) %>" data-autocomplete-label="" data-kind="full text search">
            <td class="highlight" colspan="3">
              <%= @suggestions_presenter.narrowed_search_description(narrowed_search_result).html_safe %>
            </td>
            <td>
              <%= fr_icon(narrowed_search_result.icon_name) %>
              <%# <span class="icon-ecfr icon-ecfr-search"></span> %>
            </td>
          </tr>
        <% end %>
        <% if @suggestions_presenter.global_search_results %>
          <tr class="suggestion" role="option" data-autocomplete-value="<%= @suggestions_presenter.global_search_path %>" data-autocomplete-label="" data-kind="full text search">
            <td class="highlight" colspan="3">
              <%= @suggestions_presenter.global_search_description %>
            </td>
            <td>
              <%= fr_icon("Search")%>
              <%# <span class="icon-ecfr icon-ecfr-search"></span> %>
            </td>
          </tr>
        <% end %>
      <% end %>

      <% overflow_toggle_shown = false %>
      <% @suggestions_presenter.results&.each_with_index do |suggestion, index| %>
        <% if index == 0 %>
          <tr class="kind"><td colspan="4">suggestions</td></tr>
        <% end %>

        <tr class="<%= suggestion.row_classes %>"
          role="option"
          data-autocomplete-value="<%= suggestion.prefer_content_path %>"
          data-toc="<%= suggestion.toc_suffix %>"
          data-autocomplete-label=""
          data-kind="citations and headings">

          <td class="citation">
            <% if suggestion.removed %>
              <span data-toggle="tooltip" data-placement="left" data-title="<%= suggestion.removed_description %>">
            <% end %>

            <%= suggestion.highlighted_citation %>

            <% if suggestion.removed %>
              </span>
            <% end %>
          </td>

          <td class="highlight" colspan="<%= suggestion.highlight_colspan %>">
            <% if suggestion.usable_highlight.present? %>
              <% if suggestion.removed %>
                <span data-toggle="tooltip" data-placement="left"
                  data-title="<%= suggestion.removed_description %>">
              <% end %>

              <%= suggestion.usable_highlight.html_safe %>

              <% if suggestion.removed %>
                </span>
              <% end %>
            <% end %>
          </td>

          <% if false#suggestion.display_toc_link? %>
            <td class="toc">
              <a href="<%= suggestion.table_of_contents_path %>"
                data-toggle="tooltip" data-placement="left"
                data-title="View Table of Contents"
                data-action="click->suggestions#toc">
                <span class="icon-ecfr icon-ecfr-directions"></span>
                ToC
              </a>
            </td>
          <% end %>

          <td>
            <span class="<%= suggestion.fr_icon_class %>"></span>
            <%# <span class="icon-ecfr icon-ecfr-book"></span> %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <div class="results">
    <div class="suggestions none" data-autocomplete-target="results"
      data-suggestions-target="results">

      <p><strong>No results found</strong></p>
      <p>Sorry, nothing found at the moment.</p>
    </div>
  </div>
<% end %>
