<%= content_nav_item(type: :public_inspection,
  icon: 'doc-pi-pdf',
  label: t('documents.utility_nav.public_inspection.nav_label'),
  options: {tooltip: true},
  wrapper_options: {id: 'utility-nav-public-inspection'},
) do %>
  <% fr_utility_nav_box(
    FrBox.build(
      :public_inspection,
      title: "#{t('documents.utility_nav.public_inspection.nav_label')}"
    )
  ) do %>
    <div class="content">
      <% pdf_url = document.public_inspection_document? ? document.pdf_url : document.public_inspection_pdf_url %>
      <p>
        This <%= link_to 'PDF', pdf_url %> is the current document as it
        appeared on Public Inspection on
        <%= document.public_inspection_document.filed_at %>.
      </p>

      <% if !document.public_inspection_document? && document.public_inspection_document.page_views %>
        <p>
          It was viewed
          <%= document.public_inspection_document.page_views[:count] %>
          times while on Public Inspection.
        </p>
      <% end %>

      <p class="warning">
        <%= utility_nav_warning_text %>
      </p>
    </div>
  <% end %>
<% end %>
