<div class="bootstrap-scope">
  <div class="row">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <p class="instructions">
        You are now leaving FederalRegister.gov and will be accessing:
      </p>

      <div class="external-link">{{url}}</div>

      <%= form_tag "/", method: 'get' do %>
        <%= label_tag 'accept', 'Do not show this warning again' %>
        <%= check_box_tag 'accept' %>
        <%= submit_tag "Continue", :class =>"fr_button primary large" %>
      <% end %>
    </div>
  </div>
</div>
