<div class="bootstrap-scope">
  <div class="row">
    <div class="<%= bootstrap_col xs: 12, md: 12 %>">
      <p class="instructions">
        We've been hard at work to make the various types of content you are
        viewing on FederalRegister.gov more clear and to improve the display of
        our documents.
      </p>
      <p>
        You can explore the some of the larger changes using the three tabs
        below. And you can read more about these changes and our reasons for
        doing so in our blog post
        <%= link_to 'here', "#{Settings.federal_register.base_uri}/reader-aids/recent-updates/2016/09/welcome-to-the-updated-federalregister-gov" %>.
        As always your feedback is welcome.
      </p>

      <nav>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#content-boxes" aria-controls="content-boxes" role="tab" data-toggle="tab">Content Boxes</a>
          </li>
          <li role="presentation">
            <a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Document Display</a>
          </li>
          <li role="presentation">
            <a href="#api" aria-controls="api" role="tab" data-toggle="tab">API Updates</a>
          </li>
        </ul>
      </nav>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="content-boxes">
          <p>
            Substantive content on FederalRegister.gov is now wrapped in content
            boxes that describe the type of content and its source. The title
            portion of these boxes can be hovered over (or clicked) to view these
            additional content descriptions.
          </p>

          <p><strong>Examples:</strong> (hover over titles for additional information)</p>

          <%= fr_content_box(
            FrBox.build(:published_document)
          ) do %>
            <div class="example">EXAMPLE</div>
          <% end %>

          <%= fr_content_box(
            FrBox.build(:public_inspection_document)
          ) do %>
            <div class="example">EXAMPLE</div>
          <% end %>

          <%= fr_content_box(
            FrBox.build(:reader_aid)
          ) do %>
            <div class="example">EXAMPLE</div>
          <% end %>

          <%= fr_content_box(
            FrBox.build(:enhanced_content)
          ) do %>
            <div class="example">EXAMPLE</div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="documents">
          <p>
            We've changed the way we display documents to make them easier to read
            and to make document tools more readily available.
          </p>
          <p>
            Documents are now displayed in a single column and we've improved
            the display of tables and images within the documents.
          </p>
          <p>
            We've also added a utility bar that contains document tools, access
            to other formats, social media tools, etc. You can find this on
            the right hand side of published documents.
          </p>

          <p><strong>Example:</strong></p>

          <%= image_tag asset_path('doc_preview.png') %>
        </div>
        <div role="tabpanel" class="tab-pane" id="api">
          <p>
            Everything on FederalRegister.gov now uses our API as its data
            source (with the exception of MyFR content). This is part of our ongoing
            commitment to maintain and expand our API.
          </p>

          <p>
            As part of this update we've added many more endpoints to our API
            to not only power FederalRegister.gov but also make it possible for
            external developers to do more. Take a look at our
            <%= link_to "interactive documentation", "/developers/api/v1/" %>
            to see these new endpoints.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
