<h3>
  There {{pluralize_array elements 'is' 'are'}} {{count elements}}
  {{pluralize_array elements 'subscription' 'subscriptions'}}
  available on this page.
</h3>

<ul class="subscription-list">
{{#each elements}}
  <li>
    <h4>{{ title }}</h4>

    <ul class="subscription-item">
      <li class="rss">
        <h5>
          <span class="icon-fr2 icon-fr2-rss"></span>
          Via RSS:
        </h5>
        <div>
          <a href="{{ href }}" title="RSS 2.0 Link">RSS 2.0 Link</a>
        </div>
      </li>
      {{#if emailSubscriptionAction }}
      <li class="email">
        <h5>
          <span class="icon-fr2 icon-fr2-message"></span>
          Via Email:
        </h5>
        <form method="post"
          id="subscription_{{@index}}" class="formtastic subscription">
          <fieldset class="inputs">
            <ol>
              <li>
                <input type="text" id="subscription_email"
                  name="subscription[email]" placeholder="Subscribe via E-Mail"
                  class="address" {{add_email_to_input ../../email_address}}>
              </li>
              <li>
                <ul>
                  <li class="radio optional" id="subscription_search_type_input">
                    <fieldset>
                      <legend class="label">
                        <label for="subscription_search_type">Notify when: </label>
                      </legend>
                      <ol>
                        <li class="{{#unless documentSubscriptionParams}}disabled{{/unless}}">
                          <label for="subscription_search_type_document"
                            {{#unless documentSubscriptionParams}}
                              title="This subscription is not available for documents that have been published." class="tip_under"
                            {{/unless}}>
                            <input id="subscription_search_type_document"
                              name="subscription[search_type]" type="radio"
                              {{#unless documentSubscriptionParams}}
                                disabled="disabled"
                              {{/unless}}
                              {{#defaultSubscriptionToDocument defaultSearchType}}
                                checked="checked"
                              {{/defaultSubscriptionToDocument}}
                              data-subscription-params="{{documentSubscriptionParams}}"
                              value="Document">

                            Published
                          </label>
                        </li>
                        <li class="{{#unless publicInspectionSubscriptionParams}}disabled{{/unless}}">
                          <label for="subscription_search_type_publicinspectiondocument"
                            {{#unless publicInspectionSubscriptionParams}}
                              title="This subscription is only available once documents have been published." class="tip_under"
                            {{/unless}}>

                            <input id="subscription_search_type_publicinspectiondocument"
                              name="subscription[search_type]" type="radio"
                              {{#unless publicInspectionSubscriptionParams }}
                                disabled="disabled"
                              {{/unless}}
                              {{#defaultSubscriptionToPIDocument defaultSearchType}}
                                checked="checked"
                              {{/defaultSubscriptionToPIDocument}}
                              data-subscription-params="{{publicInspectionSubscriptionParams}}"
                              value="PublicInspectionDocument">

                            Filed on Public Inspection
                          </label>
                        </li>
                      </ol>
                    </fieldset>
                  </li>
                </ul>
              </li>
            </ol>
          </fieldset>

          <fieldset class="buttons">
            <ol>
              <li class="commit button fr_button medium primary">
                <input class="browser_reset submit" name="commit" type="submit" value="Subscribe">
                <span class="loader"></span>
              </li>
            </ol>
          </fieldset>
        </form>
      </li>
      {{/if}}
    </ul>
  </li>
{{/each}}
</ul>
