<script nonce="<%= content_security_policy_nonce %>">
  document.getElementsByTagName('body')[0].className += ' has_js'
</script>

<a href="#main" title="Skip to Content" class="skip_to_content">
  Skip to Content
</a>

<div class="header" id="header_refresh">
  <div class="header_wrapper">
    <% if Settings.feature_flags.announcements %>
      <div class="announcement">
        <div class="announcement-inner">
          <%= esi site_notification_path(identifier: :announcement) %>
        </div>
      </div>
    <% end %>

    <div class="nav <%= 'announcement-present' if Settings.feature_flags.announcements %>" id="navigation">
      <ul class="container">
        <%= esi navigation_path %>
        <%= render partial: 'special/navigation/my_fr' %>
        <li>
          <%= link_to(nil, class: "mobile-only site-feedback-button top_nav", 'aria-label' => 'Site Feedback') do %>
            <%= fr_icon('Chat') %>
            Site Feedback
          <% end %>
        </li>
        </ul></li><%# Closes the non-essential nav opened in navigation ESI %>

        <li class="inline_search">
          <%= semantic_form_for 'conditions',
            as: :conditions,
            url: documents_search_path,
            html: {id: "nav-search", method: :get, class: "search-form"} do |f| %>

            <label for="term">Search the Federal Register</label>
            <%= f.text_field :term,
              class: 'search-term',
              placeholder: 'Search Documents',
              "aria-label" => 'Search Documents' %>

            <%= f.button fr_icon('Search').html_safe,
              class: 'search-submit',
              id: 'conditions_submit',
              "aria-label" => 'Search' %>
          <% end %>
        </li>
      </ul>
    </div>

    <%= esi csrf_protection_path %>

    <% header_type = yield(:header_type).present? ? yield(:header_type) : 'official' %>
    <%= render partial: 'special/site_header', locals: {
        header_type: header_type
      } %>
  </div>
</div>
