<script nonce="<%= content_security_policy_nonce %>">
  document.getElementsByTagName('body')[0].className += ' has_js'
</script>

<a href="#main" title="Skip to Content" class="skip_to_content">
  Skip to Content
</a>

<div class="header" id="header_refresh">
  <div class="header_wrapper">
    <% if Settings.feature_flags.announcements %>
      <div class="announcement">
        <div class="announcement-inner">
          <%= esi site_notification_path(identifier: :announcement) %>
        </div>
      </div>
    <% end %>

    <%= render partial: "special/navigation" %>

    <%= esi csrf_protection_path %>

    <% header_type = yield(:header_type).present? ? yield(:header_type) : 'official' %>
    <%= render partial: 'special/site_header', locals: {
        header_type: header_type
      } %>
  </div>
</div>
