<!DOCTYPE html>
  <head>
    <title>
      Federal Register
      <%= " :: " unless yield(:page_title).empty? %>
      <%= yield(:page_title) %>
    </title>

    <!-- Tell search engines to use the proper hostname and protocol -->
    <%= tag(:link, :rel  => 'canonical', :href => 'https://www.federalregister.gov' + request.fullpath.sub(/\/$/,'')) %>

    <link rel="alternate icon" type="image/png" href="<%= image_url('fr2_favicon.png') %>">
    <link rel="icon" type="image/svg+xml" href="<%= image_url('fr2_favicon.svg') %>">
    <link rel="apple-touch-icon" href="<%= image_url('fr2_favicon.png') %>">

    <meta name="viewport" content="initial-scale=1.0">

    <%= render partial: 'layouts/meta_tags' %>
    <%# Facebook uses these for parsing when someone adds a link  %>
    <%# TODO: for facebook image below, show curated image if present %>
    <link rel="image_src" href="https://www.federalregister.gov/images/fbdisplay.jpg" />

    <%= stylesheet_link_tag asset_path('vendor.css'), media: "all" %>
    <%= stylesheet_link_tag asset_path('application.css'), media: "all" %>
    <%= stylesheet_link_tag asset_path('print.css'), media: "print" %>

    <%= javascript_include_tag asset_path('vendor.js'), nonce: content_security_policy_nonce %>
    <%= javascript_include_tag asset_path('application.js'), nonce: content_security_policy_nonce %>

    <%= yield :javascripts %>
    <%= yield :feeds %>

    <%= add_handlebars_template('flickr_exit_modal') %>
    <%= add_handlebars_template('print_disclaimer') %>

    <!-- email suggestion templates -->
    <%= add_handlebars_template('email_suggestion') %>
    <%= add_handlebars_template('email_invalid') %>

    <!-- comment feature templates -->
    <%= add_handlebars_template('comment_header') %>
    <%= add_handlebars_template('new_comment_byline') %>
    <%= add_handlebars_template('comment_attachment_upload') %>
    <%= add_handlebars_template('comment_attachment_complete') %>
    <%= add_handlebars_template('comment_summary') %>
    <%= add_handlebars_template('comment_preview') %>
    <%= add_handlebars_template('regulations_dot_gov_attachment_requirements') %>
    <%= add_handlebars_template('comment_print_summary') %>
    <%= add_handlebars_template('agency_comment_selection') %>

    <!-- tender modal for directing users to proper spots for comment -->
    <%= add_handlebars_template('interstitial_tender_modal') %>
    <%= add_handlebars_template('zendesk_feedback_modal') %>
    <%= add_handlebars_template('feedback_success') %>

    <!-- subscription modal for selecting from multiple subscription options -->
    <%= add_handlebars_template('subscription_modal') %>

    <!-- external link warning -->
    <%= add_handlebars_template('external_link_warning_modal') %>

    <!-- page specific templates -->
    <%= yield :templates %>
  </head>

  <body id="<%= controller_name %>" class="<%= action_name %>" data-environment="<%= Rails.env %>" data-honeybadger-js-api-key="<%= Rails.application.secrets.honeybadger_js_api_key %>" data-honeybadger-js-comment-submission-api-key="<%= Rails.application.secrets.honeybadger_js_comment_submission_api_key %>">
    <%= render partial: 'layouts/site_header' %>

    <%= esi site_notification_path(:identifier => :global) %>

    <main>
    <div id="main">
      <div id="print-disclaimer">
        <%= fr_content_box(
          FrBox.build(
            'public_inspection_document',
            title: 'Legal Status',
            header: { hover: false }
          )
        ) do %>
          <p>
            This site displays a prototype of a “Web 2.0” version of the daily
            Federal Register. It is not an official legal edition of the Federal
            Register, and does not replace the official print version or the official
            electronic version on GPO’s govinfo.gov.
          </p>

          <p>
            The documents posted on this site are XML renditions of published Federal
            Register documents. Each document posted on the site includes a link to the
            corresponding official PDF file on govinfo.gov. This prototype edition of the
            daily Federal Register on FederalRegister.gov will remain an unofficial
            informational resource until the Administrative Committee of the Federal
            Register (ACFR) issues a regulation granting it official legal status.
            For complete information about, and access to, our official publications
            and services, go to
            <a href="https://www.archives.gov/federal-register/the-federal-register/about.html" title="About the Federal Register">
              About the Federal Register
            </a>
             on NARA's archives.gov.
          </p>

          <p>
            The OFR/GPO partnership is committed to presenting accurate and reliable
            regulatory information on FederalRegister.gov with the objective of
            establishing the XML-based Federal Register as an ACFR-sanctioned
            publication in the future. While every effort has been made to ensure that
            the material on FederalRegister.gov is accurately displayed, consistent with
            the official SGML-based PDF version on govinfo.gov, those relying on it for
            legal research should verify their results against an official edition of
            the Federal Register. Until the ACFR grants it official status, the XML
            rendition of the daily Federal Register on FederalRegister.gov does not
            provide legal notice to the public or judicial notice to the courts.
          </p>
        <% end %>
      </div>

      <%= yield(:title_bar) %>

      <%= yield %>
    </div>
    </main>

    <%= esi footer_path %>
  </body>
</html>
