<!DOCTYPE html>
  <head>
    <title>My FR <%= ":: #{yield(:page_title)}" unless yield(:page_title).empty? %></title>
    <esi:include src="/layout/head_content?page_to_track=<%= yield(:page_to_track) %>" />

    <%= javascript_include_tag my_asset_path('application.js') %>
  </head>

  <body id="my_fr2">
    <esi:include src="/layout/header" />

    <div id="main">
      <esi:include src="<%= special_site_notifications_path(:identifier => :global) %>" />
      <%= yield %>
    </div>
    
    <esi:include src="/layout/footer" />
  </body>
</html>
