<!DOCTYPE html>
  <head>
    <title>Federal Register <%= ":: #{yield(:page_title)}" unless yield(:page_title).empty? %></title>
    <esi:include src="/layout/head_content?page_to_track=<%= yield(:page_to_track) %>" />

    <%# Facebook uses these for parsing when someone adds a link  %>
    <%= tag(:meta, :name => 'title', :content => yield(:page_title) ) if yield(:page_title) %>
    <%= tag(:meta, :name => 'description', :content => yield(:description) ) if yield(:description) %>

    <%= javascript_include_tag my_asset_path('application.js') %>
    <%= yield :feeds %>
  </head>

  <body id="my_fr2">
    <% header_type = yield(:header_type).present? ? yield(:header_type) : 'official' %>

    <esi:include src="/layout/header?header_type=<%= header_type %>" />

    <div id="main">
      <div id="<%= yield(:page_controller) %>" class="<%= yield(:page_action) %>">
        <%= yield %>
      </div>
    </div>

    <esi:include src="/layout/footer" />
  </body>
</html>
