<!DOCTYPE html>
  <head>
    <title>Federal Register <%= ":: #{yield(:page_title)}" unless yield(:page_title).empty? %></title>
    <%= esi layout_head_content_path(yield(:page_to_track)) %>

    <%# Facebook uses these for parsing when someone adds a link  %>
    <%= tag(:meta, :name => 'title', :content => yield(:page_title) ) if yield(:page_title) %>
    <%= tag(:meta, :name => 'description', :content => yield(:description) ) if yield(:description) %>

    <%= javascript_include_tag asset_path('application.js') %>
    <%= yield :feeds %>
  </head>

  <body id="my_fr2">
    <% header_type = yield(:header_type).present? ? yield(:header_type) : 'official' %>

    <%= esi layout_header_path(header_type) %>
    <%= esi site_notification_path(:identifier => :global) %>

    <div id="main">
      <div id="<%= yield(:page_controller) %>" class="<%= yield(:page_action) %>">
        <%= yield %>
      </div>
    </div>

    <%= esi footer_path %>
  </body>
</html>
