<div class="site-footer" id="footer">
        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Home</h2>
          <ul class="bullets">
            <li><a href="/" title="Home">Home</a></li>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Sections</h2>
          <ul class="bullets">
            <% @sections.each do |section| %>
              <li><%= link_to section.title, section_path(section) %></li>
            <% end %>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Browse</h2>
          <ul class="bullets">
            <li><%= link_to "Agencies", agencies_path %></li>
            <li><%= link_to "Topics (CFR Indexing Terms)", topics_path %></li>
            <li><%= link_to 'Dates', current_document_issue_path %></li>
            <li><%= link_to 'Public Inspection', current_public_inspection_issue_path %></li>
            <li><%= link_to 'Executive Orders', presidential_documents_path('executive-orders') %></li>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Search</h2>
          <ul class="bullets">
            <li><%= link_to 'Document Search', documents_search_path %></li>
            <li><%= link_to 'Advanced Document Search', documents_search_path(:anchor => 'advanced') %></li>
            <li><%= link_to 'Public Inspection Search', public_inspection_search_path %></li>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Reader Aids</h2>
          <ul class="bullets">
            <% @reader_aids_sections.each do |section_slug, section_content| %>
              <li><%= link_to section_content[:title], reader_aids_section_path(section_slug) %></li>
            <% end %>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>My FR</h2>
          <ul class="bullets">
            <% @my_fr_presenter.sections.each do |section_name, url| %>
              <li><%= link_to section_name, url %></li>
            <% end %>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Information</h2>
          <ul class="bullets">
            <li><%= link_to "About This Site", reader_aid_path('government-policy-and-ofr-procedures', 'about-this-site') %></li>
            <li><%= link_to "Legal Status", reader_aid_path('government-policy-and-ofr-procedures', 'about-this-site', anchor: 'legal-status') %></li>
            <li><%= link_to "Contact Us", reader_aid_path('government-policy-and-ofr-procedures', 'contact-us') %></li>
            <li><%= link_to "Privacy", reader_aid_path('government-policy-and-ofr-procedures', 'privacy') %></li>
            <li><%= link_to "Accessibility", reader_aid_path('government-policy-and-ofr-procedures', 'accessibility') %></li>
            <li><%= link_to "FOIA", reader_aid_path('government-policy-and-ofr-procedures', 'foia') %></li>
            <li><%= link_to "No Fear Act", 'https://www.archives.gov/eeo/policy/no-fear-notice.html' %></li>
            <li><%= link_to "Continuity Information", 'https://www.archives.gov/federal-register/write/newsletter/2024-may' %></li>
          </ul>
        </div>

  <div id="zendesk-link">
    <a href="" class="btn site-feedback-button" aria-label="Site Feedback">
      <%= fr_icon 'Chat' %>
      <span class="desktop-only">Site Feedback</span>
    </a>
  </div>
</div>
