<div class="site-footer" id="footer">
<%= bootstrap_context_wrapper do %>
  <div class="row">
    <div class="<%= bootstrap_col xs: 12, md: 12 %> wrapper">

      <div class="row">
        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Home</h2>
          <ul class="bullets">
            <li><a href="/" title="Home">Home</a></li>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Sections</h2>
          <ul class="bullets">
            <% @sections.each do |section| %>
              <li><%= link_to section.title, section_path(section) %></li>
            <% end %>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Browse</h2>
          <ul class="bullets">
            <li><%= link_to "Agencies", agencies_path %></li>
            <li><%= link_to "Topics (CFR Indexing Terms)", topics_path %></li>
            <li><%= link_to 'Dates', current_document_issue_path %></li>
            <li><%= link_to 'Public Inspection', current_public_inspection_issue_path %></li>
            <li><%= link_to 'Executive Orders', presidential_documents_path('executive-orders') %></li>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Search</h2>
          <ul class="bullets">
            <li><%= link_to 'Document Search', documents_search_path %></li>
            <li><%= link_to 'Advanced Document Search', documents_search_path(:anchor => 'advanced') %></li>
            <% if Settings.feature_flags.unified_agenda.search %>
              <li><%= link_to 'Unified Agenda Search', unified_agenda_search_path %></li>
            <% end %>
            <li><%= link_to 'Public Inspection Search', public_inspection_search_path %></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Reader Aids</h2>
          <ul class="bullets">
            <% @reader_aids_sections.each do |section_slug, section_content| %>
              <li><%= link_to section_content[:title], reader_aids_section_path(section_slug) %></li>
            <% end %>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>My FR</h2>
          <ul class="bullets">
            <% @my_fr_presenter.sections.each do |section_name, url| %>
              <li><%= link_to section_name, url %></li>
            <% end %>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Social Media</h2>
          <ul class="bullets">
            <li><%= link_to "Facebook", 'https://www.facebook.com/FederalRegister/' %></li>
            <li><%= link_to "Twitter", 'https://twitter.com/FedRegister' %></li>
          </ul>
        </div>

        <div class="<%= bootstrap_col xs: 3, md: 3 %>">
          <h2>Information</h2>
          <ul class="bullets">
            <li><%= link_to "About This Site", reader_aid_path('government-policy-and-ofr-procedures', 'about-this-site') %></li>
            <li><%= link_to "Legal Status", reader_aid_path('government-policy-and-ofr-procedures', 'about-this-site', anchor: 'legal-status') %></li>
            <li><%= link_to "Contact Us", reader_aid_path('government-policy-and-ofr-procedures', 'contact-us') %></li>
            <li><%= link_to "Privacy", reader_aid_path('government-policy-and-ofr-procedures', 'privacy') %></li>
            <li><%= link_to "Accessibility", reader_aid_path('government-policy-and-ofr-procedures', 'accessibility') %></li>
            <li><%= link_to "FOIA", reader_aid_path('government-policy-and-ofr-procedures', 'foia') %></li>
            <li><%= link_to "No Fear Act", 'https://www.archives.gov/eeo/policy/no-fear-notice.html' %></li>
            <li><%= link_to "Continuity Information", 'https://www.archives.gov/federal-register/contact.html#coop' %></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <a href="https://federalregister.tenderapp.com/discussion/new?discussion" id="tender" class="trigger_tender">
    <%= fr_icon 'lightbulb-active' %>
    Site Feedback
  </a>

  <%= render partial: 'layouts/google_analytics',
    locals: {custom_page_to_track: @page_to_track} %>

  <script nonce="<%= content_security_policy_nonce %>">
    Tender = {
      hideToggle: true,
      widgetToggles: $(".trigger_tender")
    }
  </script>

  <%= javascript_include_tag asset_path('tender_widget_custom.js'), nonce: content_security_policy_nonce %>

  <% if Rails.env.production? %>
    <%= javascript_include_tag asset_path('tender_widget_custom.js'), async: true, nonce: content_security_policy_nonce %>
  <% end %>
<% end %>
</div>
